[2018-04-24 09:53] mandiayba commented on #33
@dumitrescustefan it works.

Just a last thing, you are using --input=value (--output=value), I think the right syntax has to be --input value (--output value). Your command must be the following

[code]

@galanisd could you confirm the syntax ?

[2018-04-24 09:55] greenwoodma commented on #35
Yes it's mandatory. It's responsible for pulling the corpora from the OMTD store ready for processing. This is similar to the standard Galaxy data input components that usually start a workflow but specific to OpenMinTeD

Yes it converts PDF files to XMI. The assumption is that most corpora will consist only of PDF files (this is usually true for academic corpora) and that the components can all h

[2018-04-24 10:07] saxtouri commented on #38
From a non-MTD perspective, I understand that our tools/components need three things:
1. software
2. auxiliary data (e.g. dictionaries)
3. input data

We currently keep 1 (software) and 2 (auxiliary data) packed in the docker image. We let the user upload 3 (input data) to the system, which ends up being stored in a shared space, accessible by the docker containers.

# What we could do
If we could

[2018-04-24 10:08] mhabsaoui commented on #35
@greenwoodma Can I rapidly test with Text corpus as input => workflow = Importer + Component only ?

It seems yes.
![image](https://user-images.githubusercontent.com/18755135/39181035-b19fb1ea-47b8-11e8-9bb7-7af70b5b9157.png)

[2018-04-24 10:12] stephane54 commented on #35
@antleb and @greenwoodma, is it possible to create  a new specific issue for ISTEX- CONNECTOR so that we can clearly distinguish TermSuite discussion from ISTEX-Conncetor discussion.
Can I do this ?
Stéphane

[2018-04-24 10:14] greenwoodma commented on #38
@saxtouri I'm not sure I follow this. Are you saying that the simple action of downloading a docker image ready to execute it is so fragile that it can pull down the entire system? If that's the case then we have bigger problems than the size of the docker images.

[2018-04-24 10:15] greenwoodma commented on #35
@stephane54 yes, a separate issue makes sense. You should be able to create a new issue by clicking the "New Issue" at the top right of this page.

[2018-04-24 10:16] mhabsaoui commented on #35
@greenwoodma @galanisd

Where do we find our input/output result files when processing done ?

![image](https://user-images.githubusercontent.com/18755135/39181224-4a04d58c-47b9-11e8-8b8d-005369ab58aa.png)

Edit, found it, but zip archives are empty !

![image](https://user-images.githubusercontent.com/18755135/39181354-ac678e5e-47b9-11e8-8a03-2f13a81ab492.png)
![image](https://user-images.githubu

[2018-04-24 10:16] greenwoodma commented on #35
@mhabsaoui yes, if you create a corpus containing txt files and your component can handles those then yes you can leave the PdfReader component out and just use the importer and your component

[2018-04-24 10:20] greenwoodma commented on #35
Not on that page; again you shouldn't be visiting random galaxy pages. Only ever access the editor via the links in the OMTD UI, and don't randomly edit the URL to access other areas of Galaxy. It would appear from that screenshot that you have tried to run the workflow directly from galaxy on the editor instance. This isn't where we run workflows and so the output from that execution won't be acc

[2018-04-24 10:22] saxtouri commented on #38
@greenwoodma No, sorry for the exaggeration. What I meant was that if someone runs a few of this gigantic docker images, it will render the cluster nodes unusable ("no space left on device"), until we clean it up manually.

[2018-04-24 10:25] greenwoodma commented on #38
@saxtouri phew, you had me worried for a moment.

Can we not automatically clean up and remove the docker images once an execution has completed

[2018-04-24 10:27] gkirtzou commented on #33
@dumitrescustefan could you send me the landing page with the latest version of the component/app along with its xml record? So I would try to test it also?
Thanks

[2018-04-24 10:31] pennyl67 commented on #35
@mhabsaoui sorry, that bit on where to edit and run the workflow was my mistake! @greenwoodma is right about the procedure
And thanks for the metadata! I checked it, it's mostly ok with the only doubt as to the output resource: it looks as if it's the same with the term extractor's ones, while based on the name of the component (preprocessor), I would expect something different. O- once the testin

[2018-04-24 10:34] mhabsaoui commented on #35
@greenwoodma

I didn't, just went to my previously created worklow (as recommended by @pennyl67 )!
![image](https://user-images.githubusercontent.com/18755135/39181482-20adfe92-47ba-11e8-971e-b665b18f960f.png)

So retried from OMTD UI, here we go again...

![image](https://user-images.githubusercontent.com/18755135/39182039-c49b815e-47bb-11e8-84e6-ade6848019ef.png)

[2018-04-24 10:35] pennyl67 commented on #38
@saxtouri @greenwoodma The auxiliary data can be uploaded to the registry separately - we have the i/f for adding the (in)famous ann,otation resources & models & grammars. But as far as I know we don't have yet any code for downloading them from where they are, storing them and feeding them to the components.

[2018-04-24 10:36] mhabsaoui commented on #35
@pennyl67 You're right and I am waiting for your improvements to follow...

[2018-04-24 10:38] greenwoodma commented on #35
Yes and as @pennyl67 points out her suggestion of how to access the workflow was wrong. The problem is that you don't even know if that is your workflow, or which version of it, as we remove and edit the workflow definitions behind the scenes when you click to edit from the OMTD UI. If you go straight to the editor (and as I've said there should really be a firewall rule stopping you from doing th

[2018-04-24 10:39] galanisd commented on #35
@mhabsaoui @pennyl67 @greenwoodma

Editor shouldn't be used directly from here: _URL removed to avoid confusion_
It should be used only via Registry.

[2018-04-24 10:41] reckart opened #39 "SSH UC NER - Hackathon"
Trying to get the Stanford NER running with the UC SSH NER model....

[2018-04-24 10:42] greenwoodma commented on #35
agreed, for those with access to redmine I've opened an issue about cutting off access to the bits of this Galaxy instance that shouldn't be accessible: http://redmine.openminted.eu/issues/806

[2018-04-24 10:42] reckart commented on #39
I can find this component when searching for components on test.openminted.eu: https://test.openminted.eu/landingPage/component/452f72e9-4bf4-4987-960e-3b9e51e4d583

But when I create a new workflow, the component is not available in the sidebar...

[2018-04-24 10:46] pennyl67 commented on #35
--

@greenwoodma for the time being, I've removed the links from the messages so that they're not visible

[2018-04-24 10:52] dumitrescustefan commented on #33
@gkirtzou here it is: https://test.openminted.eu/landingPage/component/5f796253-c00d-432a-9c3a-11b4d586ed50

I also updated the main.py according to @mandiayba correction. True, input and output should not have "=" in them, only "--param:". I retested and parameter ingestion should be ok now, thanks for the tip.

[2018-04-24 10:54] twktheainur commented on #36
@pennyl67 Thank you for the feedback, a corner case wasn't handled properly. I have pushed a fix. I am attaching the corrected version of the three incriminated records

[DOCC_NCC_NCCO.zip](https://github.com/openminted/Open-Call-Discussions/files/1942388/DOCC_NCC_NCCO.zip)

[2018-04-24 10:55] saxtouri commented on #38
@greenwoodma I will work on this idea of automatically cleaning up the images when they have finished executing. Obviously is not an optimal solution, images will have to be redownloaded every time, but it could relieve the system from getting out of space.

@pennyl67 @galanisd  I could create a shared storage space where the Registry will store auxiliary data. If the Workflow Service is aware of

[2018-04-24 11:02] pennyl67 commented on #38
@saxtouri @galanisd @greenwoodma Not as easy as it sounds: we need to ensure that the auxiliary data is uniquely identified - can be done via the metadata (resourceIdentifier) but I don't know how easy it is to pass all this info through the registry, workflow etc.

[2018-04-24 11:22] pennyl67 commented on #36
@twktheainur Thanks! Then all the files are now valid.

[2018-04-24 11:26] saxtouri commented on #38
@pennyl67 @galanisd @greenwoodma  Since we brainstorm, another idea is to use a shared space just for pulled images and configure docker to use it. Due to the *awesome* way docker stores pulled images, this idea won't be hard to implement.

Still, we might have some redundancy issues when the same image is pulled by two hosts. A solution to this problem could be to pre-pull the image to the shared

[2018-04-24 11:27] greenwoodma commented on #38
sounds like a sensible solution to me @saxtouri -- I don't know enough about docker or the cloud setup to really help, but if you think it should work and it solves your concerns then it gets my vote!

[2018-04-24 11:33] gkirtzou commented on #33
@dumitrescustefan could you make your component public, because I cannot have access to it? Thanks

[2018-04-24 11:33] stephane54 commented on #35
Dear @greenwoodma ,  the issue already exists.
[https://github.com/openminted/Open-Call-Discussions/issues/12](12)
Just need to be turn into a hackathon subject

[2018-04-24 11:42] saxtouri commented on #38
OK, I will run an experiment today to check if it works. If everything seems right, I will apply the recipe on "testing" tomorrow.

Even if it does work, though, we need to make changes to Registry and/or Workflow Service to ensure that docker images will be pulled *before* they are executed.

[2018-04-24 11:44] AlexJoom commented on #19
We uploaded version 1.0.4
[Services landing page](https://services.openminted.eu/landingPage/component/9923c8bf-09fa-4156-b7fa-4a2b3e75d030)
[Test landing page](https://test.openminted.eu/landingPage/component/011c7f5d-b88e-44ba-8b27-c6e70b8181d1)

this one let's exceptions propagate

[2018-04-24 11:53] gkirtzou commented on #38
To get an idea of the docker images sizes that come from Open Call II

- IXA_pipes (ragerri/de-ixa-pipes-omtd:0.1.0) :  400 MB. IXA has 8 different images one per language
- Alex (abravp/openminted_scisumservices:1.0.0) **26.1GB**
- BOLSTM (andrelamurias/bolstm:omtd)  8.66 GB
- Jones - Pubrunner hackathon (jakelever/pubrunner:0.3.1), 1.3GB
- Taln - Freeling (taln/openminted_freeling:1.0)  6.77GB
-

[2018-04-24 11:54] antleb commented on #38
We decided that the auxiliary resources should be bundled with the executable code inside the docker images because we didn't have enough time to design and implement a way to pass resources to the docker image (a way that covers all cases: file formats, one or more files per resource, etc).
We have 2 ways to handle the size problem:

- make no assumptions about the resource's format and when they

[2018-04-24 11:59] galanisd commented on #30
@jakelever
Thanks! For some reason the update you did it didn't triggered the process of generating a new Galaxy wrapper (and deleting the old one).
@antleb @courado

But no problem. I re-registered
https://test.openminted.eu/landingPage/application/PubRunnerDGv3
and everything worked as expected.

Then I ran a test.
PubRunner + Thalamus corpus
and got results.

![screenshot from 2018-04-24 14 41

[2018-04-24 12:01] dumitrescustefan commented on #33
@gkirtzou  done, sorry for the delay. Thank you

[2018-04-24 12:02] greenwoodma commented on #35
Ah, I see. I've updated the issue title so it should get more exposure

[2018-04-24 12:02] galanisd commented on #19
Please can we discuss the issue in one hour 14:00 BST -- 16:00 Greek time?

I will have a look in v.1.04 right now.

[2018-04-24 12:04] AlexJoom commented on #19
yes, i ll be on hangouts (alexandros.tzoumas@gmail.com) or skype ( alexandros.tzoumas@outlook.com)

[2018-04-24 12:05] greenwoodma commented on #19
yes, that works for me

[2018-04-24 12:10] pennyl67 commented on #38
@saxtouri @greenwoodma @antleb I think we all agree that the simplest solution must be followed. So, waiting for @saxtouri 's experiment to (hopefully!) work.

[2018-04-24 12:16] mhabsaoui commented on #35
@galanisd @greenwoodma Well, as you can see on screenshot, we still got the forever running issue ?!
You are looking into it ?

[2018-04-24 12:24] greenwoodma commented on #35
@mhabsaoui assuming I've managed to find the right invocation, it looks as if it failed when trying to run the PdfReader (which I thought you were leaving out so maybe I've got the wrong workflow; i.e. used the ID from your screenshot above). Looking at the command being run I can't see the pattern param being set. Did you set this when configuring the PdfReader component within the workflow? It n

[2018-04-24 12:29] mhabsaoui commented on #35
@greenwoodma As said a bit earlier, I removed the PDF-reader, only dataImporter (to import our test text Corpora) + component are in the workflow !
We wanted to see this simple test first running before going forward...

![image](https://user-images.githubusercontent.com/18755135/39186871-0d4b9852-47cc-11e8-844b-3415d0d96c3b.png)

[2018-04-24 12:31] greenwoodma commented on #35
@mhabsaoui that's what I thought, which is why I wondered if I'd got the right workflow. If you open the workflow in the editor (don't save it though as that messes things up) can you give me the ID? That's the weird string of letters and numbers to the right of where it says "Workflow Canvas" at the top of the editor.

[2018-04-24 12:35] mhabsaoui commented on #35
@greenwoodma
Workflow Canvas | 0931732081731845-36c62926-779e-43e9-acef-2c2d3b2488c8

[2018-04-24 12:39] mhabsaoui commented on #35
@pennyl67

Yes, It should rather be **DocumentAnnotationType** (as Preprocessor's output is the same annotationType for Extractor's input). Right ?

[2018-04-24 12:45] galanisd commented on #19
Seems that the OpenNLP model is never loaded...Not sure.

[code]

[2018-04-24 12:46] gkirtzou commented on #33
@dumitrescustefan in your metadata you mention that the input must be XMI annotated at the Document Section level (http://w3id.org/meta-share/omtd-share/DocumentSection), is that correct?

[2018-04-24 12:53] greenwoodma commented on #35
@mhabsaoui  so it looks as if the workflow still has the PdfReader in it on the executor instance, as that is the same workflow I looked at before, and as I say it fails when trying to run the PdfReader. Could you double check you don't have the PdfReader in the workflow accidentally.

@antleb @courado @galanisd any idea why the workflow hasn't been copied correctly to the executor if the PdfReade

[2018-04-24 12:56] dumitrescustefan commented on #33
I think I selected Document in the sense that we are dealing with full, raw, documents.
Actually, we extract the raw text from existing XMI files and simply convert them to .txt. From there we start the processing. So we do not require any input annotation (we actually ignore existing annotations), but I had to fill something in as I could not leave the field empty (and also could not find somethi

[2018-04-24 13:00] galanisd commented on #19
In one project ...I use something like this...
[code]

[2018-04-24 13:01] mhabsaoui commented on #35
@greenwoodma  Nope.

![image](https://user-images.githubusercontent.com/18755135/39188542-53351e20-47d0-11e8-92ac-f96e293321dc.png)

I did already used once the save button (when removing PDF reader) and it went well.

[2018-04-24 13:02] gkirtzou commented on #33
@dumitrescustefan You completed the metadata from the platform editor, right? If that's the case then, there is a small error in the editor as the annotation type for the input is not obligatory, but in the editor it is declared as obligatory. So keep it in mind, so when you update the metadata, you must remove it, as it is misleading from what you expect as input. :)

[2018-04-24 13:13] dumitrescustefan commented on #33
@gkirtzou Ok, will keep in mind. I will refill all metadata and link it here for one final check. Thanks!

[2018-04-24 13:19] reckart commented on #19
Mind that resources retrieved from the classpath cannot be accessed as a file in most cases because the resource usually resides in a JAR file. Such code normally only works in the IDE. The general approach is to open the URI/URL as a stream.

[2018-04-24 13:26] galanisd commented on #19
This is correct..The example that I provided will probably not work outside an IDE. I will try to find something that does what we want.

[2018-04-24 14:10] gkirtzou commented on #33
@dumitrescustefan I tried to run your component creating a simple application (omtd importer + pdf to xmi converter + umpmt4 component) and it failed. The container exited with code 137.  Below you can see the log I got
[code]
How much memory does your component require in order to run?

[2018-04-24 14:12] dumitrescustefan commented on #33
Dynet preallocates 2GB of RAM. It will probably work with 1 GB as well.  Is there a limit on RAM allocated for the machine? Right now it should require ~3GB to work.

[2018-04-24 14:18] galanisd commented on #29
This is probably our fault. We have to re-create the workflow with which we were testing your  component.

Usually java allocates more than 450M by default. So, I just asked to be sure that it is not a typo. Put something that is appropriate for your component.

Ok keep them as they are now.

I had a look in https://github.com/TalnUPF/OpenMinted_Freeling/blob/master/process.sh again.
The important

[2018-04-24 14:18] greenwoodma commented on #35
Very odd. Could you try editing the workflow (i.e. open it in the editor and just move a component around a bit), saving it, and then running it again. This should ensure the right version ends up on the executor.

[2018-04-24 14:19] gkirtzou commented on #33
Unfortunately, for the moment each container is restricted to just 2G or RAM and 1 core of CPU. Is it possible to restrict your component this limits somehow?
See also https://github.com/openminted/Open-Call-Discussions/issues/28#issuecomment-382421137

[2018-04-24 14:19] AndreLamurias commented on #32
I've created an application just with the component and uploaded a sample corpus and got "System error getting execution status (Server responded: undefined)". Do you have any info about what could have gone failed? Anything I can fix?

[2018-04-24 14:21] ludovicwalle commented on #12
**ContentConnector.search** (continuation) ?

To get around the limits of ISTEX searches using _from_ an _to_, I simulate them by ignoring the _from_ first results. Inefficient but functional. Does these values start at 0 or 1. In other words, if _from_ is 1, do I have to ignore 0 or 1 result ?

How should be handled invalids _from_ and _to_ (either negative values, or _from_ >= _to_) ?
What shoul

[2018-04-24 14:22] dumitrescustefan commented on #33
I pushed a 1GB version for Dynet. This version should work with everything within 2GB of RAM.

[2018-04-24 14:25] gkirtzou commented on #32
@AndreLamurias in order to test your component you need to create a workflow with the omtdImporter as a first step and then your component as a second step.

[2018-04-24 14:27] gkirtzou commented on #33
@dumitrescustefan did you update the docker image?

[2018-04-24 14:31] dumitrescustefan commented on #33
yes I did, it's pushed to dockerhub

On Apr 24, 2018, 17:27, at 17:27, Katerina Gkirtzou <notifications@github.com> wrote:

[2018-04-24 14:31] gkirtzou commented on #33
Ok, I will try to retrieve it again and run my test

[2018-04-24 14:33] gkirtzou commented on #32
I will try also to test your component tomorrow. I will let you know how will that go.

[2018-04-24 14:34] mhabsaoui commented on #35
@greenwoodma If I am not wrong, I have edited the workflow from [here](https://test.openminted.eu/galaxy/workflow/) on first time.

I then also tried to modify it from OMTD-UI right now, it seems ok for persisting modifications and still non-ending job...

[2018-04-24 14:37] greenwoodma commented on #35
If you edited it directly via that link rather than through the proper links in the platform UI as discussed earlier then chances are the workflow is messed up as it won't get synced properly. You may need to recreate it from scratch using the proper links in the UI

[2018-04-24 14:45] mattshardlow commented on #37
Update: I have completed the first version of the components and registered for an account on Sonatype. I have set up the Maven deployment for my components, however I am getting a 403 error when I deploy a test component (see: https://github.com/MMU-TDMLab/UIMA/blob/master/MavenUploadTest/pom.xml). I have registered an issue with sonatype's issue tracker and I'm hoping to get a response from them

[2018-04-24 14:54] gkirtzou commented on #33
@dumitrescustefan  Ok, now I can invoke your component, but I got the following error

[code]

The problem might be that the output folder does not exist. Your component needs to verify that it creates an output folder, if such folder does not exist.
See also : https://github.com/openminted/Open-Call-Discussions/issues/30#issuecomment-382900045

[2018-04-24 15:00] AndreLamurias commented on #32
ok thanks! I'm trying to edit the workflow but it gets stuck while saving

[2018-04-24 15:27] dumitrescustefan commented on #33
@gkirtzou I uploaded on dockerhub a new image that tests if the output path exists and creates it if it doesn't. Could you please retest? Thanks!

[2018-04-25 07:44] saxtouri commented on #38
Bad news everyone, the experiment did not work, at least initially. The docker storage manager we have installed on our setup does not support image sharing between different docker engines, and this is by design. Although images consist of the same sha256 blocks, the storage manager uses some random-looking ids to point at them, which differ from engine to engine.

The hope is not lost, though. M

[2018-04-25 07:46] mhabsaoui commented on #35
@greenwoodma @galanisd It seems we can't delete the workflow app ?, to recreate it from scratch...

![capture du 2018-04-25 09-44-38](https://user-images.githubusercontent.com/18755135/39232384-69f73bc8-486d-11e8-9a00-32bde55cb270.png)

[2018-04-25 07:47] greenwoodma commented on #35
@mhabsaoui okay that looks like a bug. It doesn't matter for testing though, just create a new app and give it a different name (add v2 to the end or something) so you can tell them apart.

[2018-04-25 07:54] mhabsaoui commented on #35
@greenwoodma @galanisd Is it normal it **stills forever** to register a new workflow ? If I remember well, it did the same on first created one, we had to refresh to get back and re-save again...

![capture du 2018-04-25 09-51-56](https://user-images.githubusercontent.com/18755135/39232754-9c44b870-486e-11e8-830b-31e6513ca76a.png)

[2018-04-25 08:20] greenwoodma commented on #35
It might just be that the test instance is slow due to load. It's not a particularly beefy VM, and I know that sometimes it seems quite slow. The production VM is a lot better, but I wouldn't expect it to be so slow you had to refresh and try again, that sounds more like a bug somewhere.

[2018-04-25 08:34] mhabsaoui commented on #35
@greenwoodma

Unfortunately, more like it. Still spinning on my screen...

On my console logging => `"error":"Transaction rolled back because it has been marked as rollback-only"`

[2018-04-25 08:37] joancf commented on #29
Ok you have a new docker, now it runs from any place. and I don't change the folder

I haven't reregistered the component, just updated the docker. I think I'm still in 1.0

[2018-04-25 08:39] joancf commented on #29
If it's ok I'll do the same changes in the babelnet component

[2018-04-25 09:20] greenwoodma commented on #35
@mhabsaoui yes looks like something is broken as it doesn't work for me either.

@smartziou @antleb it seems that trying to build a new workflow on test is currently broken as the page to edit the metadata never loads properly: the spinner just sits there indefintely. I can't see anything obvious in the console or network tab (I get 500 errors if I refresh the page because of transaction rollback

[2018-04-25 09:39] galanisd commented on #31
@ArneBinder Any updates?

[2018-04-25 12:58] reckart commented on #39
@galanisd is it not possible anymore to register DKPro Core SNAPSHOT artifacts via Maven on test.openminted.eu?

[2018-04-25 13:01] greenwoodma commented on #39
test.openminted.eu seems to be completely broken for registering components and building workflows at the moment, as the metadata pages won't load properly.

[2018-04-25 13:02] reckart commented on #39
Well, I could register a released component from DKPro Core 1.9.1 - but I have made some enhancements in 1.9.2-SNAPSHOT and would like to test them.

[2018-04-25 13:14] galanisd commented on #39
I just registered "Compound Annotator" DKPro Core 1.9.1 via "upload XML". Everything OK.

Before that I registered a Docker-based component. No issues also.

Yes at some point today Registry was slow and had issues. However, in the last hour I fixed a bug in
Galaxy wrapper generation and redeployed test.openminted.eu.

[2018-04-25 13:15] reckart commented on #39
@galanisd Didn't you say that the UKP SNAPSHOT Maven repos are also accessible by the registry/workflow execution?

[2018-04-25 13:18] greenwoodma commented on #35
@mhabsaoui looks like the problem has now been fixed as I can create workflows and edit the metadata again.

[2018-04-25 13:18] galanisd commented on #39
From OMTD workflow execution yes.

From Registry not sure.  If you add a component by resolving coordinates in OMTD Registry and fails probably this means that it doesn't see UKP SNAPSHOT Maven repo.

[2018-04-25 13:25] Erechtheus commented on #31
@pennyl67
TO extend the XML metadata. It would be sufficient to add?

`<ns0:resourceCreationInfo>
        <ns0:resourceCreators>
            <ns0:resourceCreator>
                <ns0:actorType>person</ns0:actorType>
                <ns0:relatedPerson>
                    <ns0:surname>Surname</ns0:surname>
                    <ns0:givenName>Given Name</ns0:givenName>
                    <ns0:commu

[2018-04-25 13:31] Erechtheus commented on #31
@galanisd  @ArneBinder we  modified the docker file according to your comments. We would now like to test our implementation. To this end, we generated a new application. As Input we selected "OMTD Importer". Is it possible to evaluate our application using our own [XMI](https://github.com/Erechtheus/fimda/blob/master/src/test/resources/input.xml)?

[2018-04-25 13:47] mhabsaoui commented on #35
@greenwoodma It seems my messed up workflow can't be deleted either ?

![image](https://user-images.githubusercontent.com/18755135/39249821-cce85032-489f-11e8-8922-1d7c5dc8f85d.png)

And it's weird, now the Apps search list shows my Private apps (with eye crossed though)...

![image](https://user-images.githubusercontent.com/18755135/39249967-294bf496-48a0-11e8-90a1-738d59fa2d5e.png)

[2018-04-25 14:08] mhabsaoui commented on #35
@greenwoodma I am trying to recreate a new workflow, and tell...

Edit : Recreated Workflow2 (omtd importer + component) **from OMTD-UI**. Still forever spinning :persevere:

![image](https://user-images.githubusercontent.com/18755135/39251767-60420522-48a4-11e8-9086-ffba808c343f.png)

@pennyl67

- Any feedback on Preprocessor xml record checks ?
- What best "Type of operation" choice fits best ou

[2018-04-25 14:14] galanisd commented on #29
Reregistered your component and created a workflow (omtdImport -> PDFReader -> Freeling).
Tested with a corpus and got.

[code]

Good news: We are able to call your component.

Bad news: No XMIs were found even though the previous component generated XMI files. It seems that it has to do with the
`INPUT = 'tmp/*.xmi'`
tmp is a directory that is created were all input data are copied. We do that in

[2018-04-25 14:24] gkirtzou commented on #32
@AndreLamurias I created a private application using your component (omtdImporter + bolstm component) and when I ran it with the corpus that you have provided me, I got the following error

[code]

where tmp is the input folder. You need to update your executor (ie predict.sh) so as to be compliant with the OMTD specifications https://openminted.github.io/releases/docker-spec/1.0.0/specification s

[2018-04-25 14:26] galanisd commented on #31
Yes. You can upload a corpus that contains your XMI files. You have to be careful and follow the instructions on the side of the upload form so that the corpus is in the  correct format.
If possible make it public and send it to have a look.

Then you select the corpus and your app and press execute and wait for results.

[2018-04-25 14:29] mattshardlow commented on #37
The above issue is now resolved (there was an issue server side, which has been fixed).

I am now trying to generate the OMTD-share descriptor using the omtd-share-annotations-maven-plugin. I have followed the guide at https://builds.openminted.eu/view/WP%205.2/job/OpenMinTeD%20SHARE%20Annotations/eu.openminted.share.annotations%24omtd-share-annotations-doc/doclinks/1/#sect_introduction (although

[2018-04-25 14:56] saxtouri commented on #38
OK, I think I found something: `devicemapper` [2] is one of the many docker engine storage drivers [1] and it stores data in a single binary file rather than just in blocks. I did some tests with two hosts (so, two docker engines sharing the same shared directory) and it worked. It is a bit slower when `docker run`, especially if a container performs a lot of writes, but if an image is pulled once

[2018-04-25 15:04] gkirtzou commented on #27
@abravo84 I have created a private application (omtdImporter + your component) and I ran it with the corpus you have provided me. I got the following error

[code]

Do you any idea what could have gone wrong?

[2018-04-25 15:13] abravo84 commented on #27
@gkirtzou Yes! In the line 722 I sort the list of files. So, the input folder is empty.

[2018-04-25 15:18] greenwoodma commented on #35
@mhabsaoui I wonder if you clicked a link on a page after your session had timed out as that looks like a permissions problem

[2018-04-25 15:26] mhabsaoui commented on #35
@greenwoodma

Nope, I just refreshed the page (being singed in), retried and all the same...
`There was a problem running the application. Try again in a while. (final workflow state is in error)`

[2018-04-25 15:27] pennyl67 commented on #35
@mhabsaoui  For the metadata, I'm checking the http://termsuite.github.io/documentation/termsuite-pipelines/. If I understand well, there are two components: the preprocessor that outputs the candidate terms (list of terms in json format) and then the term extractor which basically adds lemma, frequency, term relations, etc. Is this correct? Can you confirm this before I send you the new input?

[2018-04-25 15:32] pennyl67 commented on #31
@Erechtheus for the resourceCreator, that's the template you can use for persons; if you want to add a group or organisation instead of specifying a person, you can also do that; or you can also specify multiple persons.

[2018-04-25 15:34] pennyl67 commented on #31
@Erechtheus when I say "template" I mean that the values Surname, Name, Mail, I assume that they will be instantiated with something meaningful; otherwise, just use the organisation; I can send you the exact details if you prefer.

[2018-04-25 16:52] galanisd commented on #31
@Erechtheus

This is your latest docker file?
https://github.com/Erechtheus/fimda/blob/master/Dockerfile

the image you are creating is based on "openjdk:8-jre-alpine"?

It seems that "Alpine docker image doesn't have bash installed by default."
https://stackoverflow.com/questions/40944479/how-to-use-bash-with-an-alpine-based-docker-image

e.g. I am getting the following when I am executing  ls -l

[2018-04-25 17:55] antleb commented on #38
It's fine by me if there are no interruptions but only slowdowns.

[2018-04-25 18:06] antleb commented on #12
Replying in short to some questions and I will come back later morning or we can even arrange a skype call to have an in-depth discussion:

- ContentConnector.downloadFullText
Regarding the format of fulltext, we certainly prefer pdf. It's the most prevalent format and the easiest to handle by default.
Regarding the access token, if we can have a "OMTD" token, common for all users, then you can st

[2018-04-25 18:07] antleb commented on #12
Regarding the query, check the README in https://github.com/openminted/content-connector-api. I think it explains most of the questions about the search parameters and facet names.

The queries we are sending to the connector(s) are led by the UI in https://test.openminted.eu/resourceRegistration/corpus/searchForPublications. Every value the same facets is OR and the facets between them are AND. S

[2018-04-25 18:17] reckart commented on #37
@mattshardlow I have added a bit of info on the mapping from UIMA/Maven to OMTD-SHARE here: https://github.com/openminted/omtd-share-annotations/blob/master/omtd-share-annotations-doc/src/main/asciidoc/user-guide/metadata-mapping.adoc

I would say it looks like your POM is missing an `/project/url` element.

[2018-04-25 19:26] jakelever commented on #30
@galanisd Thank you for testing this out

[2018-04-25 20:19] saxtouri commented on #38
Oh no I spoke too soon! I tested with only two slaves, but when I add a third, the system became so slow that all runs timed out...

I have another idea though: we can reserve a part of the cluster just for overweight components. No fancy storage drivers, just one or two slaves with extra storage dedicated to run huge images. If we know what components require huge images to run, we already know h

[2018-04-25 20:27] pennyl67 commented on #38
Thanks @saxtouri; the good thing is that @gkirtzou has also taken it up on herself to find more info for each component (storage, memory, etc.) and we'll get this info asap. And we need a solution very fast to do the testing. To me this sounds viable at least for this phase - but I'm not a tech expert. @antleb and @galanisd?

[2018-04-25 20:37] ragerri commented on #28
Hello again,

I have uploaded another 4 components (the last ones) to test.openminted

en-ixa-pipe-opinion.sh
es-ixa-pipe-opinion.sh
fr-ixa-pipe-opinion.sh
nl-ixa-pipe-opinion.sh

For example, this is the landing page of en-ixa-pipe-opinion.sh

https://test.openminted.eu/landingPage/component/5f9a4850-af3a-486d-8821-60f20fff2198

I have also updated every share descriptor with the resource creatio

[2018-04-25 21:06] joancf commented on #29
Ups... solved.
Please check the new docker it should run (it  did it on my computer)

[2018-04-26 05:58] #5 closed, assigned to nobody

[2018-04-26 05:59] #16 closed, assigned to nobody

[2018-04-26 06:01] #4 closed, assigned to greenwoodma

[2018-04-26 06:59] Erechtheus commented on #31
@pennyl67 Yes, I will instantiate the persons with our details. Could you provide me with a template for organisation? Thank you...

[2018-04-26 07:08] saxtouri commented on #38
@pennyl67 I will test my second idea on the testing cluster while waiting @gkirtzou to complete the image size survey.

Note: IMO, this is not a strictly technical issue, because it affects policies and operations on the registration level. When we will get live, we will need a way to distinguish between "fit" and "overweight" components and manage them accordingly.

[2018-04-26 07:46] mhabsaoui commented on #35
@pennyl67

AFAIK I would say yes. Now I prefer to let @stephane54 confirm this as he's the one in charge of NLP concepts...

[2018-04-26 08:13] pennyl67 commented on #31
@Erechtheus For the creator, you can add right after the end of the "resourceDocumentationInfo", the following
[code]
You can do that at any time you re-register the component after solving the technical problems

[2018-04-26 08:45] pennyl67 commented on #28
@ragerri thanks; just to be sure, we now have 12 components from you, right?
We'll get right back with the final uploading process

[2018-04-26 09:09] ragerri commented on #28
Yes, 12 components.

Cheers

R

On Thu, 26 Apr 2018, 10:45 Penny Labropoulou, <notifications@github.com>
wrote:

[2018-04-26 09:17] galanisd commented on #28
For each component you have created a separate image?

[2018-04-26 09:22] ragerri commented on #28
Yes

On Thu, Apr 26, 2018 at 11:17 AM, Dimitrios Galanis <
notifications@github.com> wrote:

[2018-04-26 09:30] dumitrescustefan commented on #33
Hello, I have updated the metadata for the component. I will drop the input data format when uploading the xml directly on the official archive as the editor now requires me to select something for the format.
The landing page is : https://test.openminted.eu/landingPage/component/5f796253-c00d-432a-9c3a-61b4d586ed50

The component itself is unchanged, so we can perform the tests with any of the re

[2018-04-26 09:35] gkirtzou commented on #27
@abravo84 I am running your component locally, and it seems to progress well. It is weird that I got that error, as the first step  (omtdImporter) is just to upload the input corpus to the workflow engine. I will check again and I will try to understand what went wrong.

[2018-04-26 09:45] galanisd commented on #29
New error.

[code]

Attached the output of the previous step.
[PdfReader_output.zip](https://github.com/openminted/Open-Call-Discussions/files/1950595/PdfReader_output.zip)

Please check also with this.

[2018-04-26 10:14] galanisd commented on #29
- IMO it would make things easier to pass the folder name in FreelingXMIReaderWriter  (e.g. tmp) and not "tmp/*.xmi".
Then in FreelingXMIReaderWriter you can add *.xmi. somehow.

- Is it possible in FreelingXMIReaderWriter to add log messages that print
the args that are you are passing?
E.g.

[code]

It will make debugging easier.

[2018-04-26 10:24] abravo84 commented on #27
@gkirtzou Thank you! I have attached 5 articles from Plos ONE.

Best,

à.
[plos_one.zip](https://github.com/openminted/Open-Call-Discussions/files/1950715/plos_one.zip)

[2018-04-26 10:27] galanisd commented on #31
@ArneBinder @Erechtheus

I did some more tests. I think that I was right..
Please create an image that includes `bash`.

[2018-04-26 10:33] #18 closed, assigned to antleb

[2018-04-26 10:39] gkirtzou commented on #33
I am not I understand why you need to drop the input resource information.
Could you please elaborate a little bit?

Also could you provide me the new metadata record so I could check it?

Sorry I was not able to test the new docker image yet. It is the next task
in my list.

On Thu, 26 Apr 2018, 12:30 Stefan Dumitrescu, <notifications@github.com>
wrote:

[2018-04-26 10:42] antleb commented on #12
ContentConnector.search

When we designed this method, we had in mind to display the publications in a page. Later we decided that it would be too much and not to useful for the user, so we ended up with displaying the facets on the left and the number of publications in the center of the page. For the current purposes of the connector, you can get away with ignoring the "from" and "to" parameters

[2018-04-26 10:48] dumitrescustefan commented on #33
Hi, per your comment here:
https://github.com/openminted/Open-Call-Discussions/issues/33#issuecomment-383921847
i will drop the input annotation type, as we don't require any annotations.

The new metadata record is:  https://test.openminted.eu/landingPage/component/5f796253-c00d-432a-9c3a-61b4d586ed50

Thanks!

[2018-04-26 10:54] gkirtzou commented on #33
Oh you mean the annotation type! I thought that you will drop the whole input resource information. Cool.
Could you download the xml please and send it to me? I cannot see the metadata from the page you sent me, as it is a private component and the platform does not allow me to see it anymore.

[2018-04-26 10:57] gkirtzou commented on #27
I was able to run your component locally with the input you have provided me previously, and I got these results. Could you verify if are ok? I will try to run it again though the platform to see if we get the same error.
[output.zip](https://github.com/openminted/Open-Call-Discussions/files/1950803/output.zip)

[2018-04-26 10:59] antleb commented on #12
A general comment that should have been posted first:

The content connectors is used by the OMTD platform to help the users browse the publications and build corpora. The order of the calls to the methods of the connectors is as follows:

1. one  call is made to the search() method. The results are displayed to the user, who can try to limit the results by selecting a value in the facets (a subse

[2018-04-26 11:14] ludovicwalle commented on #12
Access token is user specific. Up to now, this token validity is not time limited, but that could change in the future. So the token can't be stored in the implementation because it would give public access to documents. It can't neither be stored in OMTD user'configuration (supposing it is technically possible) because it may become time limited. It can only be transmitted.

At one end, ISTEX aut

[2018-04-26 11:22] gkirtzou commented on #33
Having the metadata record, I could use it in order to test your component correctly.

[2018-04-26 11:31] AlexJoom commented on #19
Hi @greenwoodma  and @galanisd

we've uploaded a new version at **Maven Central** and **succesfully tested via console** (resources are now read correcly with getResourceAsStream() method)

We have a problem making the component public at the **OMTD platform** ( "test" and "services" enviroments). Once this is resolved we can also provide the landing pages

-- -- -- -- -- -- -- -- -- -- -- -- -- -

[2018-04-26 11:32] dumitrescustefan commented on #33
Sorry, I kept it as private so I could edit it in case needed. Here is the zip:
[5f796253-c00d-432a-9c3a-61b4d586ed50.zip](https://github.com/openminted/Open-Call-Discussions/files/1950912/5f796253-c00d-432a-9c3a-61b4d586ed50.zip)

[2018-04-26 11:45] gkirtzou commented on #33
Perfect! Thanks! I would go start testing then :)

[2018-04-26 11:48] ludovicwalle commented on #12
I've already looked at in https://github.com/openminted/content-connector-api, and in the guidelines. Alone, it is not precise enough. But with your explanation about the way a corpora is built, and looking at the URL of the page for doing (which I haven't found before), things gets much clearer.

PDF can be a reasonable format if it is "native", that is, if PDF contains text, but not if it contai

[2018-04-26 12:37] galanisd commented on #19
- Tested version 1.0.6 locally in my laptop .
It worked I think. Input&output attached. Please have a look.

[VineIN.zip](https://github.com/openminted/Open-Call-Discussions/files/1951103/VineIN.zip)
[VineOut.zip](https://github.com/openminted/Open-Call-Discussions/files/1951104/VineOut.zip)

- The same script is installed in the UIMA image that is used to start a container in our Galaxy/Mesos set

[2018-04-26 12:39] AndreLamurias commented on #32
@gkirtzou I've updated the docker image which should have solved that issue.

Yes, the model parameter is optional. BTW right now the default model is packaged with the docker image, inside the models/ directory. I see that it's possible to upload a model on the platform (add->models & grammars), should I rather upload the default model that way?

[2018-04-26 12:51] AlexJoom commented on #19
yes the VineOut seems fine

we haven't uploaded a corpus since it was not in our plans to create one (and no related effort was described in our proposal). Though, we manually extracted the provided demo example files from Agris Fao online service.

Regarding the work flow editor, great, we'll have a look thanks!

[2018-04-26 12:59] galanisd commented on #19
Actually I had a workflow for your app. I replaced Vine component with the latest...saved an app to the Registry etc.

![vine](https://user-images.githubusercontent.com/10739759/39307000-5291f81c-496a-11e8-9898-6b9d35671cbe.png)

Then I fed the app with a corpus I found in the Registry...and the execution finished. So I think we are OK.

![vinesuccess](https://user-images.githubusercontent.com/107

[2018-04-26 13:03] gkirtzou commented on #32
Did you update the same image "andrelamurias/bolstm:omtd" ?

 For the moment it is better to keep the model within your docker image.

[2018-04-26 13:10] gkirtzou commented on #33
@dumitrescustefan I tested the new version of your component (image version 0.9.0) and I got the following error in the log

[code]
Can you understand why we get this error? I used this corpus from the platform (https://test.openminted.eu/landingPage/corpus/97833edb-b6c7-44a0-9d8d-f9219a147e2a), but after I processed the pdf to xmi (see attachement)
[PdfReader_output.zip](https://github.com/openmi

[2018-04-26 13:10] AndreLamurias commented on #32
yes, same tag: andrelamurias/bolstm:omtd

[2018-04-26 13:14] dumitrescustefan commented on #33
Thank you, I'm on it.

[2018-04-26 13:32] gkirtzou commented on #32
I ran you component with the input you provided me, and I got the following error
[code]
I think that it has something to do the the path to the file. Probably it is good practice to use full paths.

[2018-04-26 13:58] ludovicwalle commented on #12
So, facets are only and always those listed (Rights, Publication year, Publication Type, Language, Document Type). Content Source should come from _getSourceName_ method, and _keyword_ from the search field. Right ?

_publisher_ doesn't appear as facet. Is it not used (and should be ignored in the connector implementation) or simply not shown because not applicable for Core and OpenAIRE ?

The sea

[2018-04-26 14:09] AndreLamurias commented on #32
Ok I've updated the docker image again, it should be possible to run /predict.sh from any directory

[2018-04-26 14:19] ludovicwalle commented on #12
Building a corpora from OpenAIRE requires an authentication which seems similar to the one needed for ISTEX. The first time, I want to build a corpora, I'm redirected on an edugain authentication page. From there, I suppose that an authentication token is returned, which is stored as a cookie. The question is how does it reaches the connector ? The same is to be applied for ISTEX connector.

[2018-04-26 14:19] gkirtzou commented on #32
I did docker pull but nothing seem to update. Have you uploaded a new image or have you update the andrelamurias/bolstm:omtd?

[2018-04-26 14:34] AndreLamurias commented on #32
sorry, now it should be updated.  it's still the same tag. can you try again?

[2018-04-26 14:39] gkirtzou commented on #27
I think I found out the problem. The `tmp` directory is not found since just before you call

`java -Xmx5g -jar target/scisumservices-jar-with-dependencies.jar ${INPUT} ${OUTPUT}`

you are changing the directory `cd /scisumservices`. If you remove this command and use absolute path in invoking your software it would probably work. Change it as follow:
` java -Xmx1g -jar /scisumservices/target/scis

[2018-04-26 14:53] gkirtzou commented on #37
In order to assist you with registering and testing your software in the OMTD platform for the Hackathon, could you please add/attach to this issue:

- The landing page URL of any component/workflow you have registered
- The OMTD-SHARE XML file for each component/workflow
- An input corpus, with One or two sample documents that would be sensible for your software.
- The output corpus as generated

[2018-04-26 14:55] dumitrescustefan commented on #33
@gkirtzou I corrected the error. It was from the xmi->txt conversion as it created empty (NULL) tokens which broke the pipeline.
I uploaded on dockerhub the new image; could you please recheck?

[2018-04-26 15:15] abravo84 commented on #27
Hi @gkirtzou !

Sorry for my late response! Ok, then, I have to compile my docker image again changing the "java" command in the process.sh, right? Also the memory?

[2018-04-26 15:18] gkirtzou commented on #27
Removing the cd command and changing the java command to the one I have provided you, I think will allow us to find the tmp (ie input) folder correctly.

[2018-04-26 15:19] gkirtzou commented on #33
Ok will check it and let you know.

[2018-04-26 15:28] gkirtzou commented on #32
I tried it again and I got the following error
[code]
and the docker exited with 132 status code. I am not sure whether this is  a memory issue or it has to do with hardware requirements for keras or/and tensorflow.

Could you please tell me how much memory does your software require? Any help will be appreciated.

PS. Please complete also this  spreadsheet https://docs.google.com/spreadsheets/d/1

[2018-04-26 15:41] abravo84 commented on #27
ok! this will take a few hours... When the docker image is uploaded I text you!

[2018-04-26 18:35] pennyl67 commented on #28
@ragerri You can proceed with the final uploading at services.openminted.eu. If you encounter any problems, please let us know.
Thanks!

[2018-04-26 18:37] pennyl67 commented on #34
@Aequivinius You can now proceed to the final uploading of your application at services.openminted.eu. If you encounter any problems, please let us know.
Thanks!

[2018-04-26 18:40] pennyl67 commented on #19
@AlexJoom You can now proceed to the uploading of the final version at services.openminted.eu, which has been cleaned from all previous resources, so that we know that everything is updated. Should you run into any problems, please let us know.
Thanks!

[2018-04-26 18:42] pennyl67 commented on #30
@jakelever You can now proceed to the uploading of your final applications at services.openminted.eu. If you have any problems, please let us know.
Thanks

[2018-04-26 18:55] mattshardlow commented on #37
Hi Katerina,

The landing page is available here: https://test.openminted.eu/landingPage/component/51d97598-5450-43f0-bd51-00f961a7e6dc

The OMTD-SHARE XML is attached (I've given it a .txt extension, as github won't allow the .xml extension.

[uk.ac.mmu.tdmlab.journalism.TextMiningForJournalismApplication.omtds.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/1952556/uk.ac.mmu.t

[2018-04-26 19:55] ragerri commented on #28
Done!

Best regards,

R

On Thu, Apr 26, 2018 at 8:35 PM, Penny Labropoulou <notifications@github.com

[2018-04-26 19:56] pennyl67 commented on #30
@jakelever My mistake, please refrain from uploading at services.openminted.eu until further notice.

[2018-04-26 19:58] pennyl67 commented on #19
@AlexJoom My mistake, please refrain from uploading at services.openminted.eu until further notice.

[2018-04-26 19:59] pennyl67 commented on #34
@Aequivinius My mistake, please refrain from uploading at services.openminted.eu until further notice.

[2018-04-26 20:02] pennyl67 commented on #28
@ragerri My mistake, there are a couple of things still for services.openminted.eu to be fully operational.
Sorry, I wasn't fast enough to let you know! I'll see if we can still use the components as you have uploaded them now, so that you don't go through the same procedure again - or find some other way to do it.
Apologies,
p

[2018-04-26 20:23] ragerri commented on #28
No problem :)

Cheers,

R

On Thu, Apr 26, 2018 at 10:02 PM, Penny Labropoulou <
notifications@github.com> wrote:

[2018-04-27 07:09] Erechtheus commented on #31
Dear @galanisd  we uploaded a new version on docker hub that includes _bash_

[2018-04-27 07:16] Erechtheus commented on #31
@pennyl67  I adjusted the XML according to your recomendations. Thank you

[2018-04-27 07:41] mhabsaoui commented on #35
@greenwoodma Any news about the workflow/jobs issues ?

![image](https://user-images.githubusercontent.com/18755135/39350431-7401986a-49fe-11e8-8075-8d8870b344eb.png)

@pennyl67 Let's say it's confirmed and send me please the new input.

![image](https://user-images.githubusercontent.com/18755135/39350566-d7f89d8c-49fe-11e8-8f71-9bff173e300c.png)

[2018-04-27 08:28] pennyl67 commented on #31
@Erechtheus Can you send me the latest metadata file? Thanks!

[2018-04-27 08:30] pennyl67 commented on #35
@mhabsaoui As a last precaution, could you send me an output of the preprocessor? thanks

[2018-04-27 08:34] gkirtzou commented on #33
I reran your component with the same settings (an application composed of omtdImporter+pdf2xmi+UPFMT with the " Chebi 2 pdf corpus - test 2 " corpus) as previously. Unfortunately, your component was killed due to memory. The docker container exited with code 137,
Below is the log from the host machine:

[code]
The log of the container:
[code]
I see that you have set with dynet the memory allocatio

[2018-04-27 09:01] mhabsaoui commented on #35
@pennyl67 It's done.

[2018-04-27 09:13] gkirtzou commented on #32
@AndreLamurias any news? Have you looked into it?

[2018-04-27 09:15] gkirtzou commented on #27
@abravo84 I saw that in the spreadsheet with the h/w requirements you said that the mimimum memory you require is 4G. That means that it cannot ran with any less than that right?

[2018-04-27 09:19] mattshardlow commented on #37
I've now tried running the following: https://test.openminted.eu/runApplication;input=97833edb-b6c7-44a0-9d8d-f9219a147e2a;application=9418ee6e-97dc-4fb6-8614-feb4cf867c21

It currently says it is running, although there is very little diagnostic info to tell me if it is running correctly or not.

I'm somewhat unclear as to how to use the workflow editor. Do I need to use the PDF reader? If so, ho

[2018-04-27 09:21] AndreLamurias commented on #32
Based on the output I don't think it would have been a memory issue, so I've updated the image with newer versions of some python libraries (keras, tensorflow and spacy). This person had that the same issue with the same version of python and spacy: https://github.com/explosion/spaCy/issues/1589
The minimum memory is 7GB, I've filled the spreadsheet with the information asked.

[2018-04-27 09:34] gkirtzou commented on #37
I was just looking into your metadata in order to propose suggestion  and I see that your component gets as input a uima cas object, right?. In order to consume a corpus of pdf as the one selected in the above experiment, you need to create a workflow via the workflow editor that has the following steps:

1. Omtd importer. It is the responsible component that uploads the corpus to the workflow eng

[2018-04-27 09:54] abravo84 commented on #27
Hi @gkirtzou! (i am uploading the new docker image...).
I do not think so... You can try,  If you do not have enough memory, the application will return a memory error.

[2018-04-27 09:58] pennyl67 commented on #35
@thanks What I understand is that after the preprocessing, you have inside the same file the annotated corpus and the list of candidate terms - is that right? If yes, that's a bit tricky. I cannot put in the outputResourceInfo both of resource types (i.e. the corpus and the list). So, I'll need to describe only one of these. Is that ok? It might make more sense for the preprocessor to stick to the

[2018-04-27 09:59] reckart commented on #37
@gkirtzou Tika will also require a pattern, otherwise it does not know what to load.

[2018-04-27 09:59] reckart commented on #37
@gkirtzou unless somebody has manually edited the OMTD-SHARE descriptor when registering it and added a default patttern ;)

[2018-04-27 10:12] galanisd commented on #31
@Erechtheus

image erechtheus/fimda:0.2.3
Problem with bash solved.
Now we can call your component.
Got this...

[code]

- `ERROR -- .MutationFinderThe file containing regular expressions could not be found: /working/src/main/resources/SETH/mutations.txt/mutations.txt`
It  seems that a file that is required can not be loaded. Please can you check it?
Not sure.

- `java.nio.file.NoSuchFileException

[2018-04-27 10:16] pennyl67 commented on #37
@mattshardlow and @gkirtzou I have used the tika with the same pattern (**/*.pdf) and it's worked

[2018-04-27 11:01] gkirtzou commented on #37
@mattshardlow As far as the metadata, I have the following corrections/recommendations
- In identificationInfo.resourceName : please add a meaningful name as this is for human consumption. _uk.ac.mmu.tdmlab.journalism.TextMiningForJournalismApplication_ isn't that meaningful to most people.
- In identificationInfo.description : please update to something meaningful with what the component does.
-

[2018-04-27 11:14] mattshardlow commented on #37
Thanks, I'll look into those issues.

Is there a facility to easily edit the metadata of the component?

How about for the workflow? Can I add in a new component to the workflow, or do I need to build a new workflow from scratch?

[2018-04-27 11:47] mattshardlow commented on #37
I have made the following updates:

1. edited the name of the component in identificationInfo.resourceName
2. updated the description in identificationInfo.description
3. split my name correctly in resourceCreationInfo.resourceCreator.relatedPerson
4. changed processingResourceType in  inputContentResourceInfo and outputResourceInfo to corpus
5. removed annotationType=lemma in outputResourceInfo

[2018-04-27 12:00] mhabsaoui commented on #35
@pennyl67 OK. Let's proceed as such and prepare the xml record based on your hints and suggestions. We'll see later with @stephane54 in depth the description when received...

Cheers.

[2018-04-27 12:04] galanisd commented on #31
The issue I think is here:
https://github.com/rockt/SETH/blob/master/src/main/java/edu/uchsc/ccp/nlp/ei/mutation/MutationFinder.java#L149

Before you send me a updated image please confirm that the jar loads the mutations when it is started (`java -jar /usr/share/fimda/fimda.jar`) on any machine.  E.g.  you can do that by installing the jar on another machine than the one you use for development.

[2018-04-27 12:08] galanisd commented on #29
Hi,

any updates?

[2018-04-27 12:09] gkirtzou commented on #27
Let me know when the image have been upload, so I will try again and see.

[2018-04-27 12:20] gkirtzou commented on #37
Sorry for my late response. Ok let's see...

You could update the pom.xml file or the files in the project, in order to use the maven plugin to generate a new version with the proposed changes or you could use the editor within the platform. I would have gone towards the 1st solution as it would allow me to reuse the changes ;-)

You have made the workflow public if I am not mistaken, thus you cou

[2018-04-27 12:54] gkirtzou commented on #32
@AndreLamurias Ok I will pul the image again and test. We are also working to support your memory requirements to verify that isn't a memory issue. I will let you know.

[2018-04-27 12:55] gkirtzou commented on #33
@dumitrescustefan We are working to support your memory requirements. I will let you know.

[2018-04-27 13:12] mattshardlow commented on #37
In the form, under distribution, it would appear that the element 'command' only appears when selecting Docker image. I've played about with the editor a bit, and it seems to have disappeared from my omtds record for now.

That is correct. Our input requires no annotations.

The updated omtds record is attached.

If I need to reupload the component, then I'll reflect these changes in the pom. It's

[2018-04-27 13:18] mattshardlow commented on #37
omtds-descriptor is attached.

[51d97598-5450-43f0-bd51-00f961a7e6dc.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/1955237/51d97598-5450-43f0-bd51-00f961a7e6dc.xml.txt)

[2018-04-27 13:34] mattshardlow commented on #37
I've set up the new workflow using tika as the pdf reader.

I'm running the following: https://test.openminted.eu/runApplication;input=97833edb-b6c7-44a0-9d8d-f9219a147e2a;application=66851499-4938-4b75-8b83-1801abb597e1

Fingers crossed.

[2018-04-27 13:44] galanisd commented on #37
Hi Matt,

I assume that your workflow failed.
I see this in the logs ...

[code]

In which repo have you uploaded  the artifacts?

[2018-04-27 13:47] gkirtzou commented on #37
Thanks for the metadata record. I will check out and let you know if I have further comments. For testing I will be able to help you from next week, if that's ok with you.

[2018-04-27 13:52] mattshardlow commented on #37
Thanks Dimitris,

Is it possible to get the component to use the 'jar-with-dependencies' from http://www.maven.org/#search%7Cga%7C1%7Ctdmlab as this would avoid the need to download all the dependencies.

I haven't uploaded the dependencies to Maven. I can do this, but was waiting until I had them configured for OMTD-Share, etc. I could always upload them to central without the metadata and add it

[2018-04-27 14:07] galanisd commented on #37
No I do not think that we support something like this.

All UIMA (and GATE) components that we have run in OMTD so far are uploaded in
one of the following repos.

- Maven central
- OMTD repo
- UKP snapshots repo

The UIMA executor that we have tries to download the  component from one of them.
Then it calls the respective class. You can upload your component in maven central (e.g. v0.0.1) so that

[2018-04-27 14:07] AndreLamurias commented on #32
ok thanks, hopefully upgrading the libraries solved that issue, otherwise, it might be difficult to debug it.

[2018-04-27 14:08] mattshardlow commented on #37
@gkirtzou Thanks - next week should be ok.

[2018-04-27 14:09] mattshardlow commented on #37
@galanisd Ok, I'll upload the versions of the components as they are. It might be early next week before I have everything uploaded.

[2018-04-27 15:09] ArneBinder commented on #31
@galanisd many thanks for your investigations! But the error in SETH is not a real issue because it falls back to loading the internally provided `mutations.txt`. I'm not a maintainer of SETH (I have just written the wrapper FIMDA) and would stay with the latest SETH release if this error message is not a big deal for the openminted platform.
The newest FIMDA version fixes the output directory bug

[2018-04-27 15:10] abravo84 commented on #27
@gkirtzou The docker image is available! :)

[2018-04-27 18:05] dumitrescustefan commented on #33
@gkirtzou We looked into it and apparently the "fphar-09-00130.pdf.txt" file has one sentence of over 400 words. This is due to the pdf extraction process that I think extracted a table in a long line of numbers. The tokenizer/segmenter had no reason to split this list of numbers, so we ended up with a long "sentence".

I think we underestimated requiring only 1-2 GB to run the tool. Creating a pa

[2018-04-27 19:01] reckart commented on #33
I would recommend to have a parameter on the parser which determines the maximum number of tokens a sentence may have and still be parsed. Sentences longer than this number would not get a parse. IMHO something like 100 or 120 tokens is a good default.

[2018-04-28 08:31] gkirtzou commented on #33
I would agree with @reckart, an upper limit in the number of tokens in a sentence would allow your software to work easily in the OMTD platform. Don't forget that the most common input data that you would handle in the OMTD platform would be publications coming from our content providers in pdf or xml mainly. Publication commonly contain tables that are not easy to handle when transforming them in

[2018-04-28 09:11] dumitrescustefan commented on #33
I understand. We'll return shortly with the cutoff implemented. Thanks!

[2018-04-28 13:55] pennyl67 commented on #35
Hi @mhabsaoui I'm attaching here two metadata records for the preprocessor and the extractor. Comments:
- for the preprocessor, as I suggested, I've used the "corpus" as the resource type for the output, put as a function the "annotator" (given that you output various types of annotation, I selected the broader concept) and added all annotation types that you output, including terms; I have a doub

[2018-04-30 09:09] gkirtzou commented on #37
@mattshardlow Hello Matt, I was going through the new version of the metadata record you send me and I have a few questions/suggestions:

- In distributionInfo, change componentDistributionForm from _sourceCode_ to _executableCode_ or  _sourceAndExecutableCode_, depending what you have uploaded to maven central, just the jars or the source code as well.
- In inputContentResourceInfo, you have set

[2018-04-30 09:22] joancf commented on #29
I was checking the system with your long files
Freeling crashes, and I don't think that is a memory issue, and is out of the scope of the integration itself.

`/Freeling/src/libtreeler/./treeler/srl/paths-container.h:222: void treeler::srl::PathsContainer::ComputeAllPaths(int, int, const treeler::DepVector<std::__cxx11::basic_string<char> >&, const treeler::srl::Children&, const std::__cxx11::list

[2018-04-30 11:44] galanisd commented on #29
- From the log that I sent you  (`xmi second param 2 -tmp/od______1271..f0326a791a327c607e519e256f074178.pdf.xmi-`) it seems that the parameters are not passed correctly to the jar. Correct? I was not sure...Or this is OK now.

- The "handling of "long" files seems to be another issue... Correct?
If FreeLing can't handle such files then a solution is  to
shorten names, process the files and either

[2018-04-30 11:46] dumitrescustefan commented on #33
@gkirtzou The image with the cutoff implemented at 150 words is pushed. Could you please retest? Thanks!

[2018-04-30 12:32] ArneBinder commented on #31
@galanisd @Erechtheus the image `erechtheus/fimda:0.2.4` should work now.

[2018-04-30 13:05] gkirtzou commented on #33
@dumitrescustefan I am attaching a corrected version of the metadata record of your component. I did the following corrections, please check if I misunderstood anything
- In `identificationInfo`, I change the `resourceName` to the one you have in github, from UPFMT6 to "Unified Processing Framework for raw Multilingual Text".
- In `identificationInfo.resourceIdentifier` I removed the `schemeURI`,

[2018-04-30 13:19] dumitrescustefan commented on #33
Thank you. I will use this XML to upload the final ver. Initially the versions matched, but for the tests I switched to 0.9.0 to differentiate. For the release, we will use 1.0.0 as on dockerhub. Thanks again!

[2018-04-30 13:22] gkirtzou commented on #33
Just remember that it needs to reflect this also to the distributionInfo.distributionLocation element
`<ns0:distributionLocation>dumitrescustefan/upfmt:1.0.0</ns0:distributionLocation>`

[2018-04-30 13:45] dumitrescustefan opened #40 "Login issue for http://courses.fosteropenscience.eu/#user/login"
Hello,

Regarding the tutorials we have to do for deliverable T4, in the link here https://docs.google.com/document/d/1FRMWts3oshYOL6SBJgm-EqWzZ1yfL1C093e2g6P3Dd4/edit# says that we should login at http://courses.fosteropenscience.eu/ but I cannot see any "register" button. I tried registering on http://www.fosteropenscience.eu/ but using the user/pass on the "courses." domain doesn't work.

I als

[2018-04-30 14:25] joancf commented on #29
Yes I have solved the issues with the parameters,
the problem with you sample files, is not the name (this is something that does not get into FreeLing) the problem is that the file contains a long text extracted from a pdf and it has two problems:
1 paragraphs are not correct (but this is not the main problem)
2 It has strange characters on it, that make freeling crash .
Eclipse has some problems

[2018-04-30 14:41] greenwoodma commented on #29
The XMI files should be utf-8 encoded are you opening them using a utf-8
aware method?

On Mon, 30 Apr 2018, 15:25 Joan Codina, <notifications@github.com> wrote:

[2018-04-30 19:21] joancf commented on #29
The program considers everything ut-8 and eclipse also indicates that is utf-8
you can try to open the narcis... file on eclipse and check paragraph 1500. It has a very strange behaviour. But in any case I don't know why Freeling crashes, with that text, it is not a problem of memory or size, it's something on the text that makes Freeling crash.
You have a new version available now

[2018-04-30 23:14] mattshardlow commented on #37
@galanisd I've now put the initial versions of each of the components (+dependencies) on maven, so in theory the aggregated component should compile. I'm waiting for them to filter through to central, so I'll try running it in the morning and let you know if I have success or not.

@gkirtzou - see inline response below:

yes the source is available via maven, so I changed to source + code.

The co

[2018-05-01 08:45] galanisd commented on #29
We have tested with this corpus several OpenMinteD tools/web services that are coming either from OpenCall or from OpenMinteD partners. So far, we didn't have any issues. I will try also with another  corpus to see what happens.

Do you have a corpus of XMIs which the Freeling component can process without issues.

[2018-05-01 08:46] mattshardlow commented on #37
The job is now running (for some reason there are two versions running in parallel).

[2018-05-01 09:00] galanisd commented on #37
Hi Matt,

Yes, from a quick look into Galaxy it seems that you have sent the same workflow 2 times. Probably you pressed the button 2 times.

However I do not think that any of these 2 executions will finish. From yesterday afternoon we have an issue with our execution cluster (Mesos). Today in Greece is a public holiday (not sure what happens in other countries) and it is not possible to solve it

[2018-05-01 09:01] mattshardlow commented on #37
Ok, great. Yes, I think I must have pressed the button twice. Please let me know when you have had chance to test the component.

[2018-05-01 20:03] pennyl67 commented on #40
@dumitrescustefan Can you take up this issue with Nancy.Pontika@open.ac.uk? She's responsible for foster and tutorials.

[2018-05-02 08:00] mhabsaoui commented on #35
@greenwoodma @antleb Hi, any advancement on your side... ?

BTW, is it worth to try deleting **all** docker images (on OMTD Galaxy's instance) pulled from those repositories `visatm/termsuite-omtd, mhabsaoui/termsuite-omtd` and having two possible tags `1.0.0 , latest` ? Just wondering if any effect by re-pulling docker image...

[2018-05-02 08:49] galanisd commented on #35
@mhabsaoui

@greenwoodma is on a leave and I think he will return next week. I am not sure at which point you are stuck. If needed I will help with the integration of your component. I am running tests for some other Open Call components too.

[2018-05-02 08:59] mhabsaoui commented on #35
@galanisd  It would have been professional @greenwoodma  tells us of his absence.
To avoid repeating myself, all the previous screen-shots are explicit enough about the encountered problems ! And I don't get why you keep asking if we are **stuck**. We're not stuck on our side (all omtd requirements fullfilled), but the problem seems recurrent on your side when it comes to launching docker images o

[2018-05-02 09:06] gkirtzou commented on #32
@AndreLamurias Sorry for my late response, but we had some issues with our workflow engine cluster, thus we couldn't test your component. Today, I was able to run it and I got the following error

[code]
tmp is the input folder. I think you are missing the intermediate '/' to properly define the path to input files. Could you correct that? Thanks

[2018-05-02 09:08] dumitrescustefan commented on #33
@gkirtzou I updated the metadata you provided with the 1.0.0 tag, I pushed a new image on dockerhub with a few more checks integrated. I think the docker component is kindof ready. Whenever you have time to test, I'm here.
Landing page for the public component : https://test.openminted.eu/landingPage/component/8f47d5d7-ffd5-43e1-b790-ec4c44af0a68

The xml now contains:
[code]

[2018-05-02 09:14] gkirtzou commented on #33
@dumitrescustefan Could you send me the last omtd metadata record for your component? To check it and keep also a copy? I will try to create a new workflow with the new component and test it right now.

[2018-05-02 09:21] galanisd commented on #31
I did some tests with some XMI files but not sure (yet) that it works as expected.
Please can you send me also a couple of input XMI files for testing your component  just to be sure.
I mean XMI files that you have already tested and you know that everything is OK.

Thanks.

[2018-05-02 09:22] gkirtzou commented on #33
Also, did you register multiple times your component in the registry today? Because I see multiple galaxy wrapper records for your component with today's date. The galaxy wrapper records are generated by the omtd platform when you register a component in order galaxy workflow engine will be able to call your component.

[2018-05-02 09:24] galanisd commented on #37
Hi,

Mesos is up now. So you can give it a try if you want.

[2018-05-02 09:34] Erechtheus commented on #31
@galanisd  @ArneBinder I changed the component to fimda 0.2.4. As @ArneBinder said, the error in SETH is not a real issue and should be seen as a warning.

[2018-05-02 09:48] galanisd commented on #31
For testing your component I have the following workflow...
omtdImporter -> PDFReader -> FIMDA

FIMDA step is now configured to use version 0.2.4.

I selected a corpus from test.services.openminted.eu and tried to process it with the FIMDA workflow.
Got the following when FIMDA step was executed.

`ERROR -- .MutationFinderThe file containing regular expressions could not be found: /working/src/mai

[2018-05-02 09:55] dumitrescustefan commented on #33
@gkirtzou Here is the zip with the latest XML:
[upfmtV5.zip](https://github.com/openminted/Open-Call-Discussions/files/1966759/upfmtV5.zip)

I also made the component public so you could test it.

Also, yes, I pressed the button a few times. I did this because nothing happened for ~ 15 seconds the first time I clicked, so I tried again. A couple of times :) Then I saw a bunch of entries in the com

[2018-05-02 09:57] reckart commented on #31
Looks like the CAS into which the XMI is being deserialized was not initialized with a type system compatible with the XMI file.

[2018-05-02 10:05] gkirtzou commented on #33
Thanks for the metadata, I will check them. Aaaah, I see.. Yes sometimes the response is a little bit slow.

[2018-05-02 10:07] galanisd commented on #31
Yes exactly. This is what I also believe to be the problem...
For this reason I asked for "tested" XMI input files.
I want to confirm that FIMDA works with "compatible" XMIs.

[2018-05-02 10:38] reckart commented on #31
If this is one of the cases where the component is only interested in plain text from the XMI and not drops any annotations from the input documents, then the problem should be fixable by deserializing the XMIs in lenient mode (e.g. using `org.apache.uima.cas.impl.XmiCasDeserializer.getXmiCasHandler(CAS, boolean)` and setting the second parameter to `true`).

[2018-05-02 10:42] galanisd commented on #35
All components and apps run as docker containers in test and production platform. So far we we have succeeded to execute several Open Call components & apps and get results. E.g. IXA, VineSum, OGER, PubRunner etc; you can have a look into the respective discussions. Also we have also succeeded to run several (dockerized) components/apps created from OpenMinTeD partners.

Even though in OMTD we hav

[2018-05-02 11:03] mhabsaoui commented on #35
@galanisd Thanks for answering.

Details we still didn't figure out for about 1 month.

Exactly what we already did with @greenwoodma (if you had a glance at previous discussions). We expected significant feedbacks on this, but still same failing behaviour.

Why to re-register, when already existing ?

Already re-created a second, you need a third one ?

Already existing.

Cheers.

[2018-05-02 11:09] AndreLamurias commented on #32
@gkirtzou I've updated the image, let me know if there are more errors

[2018-05-02 11:38] gkirtzou commented on #33
@dumitrescustefan I am happy to announce that we have successfully run your component to the OMTD platform!!! In the attachements you would find the initial corpus with 2 pdf and the generated output. Could you verify that it is meaningful?

[chebiCorpusInput.zip](https://github.com/openminted/Open-Call-Discussions/files/1967050/chebiCorpusInput.zip)
[chebiCorpusOutput.zip](https://github.com/open

[2018-05-02 11:43] mhabsaoui commented on #35
@galanisd Can you remove still existing objects (not corpus) from my account, so that I can register all of them from scratch.
- apps ( only TermSuiteExtractor | 4/19/2018 => keeps showing on my apps list. When deleting it fails with `System error deleting the selected application (Server responded: all shards failed)` )
- components (if any, already deleted them)
- docker images (Galaxy's images

[2018-05-02 11:52] galanisd commented on #35
This is on the Registry side (@antleb). I can't delete it either.

So still believe that the best solution is to re-register your component, recreate a workflow and use it to process the corpus that you have uploaded. This way will be sure that

- the latest version of out code is used (e.g. when generating the wrapper).
- the correct image version is used.

Is this possible?

I will then have a l

[2018-05-02 12:00] ludovicwalle commented on #12
Once written (which is about to be done), how can I test my connector ? Where can I find a test tool or environment ?

[2018-05-02 12:01] galanisd commented on #35
I have just deleted "fr.univnantes.termsuite.tools.TerminologyExtractorCLI" wrapper from Galaxy.

[2018-05-02 12:19] mhabsaoui commented on #35
@galanisd

I will then have a look into the logs of the containers/Galaxy/etc.

Yes, it is possible. Can you confirm all cached docker images are deleted too ?

@pennyl67 Weird thing I have found in the matadata records (only for `termSuitePreprocessorNew.xml` though) those two errors, where did they came from, as I am absolutely sure the first registering/next re-registering didn't have those :as

[2018-05-02 12:24] galanisd commented on #35
Just deleted all visatm images from mesos nodes.

[2018-05-02 12:25] mhabsaoui commented on #35
Thanks. Will register from scratch, re-test and tell what...

[2018-05-02 12:41] gkirtzou commented on #32
@AndreLamurias I reran the new image and I got the following error

[code]
I see that there are to '//' before the output filename. I think that you need to check in the path where it is ending with / or not and handling appropriately.

[2018-05-02 12:48] mhabsaoui commented on #35
@galanisd  re-registered our Component and Workflow by just reuploading their XML record provided by @pennyl67 (two errors corrected).

**jobId 4cd3482f-bb88-4ea0-9580-fd72247c45cb** is running (without finishing), up to you...

**_Edit:_** Job finished with `There was a problem running the application. Try again in a while. (final workflow state is in error)` error message.

[2018-05-02 13:03] AndreLamurias commented on #32
I don't think the double slashes would be an issue, but I can't think of any other explanation so I've pushed another image with the change that you suggested.

[2018-05-02 13:11] galanisd commented on #35
Great thanks. It will not finish...But we will find why.

You tested "fr.univnantes.termsuite.tools.PreprocessorCLI". Correct?

Log from container.

[code]

The wrapper we generate...contains something like this

`termsuite fr.univnantes.termsuite.tools.PreprocessorCLI --input tmp --output $output.job_working_directory/working/out/ --param:language=someValue`

In `tmp ` folder we have copied the i

[2018-05-02 13:20] pennyl67 commented on #35
@mhabsaoui

It could very well be my mistake; I most probably used the older files for the components. I'm glad you spotted it. Sorry for this!

[2018-05-02 13:24] mhabsaoui commented on #35
@galanisd

Sorry redited, wrong answer !

yes

Normally, it is set by default to **en** in the xml record. I have checked in the Workflow, **it is empty** so I had to added it manually !

![image](https://user-images.githubusercontent.com/18755135/39526336-bee10c16-4e1e-11e8-9e38-d602c6d4577e.png)

PS: When we update our docker repository image, will Galaxy detect it (based on same 'latest' tag, b

[2018-05-02 13:31] galanisd commented on #35
Ok. I just wanted to add that the image that is used is visatm/termsuite-omtd:latest. I checked in Mesos nodes and it says that this specific image was created 5 weeks ago.

I think it does not, at least until recently.
I will make a docker pull (in all nodes) just to be sure when you are ready.

[2018-05-02 13:38] mhabsaoui commented on #35
@galanisd my previous post re-edited...

But the other problem is that we also need the **--output-format** to be set to _**xmi-anno**_ .
But as OMTD metadata record has no **_parameterLabel_** for the output/input-format, it is empty and I had to add it too on workflow editor).

![capture du 2018-05-02 15-42-14](https://user-images.githubusercontent.com/18755135/39526789-24e20424-4e20-11e8-9f0f-6

[2018-05-02 13:44] gkirtzou commented on #32
You where right. It was the double / in the filename the problem. I ran the new image and we got the same error ....

[code]
Is full_model_tmpresults.txt is a file you are generating, right? Then how it cannot be found?

[2018-05-02 13:57] mhabsaoui commented on #35
@galanisd Job re-runned, after worklow editing for params...
jobId 4cd3482f-bb88-4ea0-9580-fd72247c45cb

[https://github.com/VisaTM/termsuite-docker-omtd](url)

Yes of course, named 'termsuite'

[2018-05-02 13:58] gkirtzou commented on #27
@abravo84 I was able to run your image giving to the container 6.6GB of memory. Unfortunately, this seems that it is not enough to ran successfully your component, despite that you had declared that the minimum possible memory requirement is 4 GB. The last lines of the log were the following:

[code]
I will see if we could provide more ram, could you please verify that your component can run with

[2018-05-02 14:01] galanisd commented on #35
In the wrapper there is no value attribute here:
`<param help="Language of the input corpus" label="language" name="language" optional="false" type="text">`

So this is why there is no default value. In a wrapper for another dockerized component I saw a "value" element so the code that generates it exists. Not sure what is happening with your component.

Also I just found an old wrapper for the sa

[2018-05-02 14:02] gkirtzou commented on #27
Let me tell you that I ran the component with this corpus https://test.openminted.eu/landingPage/corpus/86ba1d12-beb3-4b66-883d-167728042906,

[2018-05-02 14:02] AndreLamurias commented on #32
Yes it should create the file or overwrite if it already exists. could it be an issue with permissions? is it possible to try a different output path?

[2018-05-02 14:04] galanisd commented on #35
See above...my previous response

 I will check

[2018-05-02 14:08] mhabsaoui commented on #35
@galanisd

<param help="Language of the input corpus" label="language" name="language" optional="false" type="text">

Right, something that has disappeared from the record... well I'll re-put it again.

In fact, I have just updated it in the workflow editor, as it poped-up with a message stating for an old/non existing component (displayed in RED). So be sure I have selected the late registered Pr

[2018-05-02 14:15] gkirtzou commented on #32
I don't think that a different path will work, it has to do with how galaxy is handling the docker containers. A quick question, do you create the output folder or do you think it exist? Ideally you need to create the output dir if it does not exists. Could that be the problem?

[2018-05-02 14:34] Aequivinius opened #41 "OMTD takes a long time to send request to web service"
We've registered our NER pipeline as a webservice (https://test.openminted.eu/landingPage/application/b8fb9bbd-603c-4b53-b86d-15c6c753302d)

I realised today that OMTD takes a long time from the point of time when I launch a process (hitting "run" after selecting application and input corpus) to the point of time when the first request from OMTD is sent to our webservice: When I tried it around 14

[2018-05-02 14:35] Aequivinius opened #42 "Deleting & downloading generated corpora"
Whenever we run the OGER application on test.openminted.eu (https://test.openminted.eu/landingPage/application/b8fb9bbd-603c-4b53-b86d-15c6c753302d), the output corpus created by the process shows up under 'corpora' (currently, there are about 10 identical entries from testing). I haven't found a way to delete them.

Also, I cannot download the processed corpus containing the annotations anymore.

[2018-05-02 14:36] AndreLamurias commented on #32
The script assumed that the provided output path existed, but I can change it so that it creates the directory if it doesn't exist. Just to confirm, in your test, the script should check if "/srv/galaxy/database/jobs_directory/001/1185/working/out" exists, and if not it should create all the missing directories?

[2018-05-02 14:48] AndreLamurias commented on #32
I've updated the image so that it creates the output path if it doesn't exist

[2018-05-02 15:20] galanisd commented on #35
Log from container.

[code]

I think that you shouldn't use an entrypoint. Look here for some additional info.
https://github.com/openminted/Open-Call-Discussions/issues/31#issuecomment-383101751
Please can you remove it so that we can test with the updated image.
Also the command that you are providing...should be runnable from everywhere in the container.

[2018-05-02 16:23] galanisd commented on #41
Before starting calling the web service there are also 2 other components that have to run. The first fetches the data from our storage, the second converts pdfs to xmi format. From my logs it seems that 5 minutes is a reasonable amount of time for this setup. The production setup I think will be faster.

Just tried with thalamus corpus. Got results. So probably you got some requests. Please can c

[2018-05-03 07:35] mhabsaoui commented on #35
@galanisd  Hi,

- Can you give us the **actual Galaxy command** that is passed to docker image for both previous logs ?

- > I think that you shouldn't use an entrypoint... Please can you remove it so that we can test with the updated image.

Then why the docker-specs tells to do so ??

-  >Also the command that you are providing...should be runnable from everywhere in the container.

Already did

[2018-05-03 09:07] dumitrescustefan commented on #33
@gkirtzou Yes, that's the output we should have 👍  I have left the temporary .conllu files as a debug in case something fails like the out-of-ram issue before, but with the final publication I will remove them. Thanks alot for the help!

[2018-05-03 09:09] Aequivinius commented on #41
@galanisd I got requests yesterday at 2247, so it seems to work again!

[2018-05-03 09:47] ludovicwalle commented on #12
What should be put in the _label_ field of a _Facet_ in a _SearchResult_ ?

[2018-05-03 10:02] gkirtzou commented on #33
That's great news!! Than mean that we were able to successfully test your component!!! So we are done! The only thing that is left is to upload your component to the services, but we will let you know when to do that.
Please note that if you want to remove generating conllu files, to also remove the respective dataFormat from the outputResourceInfo description in the metadata. I would suggest leav

[2018-05-03 10:20] joancf commented on #29
[input.zip](https://github.com/openminted/Open-Call-Discussions/files/1970455/input.zip)

I attach an input that  can be processed, are two full books (Animal Farm and The Condition of the Working Class in England)
It takes more than 4 hours to process the second one (on a laptop) but does not fail
I have uploaded a new version of the docker.

[2018-05-03 10:43] gkirtzou commented on #32
I was able to reran your component successfully!!! I am attaching the generated file. Could you verify that it is what you are expecting? As an input I am using the corpus you have provided us.

[output.tsv.zip](https://github.com/openminted/Open-Call-Discussions/files/1970501/output.tsv.zip)

![screenshot at 2018-05-03 13-22-51](https://user-images.githubusercontent.com/8426223/39572480-f4199cd6-

[2018-05-03 11:03] dumitrescustefan commented on #33
No, we will leave the final .connlu and .xmi files untouched (so users get bot txt and xml-type outputs). What I wanted to say was that I will remove the intermediary conllu file that precedes the parsing process: the file is always named temporary.conllu and exists only in the docker - I copy it out in the /output folder just to see that everything is ok up to that step.

Finally, I am unsure whe

[2018-05-03 11:13] AndreLamurias commented on #32
Great! Yes that it the expected result. Thanks for the help. Do you think now would be a good idea to implement XMI as an input format, so that the component can be added to workflows that use that format? If you could send me an example file of a document annotated with chemical entities I think it wouldn't take much time to implement that.

[2018-05-03 11:13] gkirtzou commented on #33
Ahh, I see. Sorry I missunderstood what you send previously.

You will register your components to a non-test version of the platform. As soon as we are ready to processed, we will let you know.

I created a private app via the workflow editor, that contains the following components in that order :
1. The omtdImporter, a component that fetches the data from the registry to the workflow engine
2. A

[2018-05-03 11:14] galanisd commented on #35
The containers that have run yesterday were deleted. If you rerun your app I will be able to find it.

It should be deleted. So far we haven't succeeded to run an image that uses an entrypoint with Galaxy.
Also the idea in OMTD is a tool provider to give us an image and a command.  No default executables etc.

The docker run that you use for testing is not the same with docker run that Galaxy gene

[2018-05-03 12:01] mhabsaoui commented on #35
@galanisd

Weird, as we already succeeded in running the same docker image (with entrypoint) on our local Galaxy instance (based on Lapps-Grid platform). Only had to activate the docker deamon in config.xml + declare the tool as a docker image in the galaxy xml wrapper... Don't see frankly why you wouldn't, except the fact that you rearranged the Galaxy engine ??

This isn't a good move to keep SW

[2018-05-03 12:19] gkirtzou commented on #32
It is recommended to use xmi as input, as this would allow your component to be interoperable with other components, and will be easier to be used within the corpora generated within the OMTD platform (usually pdf files). In this case, an application would need to have at least the following components, in that order:

1. omtdImporter, the component that get the data from registry to workflow engi

[2018-05-03 12:45] galanisd commented on #35
**Please read above**

**Please remove the entrypoint from your dockerfile rebuilt the image and notify me before you run your app.  I want to be sure that the latest image is used by doing a docker pull.**

I just did a

[code]

and it seems that your image is still the same.

The OMTD software supports the following (simple) scenario:

- Upload an image to DockerHub
- Put an executable (in the i

[2018-05-03 12:51] galanisd commented on #35
Also check your workflow. I have just deleted old versions of your wrappers.
@antleb any news on this issue?

@mhabsaoui @antleb
What about the connector? Does it work?

[2018-05-03 12:59] ludovicwalle commented on #12
What should be done when a _param_ is specified in query but has no value ?
1) Values being connected by OR, the less values you specify, the less documents you get => extrapolating to zero value, you get zero document.
2) Checking no value on a check list usually means do not filter => ignore _param_.

[2018-05-03 13:08] gkirtzou commented on #27
The only thing that I could think of is if you are doing any tokenization/segmentation within your component, whether there is a problem ending with extremely big sentences, due to tables that a publication might contain.

See also here : https://github.com/openminted/Open-Call-Discussions/issues/33#issuecomment-385049462

[2018-05-03 13:18] gkirtzou commented on #37
Hey @mattshardlow , would you like to retry your app, so that we could check the logs from mesos, to see how things are going?

[2018-05-03 13:20] mattshardlow commented on #37
Sure thing - sorry had missed Dimitris' message.

[2018-05-03 13:32] mhabsaoui commented on #35
@galanisd

Sorry, but I am just reacting to the lack of info (we had to ask for to make it clear **every time**) as the documentation wasn't accurate. And also to the fact of Specs that are not to follow. Understanding we're on test stage, but confused though. Period.

Sorry fot that, only aiming to be reactive in my feedback quality. Will avoid it.

    Upload an image to DockerHub
    Put an exe

[2018-05-03 13:39] gkirtzou commented on #37
@mattshardlow I see the following error in the log :
[code]
Are you sure that the provided maven coordinates + version exist in maven central? Because even manually, I cannot see them. There is only a "Stanford NLP Type System", no LightweightCVD.

![screenshot at 2018-05-03 16-37-27](https://user-images.githubusercontent.com/8426223/39579800-4b0701d8-4ef0-11e8-8f8c-b70a0b3b18dd.png)

[2018-05-03 13:40] mattshardlow commented on #37
Yep, looks like they're not there. Maybe the upload failed. The LightweightCVD should be Test only. But apparently it's still being picked up. I can try putting these both onto Central and then hopefully it should initialise. I'll let you know when I've started it running again.

[2018-05-03 14:10] AndreLamurias commented on #32
@gkirtzou how can I obtain some XMI files with chemical named entity annotations that I could use to test?

[2018-05-03 14:30] gkirtzou commented on #32
@AndreLamurias I not aware of any component that could generate chemical named entity annotations. In the platform there is an application that does that (https://test.openminted.eu/landingPage/application/756502de-a422-4ba4-9c95-04a7d5e9e28c) and it might be what you are asking. The problem is that the way we have for the moment implement the platform you cannot process an annotated corpus genera

[2018-05-03 14:37] galanisd commented on #29
- Pulled the latest version of taln/openminted_freeling:1.0

- Created a corpus with just the typesystem and the Animal Farm XMI (B_AnimalFarm.xmi). I didn't want to wait 4 hours.

- Created a worfklow omtdImporter -> freeling.

- Freeling component have started.
Container log:

[code]

Seems ok so far. Correct? I am waiting to be completed. How much time it takes when you  just run
B_AnimalFarm.x

[2018-05-03 14:52] mhabsaoui commented on #35
@galanisd
docker image updated (without Entrypoint and with termsuite executable runable from PATH).
Please remove all old versions of wrappers for Apps/Comps and docker image(s), so that I register all stuff from scratch and retest workflow.

Cheers.

[2018-05-03 14:57] abravo84 commented on #27
Hi @gkirtzou! I am checking my component with 4Gb of memory. As soon as I have results, I'll tell you.

[2018-05-03 15:09] galanisd commented on #29
Completed:

![freeling](https://user-images.githubusercontent.com/10739759/39585220-f004d258-4efc-11e8-8611-37c8f83dc0f5.png)

Output:

[d4f1e1c8-ef7f-4999-b256-9fe84599e855.zip](https://github.com/openminted/Open-Call-Discussions/files/1971475/d4f1e1c8-ef7f-4999-b256-9fe84599e855.zip)

Please can you have a look?

[2018-05-03 15:20] mattshardlow commented on #37
The artefacts are now in OSSRH, but they're not syncing to maven central. I've logged an issue at sonatype, so hopefully they will resolve this soon.

see: https://oss.sonatype.org/content/groups/public/uk/ac/mmu/tdmlab/
https://issues.sonatype.org/browse/MVNCENTRAL-3381

[2018-05-03 15:31] galanisd commented on #35
Wrappers deleted.
Images updated.

[2018-05-03 15:34] galanisd commented on #35
One more thing...

One common issue that we had with 3-4 components was that they were not creating the output folder.

See more info here.
https://github.com/openminted/Open-Call-Discussions/issues/28#issuecomment-381199289

Galaxy is not creating it.

[2018-05-03 16:15] mattshardlow commented on #37
Ok. The issue with maven appears to be resolved now. I've started a new run on test.openminted Let me know if there's any issues arising.

[2018-05-03 16:25] galanisd commented on #37
Started...finished.
Log...
[log.zip](https://github.com/openminted/Open-Call-Discussions/files/1971758/log.zip)

[2018-05-03 16:34] mattshardlow commented on #37
Thanks, any ideas of what might be causing the error:

JCas Class "org.apache.uima.jcas.tcas.DocumentAnnotation", loaded from "jar:file:/opt/omtd-component-executor/omtd-component-uima/target/omtd-component-uima-0.0.1-SNAPSHOT-exec.jar!/BOOT-INF/lib/uimaj-document-annotation-2.8.1.jar!/org/apache/uima/jcas/tcas/DocumentAnnotation.class", is missing required constructor; likely cause is wrong versi

[2018-05-03 16:37] greenwoodma commented on #37
Looks like you have a dependency on uima 2.8.1 (or part of uima) but need
at least version 3 to process the Cas being passed to the component - or at
least that's the message I get from that exception,

Mark

On Thu, 3 May 2018, 17:34 mattshardlow, <notifications@github.com> wrote:

[2018-05-03 18:01] reckart commented on #37
@greenwoodma  @mattshardlow looks like you have mixed UIMA versions on the classpath, i.e. a uimaj-core 2.8.1 but a uimaj-document-annotation 3.x. Make sure that all your UIMA dependencies have the same version and that any JCas classes on your classpath are compatible with that version.

[2018-05-03 18:03] reckart commented on #37
@mattshardlow If you are submitting UIMA components via Docker, note that OMTD automatically generates a wrapper around it - this is a UIMAv2 wrapper. UIMAv3 components and JCas classes are most likely presently not supported by this wrapper. So best switch to a recent UIMAv2 version. @galanisd

[2018-05-04 07:19] abravo84 commented on #27
@gkirtzou I have tested my docker with my corpus (5 files) and it worked with 5Gb of memory, so I have changed the Minimum Required Memory in the Google Sheet.

[2018-05-04 07:24] gkirtzou commented on #27
Is this the corpus you tested? https://test.openminted.eu/landingPage/corpus/86ba1d12-beb3-4b66-883d-167728042906

[2018-05-04 07:34] abravo84 commented on #27
Yes! I have attached the same corpus in this message and also the corpus is included in the docker image ('/scisumservices/plos_one')
[plos_one.zip](https://github.com/openminted/Open-Call-Discussions/files/1973557/plos_one.zip)

[2018-05-04 07:51] gkirtzou commented on #27
Ok then I wonder why when I ran the same corpus in our infrastructure (docker images via the galaxy workflow engine) its memory grows to 6.6GB (upper limit) and requires more. Since the system has no more memory to offer, it ends up killing it. I will try once more just to be sure.

[2018-05-04 08:02] galanisd commented on #37
The component that @mattshardlow submitted is provided via Maven Central. Same case as
DKPRo PDFReader, DKPRo Tika etc, WP9 Maui Annotator, WP9 Variable Dis.

@reckart

What do you mean "via Docker"?

@mattshardlow @reckart

If the same dependencies with the (recently tested) WP9 Maui Annotator and WP9 Variable Dis. are used in @mattshardlow 's component then I think the problem will be solved.

Y

[2018-05-04 08:15] mattshardlow commented on #37
Yeah, my components use UIMAv3. So it's probably an issue with the wrapper.

I can change all my components over to UIMAv2, but it will be next week before I have time to work on this.

Was this anywhere in the documentation? I don't remember seeing it. It would be worth putting it in there as it seems a fairly major thing.

[2018-05-04 08:19] mhabsaoui commented on #35
Images updated.

OK, I'll register and retest.

Of course, our app writes processed output file(s) to the OUTPUT_PATH provided by Galaxy.

[2018-05-04 08:24] galanisd commented on #37
I don't think that a specific version is mentioned in the documentation (@pennyl67 )

At some point we have to support in OMTD  different UIMA versions.
OR
We just need only one UIMA wrapper/executor with latest UIMA version? Not sure that the "old" components will be compatible?

@reckart ?

[2018-05-04 08:35] reckart commented on #37
UIMAv2 and UIMAv3 are not compatible with each other. They are data-wise (i.e. XMI and even binary formats) and in many cases API-wise, but they cannot coexist on the classpath.  If we wanted to support both, we'd need two wrappers. However, there is no released UIMAv3 version of uimaFIT and DKPro Core (XmiReader/XmiWriter). It is something on my todo list, with the uimaFIT v3 release being first.

[2018-05-04 08:36] pennyl67 commented on #37
There's no specific mention of a UIMA version in the guidelines; in the instructions for uimafit (https://openminted.github.io/releases/frameworks/guide-for-uimafit/), there's a mention for uimafit 2.2.
@mattshardlow is right that we should add something in the documentation. @reckart and @galanisd could you prepare a short text that I add to the guidelines?

[2018-05-04 08:37] galanisd commented on #35
Ok. In one hour from now I will be flying...and I will  be offline for several hours.
If needed I will check logs etc when I will arrive ...

Thanks!

[2018-05-04 08:38] reckart commented on #37
Quote:

[2018-05-04 08:41] mhabsaoui commented on #35
@galanisd
OK, thanks for your support :+1:

jobId 83acd574-8afc-456a-8fa2-ea0c254c0592 running.

[2018-05-04 08:46] pennyl67 commented on #37
@reckart Added at https://guidelines.openminted.eu/sharing-uima-and-gate-components.html as a foonote.

[2018-05-04 08:47] gkirtzou commented on #35
@mhabsaoui I think your process finished successfully. Below is the log and I also attach the output file. Could you check if is what you are expecting?

[TermExtractText.xmi.zip](https://github.com/openminted/Open-Call-Discussions/files/1973725/TermExtractText.xmi.zip)

[2018-05-04 09:04] mhabsaoui commented on #35
@galanisd @gkirtzou
Yes, It finished successfully (a little bit slower as locally) with an xmi file in output :+1:

![capture du 2018-05-04 10-44-43](https://user-images.githubusercontent.com/18755135/39619756-3266fe14-4f89-11e8-9b06-fe91cbdccf9e.png)

I am looking forward to any of your tips and suggestions.

Cheers.

[2018-05-04 09:12] gkirtzou commented on #35
As I am trying to fill in @galanisd since he is travelling, and I am trying to catch up with everything you said the past few days. If I am not mistaken,  you have more components to submit in the platform. If that's the case, I believe that if you update the docker files similar to the TERMSUITPREPROCESSOR, they should work. I you want could you please send me the metadata records, so I would kno

[2018-05-04 09:14] galanisd commented on #35
Great!

Processing time depends on the specs of our test cluster. See here for more info.

https://github.com/openminted/Open-Call-Discussions/issues/28#issuecomment-382410233

I believe production will be faster.

[2018-05-04 09:16] mhabsaoui commented on #35
@galanisd

It would be nice to have the elapsed processing time (NaN minutes)

![image](https://user-images.githubusercontent.com/18755135/39620350-2d8976ae-4f8b-11e8-992a-70dcf9ac6da8.png)

Now, we will update ASAP our docker image (with a new specific version tag) to make Preprocessor component supporting XMI also in input.

PS: How are we supposed to manage the **[ancillary resources](https://g

[2018-05-04 09:54] reckart commented on #37
@pennyl67 I edited the comment above a couple of times, in particular adding a note that the UIMA version limitation applies only to components submitted via Maven - pre-dockerized components should not be affected. Could you please copy the rest of the comment  (https://github.com/openminted/Open-Call-Discussions/issues/37#issuecomment-386538430) over to the guidelines as well?

[2018-05-04 10:07] pennyl67 commented on #37
@reckart sure but I'll do it tomorrow as I've just boarded for Tokyo

[2018-05-04 10:35] antleb commented on #12
Regarding the access toked, the OMTD platform does keep an access token for the logged in users and this token could be passed to the connector (with a small change/addition to the interface). However, keep in mind that this token is issued by the OMTD AAI, an idP acting as a proxy for edugain, social networks, etc.
If you choose to use this token, then you'd have to refer to the AAI to retrieve i

[2018-05-04 10:39] antleb commented on #12
PDFs are the easy option for us. if they contain scanned images or very complex structure, then indeed we don't get very useful text, but we'll have to live with that until we are ready to deal with all the different formats.

[2018-05-04 10:59] antleb commented on #12
Facets and keyword:

you are right about all statements about the facets :)

About the keyword search, we don't have any specs about the keyword, operators, etc because we can't know what each content provider supports. It's absolutely up to the implementations to decide if they are going to support complex queries or pass the keyword to their index and hope for the best. In a future version we mi

[2018-05-04 11:15] antleb commented on #12
Regarding the testing and deployment of your connector, what we plan to do (asap) is the following:
- you'll configure your GitHub repo to notify our Jenkins when you push changes.
- we'll set up a clone of the platform's build to build a platform with a dependency on your connector. This build's last step will be deploying everything to a test machine(s) dedicated to content connector tests.
- Yo

[2018-05-04 11:19] antleb commented on #12
the label field of a search result is the label displayed in the UI. Try to use the same labels as the OpenAIRE or CORE connectors for the same facets. To be honest, I don't remember how the UI will behave if the there is a mismatch between the labels of the same facets, so try to remain consistent.

[2018-05-04 11:25] antleb commented on #12
Regarding the params, there will not be a parameter in the query without value. If the users don't select a value, no parameter will be set in the query.

[2018-05-04 11:26] ArneBinder commented on #31
@galanisd @reckart The fimda tool expects just xmi files in the input folder. It tries to process the `typesystem.xml` similar to them and fails. If you remove it from the input, it should work. [This folder](https://github.com/Erechtheus/fimda/tree/master/src/test/resources) contains a working input file.
What is the expected behaviour with regard to `typesystem.xml`file(s) in the input folder? I

[2018-05-04 11:40] mhabsaoui commented on #35
@gkirtzou

OK

@pennyl67 already sent them as a zip file [HERE](https://github.com/openminted/Open-Call-Discussions/files/1957776/visatmMetadata.zip) in this issue.

Yes, I am willing to

1. to re-test TERMSUITPREPROCESSOR with a corpus of 2 or more files

1. to re-register the TERMSUITEEXTRACTOR component and test it with the Preprocessor's output corpus as input. Eventually, also to see if _it d

[2018-05-04 11:53] reckart commented on #31
@ArneBinder I would recommend that XMI files use the extension `.xmi` and in that way they do not conflict with the typesystem.xml file.

[2018-05-04 11:56] reckart commented on #31
@ArneBinder if a component "retains" incoming annotations, then the typesystem.xml file must be read, processed (i.e. merged with any type system that the component might contribute) and the merged file must be written to the output. E.g. the DKPro Core XmiReader (1.9.1) is capable of doing such a merging. If a component "drops" incoming annotations, then you may be able to ignore the typesystem f

[2018-05-04 11:58] reckart commented on #31
Here is the relevant code from the DKPro Core XmiReader. A bit more complex than yours, but hopefully still manageable:

https://github.com/dkpro/dkpro-core/blob/master/dkpro-core-io-xmi-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/xmi/XmiReader.java#L103-L141

[2018-05-04 11:59] ArneBinder commented on #31
@reckart thanks! I will have a look.

[2018-05-04 12:23] mhabsaoui commented on #35
@gkirtzou
step 1 => made a new private text+xmi corpus for test on  => jobId 7afd34ae-d4d2-4d67-b490-339a4d843a61 running  ==> OK.

step 2 => ...

[2018-05-04 12:35] gkirtzou commented on #35
OK I will find them, and check them out to understand what your components do

See in the attachment the output. I notice that you use the same name with xmi and txt ending, and although your input had 5 documents, the output has 3.
[component_output.zip](https://github.com/openminted/Open-Call-Discussions/files/1974407/component_output.zip)

In oder to test the TERMSUITEEXTRACTOR component you ne

[2018-05-04 12:45] mhabsaoui commented on #35
@gkirtzou

Please don't bother with attaching output results, as I already access them on OMTD :smiley:
Only logs from Galaxy matter (in case of any warnings/error).

Yes, it was expected as the Preprocessor for now only processes TXT format. XMI is next...

Yes.

OK, thanks.

Cheers

[2018-05-04 13:26] mhabsaoui commented on #35
@gkirtzou

step 2 =>  TERMSUITEEXTRACTOR component and its test workflow registered.

PS: I don't see any info on right panel when selecting the Extractor component on workflow editor...
![image](https://user-images.githubusercontent.com/18755135/39630024-60a6c9e2-4fae-11e8-86fb-2cadb5054af3.png)

testing the workflow ==> jobId a88abb09-abf9-4e81-99c7-6956ffd55762

[2018-05-04 15:00] gkirtzou commented on #35
1) It seems that what you have tested so far has finished successfully, right?
2) In the workflow editor I can see all the details in the left. I don't know why you couldn't. Could you check if this still happens?

Thanks

![screenshot at 2018-05-04 17-58-55](https://user-images.githubusercontent.com/8426223/39635047-0703752c-4fc5-11e8-9954-26892558cc8a.png)

[2018-05-04 17:28] ArneBinder commented on #31
@galanisd @reckart The new release 0.2.5 processes only `.xmi` files and merges `typesystem.xml` if this file exists. What's the way to write a type system (e.g. obtained from `aCAS.getTypeSystem()`) back to disc?
EDIT: Nevermind, found it. See release 0.2.6.

[2018-05-04 17:30] reckart commented on #31
See https://github.com/dkpro/dkpro-core/blob/master/dkpro-core-io-xmi-asl/src/main/java/de/tudarmstadt/ukp/dkpro/core/io/xmi/XmiWriter.java#L109

[2018-05-04 17:30] reckart commented on #31
Well, basically:

[code]

[2018-05-04 23:07] joancf commented on #29
The ouput now is correct perfect! I uploaded a new version of the docker whith some minor changes (and tested it)

About the Babelnet. There is a new version with all the problems solved in Freeeling also solved there. You can  take the ouput of Freeling as input. (also it takes time ) or use the input I sent to you. Remember that in any case it needs sentence, token and POS

[2018-05-04 23:27] pennyl67 commented on #37
@reckart done at guidelines; should we add in any other place in the  documentation of github?

[2018-05-04 23:46] galanisd commented on #31
Yes this time it has completed.
Output contains some fimda annotations and  typesystem seems OK.
Please have a look

[component_output.zip](https://github.com/openminted/Open-Call-Discussions/files/1976154/component_output.zip)

[2018-05-04 23:48] pennyl67 commented on #35
@mhabsaoui Some short answers that might help

This is basically your decision. If the output corpus (and only the corpus; I agree that XMI makes no sense for the list of terms) is in XMI format, users will have to see the annotations with the annotation viewer - just about to be integrated in the platform. But to do this, it has to be compatible with the XMI format of OMTD. You can find examples

[2018-05-05 07:13] gkirtzou commented on #29
@joancf just to be sure this is the image you want to test taln/openminted_babelnet:1.0, correct?
And the input you want to test is this one, right?
[BabelnetCorpus.zip](https://github.com/openminted/Open-Call-Discussions/files/1976416/BabelnetCorpus.zip)

[2018-05-05 07:45] gkirtzou commented on #35
1) Your component needs to handle the parameter following this schema : docker run in the following format:` --param:<PARAMETER-NAME>=<PARAMETER-VALUE>` (as mentioned in the  specs https://openminted.github.io/releases/docker-spec/1.0.0/specification)
2) I imagine that you had declare the data parameter in the metadata record of the component and it must have been declared as obligatory, but no de

[2018-05-05 11:37] joancf commented on #29
yes,
I hope that this one is more straightforward :-)

[2018-05-05 15:21] joancf commented on #29
also you can use the output from freeling
but it takes a while...

[2018-05-05 15:50] gkirtzou commented on #29
I will try both :)

[2018-05-05 18:47] gkirtzou commented on #29
Hey @joancf I ran the babelnet component with the input you have provides, and it run successfully
Below is the log and in the attachement the output I got. Could you check that it is what you are expecting?
[code]
[8b6f0425-a013-41d3-9f73-14025903389b.zip](https://github.com/openminted/Open-Call-Discussions/files/1976956/8b6f0425-a013-41d3-9f73-14025903389b.zip)

[2018-05-05 18:57] joancf commented on #29
Yes, the results are the ones expected

Joan

[2018-05-05 19:08] gkirtzou commented on #27
We were able to give more memory to the application and I have successfully ran your software. In the attachement you would find the output. Could you check that it is ok?
[OutputCorpus.zip](https://github.com/openminted/Open-Call-Discussions/files/1976974/OutputCorpus.zip)

[2018-05-05 22:45] gkirtzou commented on #29
Perfect. I will run tomorrow a complete workflow with both feeling and
babelnet, just to be sure.

On Sat, 5 May 2018, 21:57 Joan Codina, <notifications@github.com> wrote:

[2018-05-06 11:07] gkirtzou commented on #29
I also created a workflow with freeling as step one and babelnet as step two. I fed the workflow with the freeling corpus you have provided me and this is the output I got. Could you check that it is ok?
[FreelingBabelNetOutputCorpus.zip](https://github.com/openminted/Open-Call-Discussions/files/1977554/FreelingBabelNetOutputCorpus.zip)

[2018-05-06 11:45] joancf commented on #29
Yes the result is the the expected one, it is correct!
but only a portion of the Animal's farm is there, the first paragraphs

[2018-05-06 12:35] gkirtzou commented on #29
I ran this file that you have uploaded in the first days of our discussion. I hope that it is the same with the processed (apart from the annotations).
[FreelingCorpus.zip](https://github.com/openminted/Open-Call-Discussions/files/1977616/FreelingCorpus.zip)

[2018-05-07 01:11] reckart commented on #37
@pennyl67 I think the guidelines is sufficient.

[2018-05-07 07:07] stephane54 commented on #12
@Ludovicwalle is away from work this week but I can give you some answers.
We do not use spring at all, so you'll have to develop a specific layer
Here is the  github repo url for the project so you can have a look to the code
https://github.com/VisaTM/IstexConnector
Finally, we are waiting for the information for the configuration of the Github repo

[2018-05-07 07:09] stephane54 commented on #12
@ludovicwalle is away from work this week but I can give you some answers.
We do not use spring at all, so you'll have to develop a specific layer
Here is the github repo url for the project so you can have a look to the code
https://github.com/VisaTM/IstexConnector
Finally, we are waiting for the information for the configuration of the Github repo

[2018-05-07 08:21] abravo84 commented on #27
@gkirtzou YES!!! :) The relevant features are described in the deliverable 3.

Best,

à.

[2018-05-07 09:15] gkirtzou commented on #27
@abravo84  Perfect! Then the testing from our part has finished. The metadata record are also ok. I will let you know when you can upload it to the official platform. :)

[2018-05-07 09:17] joancf commented on #29
Sorry, Yes, you are right! I think that now everything is correct!

[2018-05-07 12:45] gkirtzou commented on #29
Perfect! I just tried another small test where I wanted to test both freeling + babelnet with this small corpus https://test.openminted.eu/landingPage/corpus/97833edb-b6c7-44a0-9d8d-f9219a147e2a, a typical corpus found in OMTD platform. I first user tika converter to transform pdf file to xmi (with DKPro typesystem), and then passed them to freeling, but the freeling failed to process the files.

[2018-05-07 12:47] gkirtzou commented on #35
Hey @mhabsaoui . Is it ok the information I provided you for the parameters? Do you need any help for testing your software?

[2018-05-07 12:59] joancf commented on #29
I see that the language detection fails, have you tried to set the language to "en" instead of auto. Also I think that FreeLing has problems with pdf's transformed to text when the text is very dirty.

[2018-05-07 13:04] gkirtzou commented on #29
Yes the language was set to auto, I will try with english ("en") to see if that would be better.

[2018-05-07 13:58] antleb commented on #12
For the Github repo, configure your repository to call our Jenkins whenever a push is made (settings -> integration&services -> Jenkins (GitHub plugin) ) using "https://builds.openminted.eu/job/istix-connector/build/token=2106875370) as a url.

We'll write the spring layer and let you know when we have a deployed version of your code.

[2018-05-07 14:30] gkirtzou commented on #29
Ok, I reran the worfklow (omtdImporter + tika converter + freeling (en) + babelnet))  with this corpus (https://test.openminted.eu/landingPage/corpus/97833edb-b6c7-44a0-9d8d-f9219a147e2a) , but this time the babelnet failed

[code]
It would be good to be able to handler xmi that are generated from pdf /xml files, as this is the main corpora available in the OMTD platform.

[2018-05-07 14:37] gkirtzou commented on #29
I am also attaching the intermediate results, that could be of help from tika and freeling
[tika_output.zip](https://github.com/openminted/Open-Call-Discussions/files/1980261/tika_output.zip)
[freeling_output.zip](https://github.com/openminted/Open-Call-Discussions/files/1980263/freeling_output.zip)

[2018-05-07 14:48] joancf commented on #29
Yes it would ;-)
I can explain why this happens,
If you say to the Freeling wrapper  that the language is "en" it will analyze the document without checking, nor setting, the document language . So if your document does not specify a any language
Freeling only sets it in auto mode
When it gets into the the Babelnet component, that component expects the language to be defined in the document, and a

[2018-05-08 09:17] gkirtzou commented on #29
@joancf  Ok, I now understand what the problem is. Maybe it would be a good idea if after the conversion from pdf or xml to xmi there was a component that would clean up the xmi by removing possible areas that would generate errors. I don't know if such a component exists within OMTD platform.

Anyway, both your components can successfully run in the platform, thus testing has been completed. It o

[2018-05-08 09:18] joancf commented on #29
Hi,
i did the following
1 edited your tika_output files to add "en" as language  (tika_input)
2 processed with freeling  (Freeling_output)
3 processed with babelnet (babelnet_output)
[tika_en.zip](https://github.com/openminted/Open-Call-Discussions/files/1983180/tika_en.zip)
here you have the input and outputs, you should be able to do the same processing. (but files may not be 100% equal as there

[2018-05-08 09:19] joancf commented on #29
Ok, we have been crossing comments

[2018-05-08 09:42] gkirtzou commented on #31
@Erechtheus could you verify that the output sent by @galanisd is what you are expecting?

[2018-05-08 09:57] gkirtzou commented on #29
@joancf Sorry for putting you into extra trouble.

[2018-05-09 01:14] reckart commented on #29
The error below indicates that uimaFIT does not know how to convert the value "en" for the string parameter language into an instance of `it.uniroma1.lcl.jlt.util.Language`.

[code]

Please change the parameter in your component to be a simple string parameter such as:

[code]

Then overwrite/implement the `initialize` method of the component and manually instantiate the `it.uniroma1.lcl.jlt.util.

[2018-05-09 01:18] reckart commented on #29
[code]

Text extracted from PDF files is always pretty dirty. I expect that your language detector does not actually look at the entire document but probably only at the first part of the document. In scientific publications, this first part includes the title and author information. In particular the latter is not well suited for language detection.

Please check if you could improve your languag

[2018-05-09 06:33] Erechtheus commented on #31
@gkirtzou @galanisd Yes, the output looks as expected. We also updated the version in openminted. Should we now close the issue?

[2018-05-09 06:34] galanisd commented on #31
closed.

[2018-05-09 06:51] galanisd commented on #31
Reopened. We will close the issue when FIMDA  is registered to services.openminted.eu

[2018-05-09 08:19] joancf commented on #29
@reckart
about the Babelnet error. If the language is Set in the document then it works the problem was thatthe document had as language, "x-unspecified" which does not correspond to any known language.

About language detection. I have tried to find the end of a sentence after the first 800 characters (150-200 words). I could detect it, with no problem, but the text is crazy, and FreeLing fails t

[2018-05-09 10:55] gkirtzou commented on #30
Dear @jakelever you can now proceed to the uploading of your applications at https://services.openminted.eu/home

Just, one final suggestion for the metadata records is to add in both input and output resource info the language(s) that your application can handle.

If you encounter any problems, please let us know. Please also let me know when you have uploaded the applications to the production s

[2018-05-09 10:57] Erechtheus commented on #31
@galanisd
I added the service to [services](https://services.openminted.eu/landingPage/component/61a5193e-beab-4b79-9116-b794739260b5).

[2018-05-09 11:14] gkirtzou commented on #31
@Erechtheus is your component private, right?

[2018-05-09 11:27] gkirtzou commented on #29
Dear @joancf  you can now proceed to the uploading of your applications at https://services.openminted.eu/home

Just, some final suggestions, not obligatory but recommended, for the metadata records are
- Add in both input and output resource info the language(s) that your BabelNet component can handle.
-  Complete the documentation info, with user manuals & publication for citation, in both your

[2018-05-09 11:31] gkirtzou commented on #32
Dear @AndreLamurias  you can now proceed to the uploading of your component at https://services.openminted.eu/home

Please, when you upload your component, create the appropriate workflow so that someone could run your component using the workflow editor. For more info see https://openminted.github.io/releases/workflow-editor/
Please also let me know when you have uploaded the your component to th

[2018-05-09 11:32] joancf commented on #29
ok I'll do, but...
about languages and Babelnet, Babelnet has 271 languages and I don't have the list!

[2018-05-09 11:51] gkirtzou commented on #29
@joancf Really? It can work in 271 languages? Impressive! Anyway, the language element is not obligatory, it is just a recommendation. If it is too difficult, you can just skip my recommendation.

[2018-05-09 11:56] gkirtzou commented on #27
Dear @abravo84  you can now proceed to the uploading of your component at https://services.openminted.eu/home

Just, some final suggestions, not obligatory but recommended, for the metadata record are
-  Add in both input and output resource info the language(s) that your component can handle.
-  Complete the documentation info, with user manuals & publication for citation.
-  Add the resourceCrea

[2018-05-09 11:59] gkirtzou commented on #33
Dear @dumitrescustefan  you can now proceed to the uploading of your component at https://services.openminted.eu/home

Just, some final suggestions, not obligatory but recommended, for the metadata record are
-  Add in both input and output resource info the language(s) that your component can handle.
-  Add the resourceCreator with contact yourself, for citation reasons.

Please, when you upload

[2018-05-09 11:59] Erechtheus commented on #31
@gkirtzou I updated it to public :)

[2018-05-09 12:03] gkirtzou commented on #31
Perfect! One more thing, please, create the appropriate workflow so that someone could run your component using the workflow editor. For more info see https://openminted.github.io/releases/workflow-editor/

Also let me know when you have finished, so I could close the issue.
If you encounter any problems, please let us know.
Thanks

[2018-05-09 12:07] gkirtzou commented on #19
Dear @AlexJoom  you can now proceed to the uploading of your component at https://services.openminted.eu/home

Just, some final suggestions, not obligatory but recommended, for the metadata record are
- Add in both input and output resource info the language(s) that your component can handle.
- Add the resourceCreator with contact yourself, for citation reasons.
- Add documentation to either user

[2018-05-09 12:10] joancf commented on #29
Well it should ;-) . I haven't tested all of them, I have used it in English, Spanish and Arabic texts and it works.  Babelnet is a multilingual resource based on wikipedia and other resources, the coverage changes from language to language

[2018-05-09 12:12] gkirtzou commented on #29
Maybe you could add this info, that is a multilingual resource based on wikipedia and other resources,  in the description if you haven't done already.

[2018-05-09 12:50] dumitrescustefan commented on #33
@gkirtzou Thanks! I added the languages and updated the label for the language parameter in a new (private) component. Please tell me under what section is the resourceCreator so I can add it as well. As soon as I validate the component on the test server i'll upload the xml to the services.

[2018-05-09 13:11] gkirtzou commented on #33
@dumitrescustefan when you edit the metadata of a registered component, there is the option "Add Resource Creation". You would find it under the Identification section.

[2018-05-09 16:03] joancf commented on #29
About the manuals. Is there a public access to the deliverables we presented to you? or do we add them in the github repositories?
Joan

[2018-05-09 17:42] pennyl67 commented on #34
@Aequivinius I have taken the liberty to upload your application at services.openminted.eu and tested it. It seems to work ok. The application is available at: https://services.openminted.eu/landingPage/application/71345d18-297f-4ac5-b4de-38ef3cacbe75 You can also test it yourself.
If everything is ok, let me know so that we close the issue.

[2018-05-10 08:26] dumitrescustefan commented on #33
@gkirtzou I edited the component, and it's public on :
https://services.openminted.eu/landingPage/component/8f47d5d7-22d5-43e1-b790-ec4c44af0a68
Thanks!

[2018-05-10 09:58] AndreLamurias commented on #32
@gkirtzou thanks, I will upload the component soon. I assume that I have to make it public. Then, if I ever then to fix a bug or update a model, for example, should I submit a new version of the tool or can I push the update to dockerhub and OMTD will pull the new image?

[2018-05-10 10:14] gkirtzou commented on #33
@dumitrescustefan Thanks for uploading the component. Could you please create a public application as well, so that non expert user could use it?

Note that when you create an application, you wiil be asked to fill in a metadata record. Some tips for filling it in - so that they are discoverable by the users but also that users can cite you and your resource.
- Give the application a unique name t

[2018-05-10 10:24] gkirtzou commented on #32
@AndreLamurias yes we want it to be public and also don't forget to create an application so that non expert end users could use your software without any tuning.
For reproducibility reasons if you update the sotfware (either due to bug or due to an update of the model), it would be good to upload a new docker image with another version and reregister it to OMTD. You could add in the metadata reco

[2018-05-10 10:28] gkirtzou commented on #32
Note that when you create an application, you will be asked to fill in a metadata record. Some tips for filling it in - so that they are discoverable by the users but also that users can cite you and your resource.
- Give the application a unique name that humans can read and short enough
- Give an explanatory description; remember you can re-use the description of the component(s) in the workflow

[2018-05-10 11:06] gkirtzou commented on #42
@Aequivinius the annotated corpus generated by an application can be viewed under MySpace->Corpora (https://test.openminted.eu/mySpace/corpora). There a list of all your corpora. In the right column Under Action, there is the trash icon, where you can use to delete it. If you haven't made them public you should be able to delete them successfully.

Whether you can download a processed corpus depen

[2018-05-10 11:12] gkirtzou commented on #35
@mhabsaoui  Any news? Do you need any help further?

[2018-05-10 11:13] gkirtzou commented on #31
Note that when you create an application, you wiil be asked to fill in a metadata record. Some tips for filling it in - so that they are discoverable by the users but also that users can cite you and your resource.
-  Give the application a unique name that humans can read and short enough
-  Give an explanatory description; remember you can re-use the description of the component(s) in the workfl

[2018-05-10 11:15] gkirtzou commented on #29
Note that when you create an application, you wiil be asked to fill in a metadata record. Some tips for filling it in - so that they are discoverable by the users but also that users can cite you and your resource.
- Give the application a unique name that humans can read and short enough
- Give an explanatory description; remember you can re-use the description of the component(s) in the workflow

[2018-05-10 11:16] abravo84 commented on #27
Ok @gkirtzou! I have a question, my component only works with English, and I have defined "English" in my inputContentResourceInfo and outputResourceInfo. So should I add this information in other place? And also I have my mail in the Contact field.

[2018-05-10 11:25] gkirtzou commented on #27
@abravo84 If you have defined english in inputContentResourceInfo and outputResourceInfo is sufficient.

It is nice to "duplicate" of the contant field also to the resourceCreator.  This is the place where someone would look for reasons of attribution.

Also, note that when you create an application, you wiil be asked to fill in a metadata record. Some tips for filling it in - so that they are dis

[2018-05-10 11:25] gkirtzou commented on #19
Note that when you create an application, you wiil be asked to fill in a metadata record. Some tips for filling it in - so that they are discoverable by the users but also that users can cite you and your resource.
- Give the application a unique name that humans can read and short enough
- Give an explanatory description; remember you can re-use the description of the component(s) in the workflow

[2018-05-10 11:26] snikolakis commented on #19
Hi @gkirtzou , we have uploaded our component here:
https://services.openminted.eu/landingPage/component/24d68cdd-1e24-47a6-8006-5f6d08718dc3

All the recommended fields for the metadata record have been filled and we created a new workflow here: https://services.openminted.eu/landingPage/application/7cc09c26-d310-43be-b753-ede278589fd6

Thank you.

[2018-05-10 11:48] abravo84 commented on #27
ok! It is not public yet. I do not know if you can check it:
https://services.openminted.eu/landingPage/component/e5042dcd-14b9-4761-9263-6f56c73c2188

[2018-05-10 11:56] gkirtzou commented on #27
I cannot see it. Could you please send me the xml file, so I can validate that everything is ok? Then you could make it public.

[2018-05-10 11:58] abravo84 commented on #27
Ok! It is attached. Also should I register my corpus?
[e5042dcd-14b9-4761-9263-6f56c73c2188.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/1991513/e5042dcd-14b9-4761-9263-6f56c73c2188.xml.zip)

[2018-05-10 11:58] mhabsaoui commented on #35
@gkirtzou (sorry for answering lately, had to focus elsewhere...)

No, still pending. do you get any logs yet or info why it still hangs ??
![image](https://user-images.githubusercontent.com/18755135/39867814-0e90f210-5457-11e8-9c8c-fdf1f82003d3.png)

It is back to normal. Perhaps a bug on Galaxy or UI rendering...

Yes, we already were aware of this requirement.

Yes, correct. We actually were ex

[2018-05-10 12:06] gkirtzou commented on #19
@spyninja I can see the application but no the component (it is private). COuld you send me the metadata record in xml?

[2018-05-10 12:07] gkirtzou commented on #19
@spyninja  sorry the reverse. I can see the component but not the application.

[2018-05-10 12:10] snikolakis commented on #19
I'm sorry for the inconvenience, I have made the application public, as well.

[2018-05-10 12:49] gkirtzou commented on #27
I am not sure if your corpus is required in the production site. I would have to ask.
Could you please create an application for your component as well?

[2018-05-10 13:44] abravo84 commented on #27
You mean the appropriate workflow?

[2018-05-10 13:53] gkirtzou commented on #35
Unfortunately, as Penny already mention  we do not support yet the import of ancillary resources in the workflow, but we plan to do so in the future. Thus we are currently asking all users to put them inside the docker image.

I think the problem is that your are testing an already processed corpus. I know that the platform show that you can process it, but I am not sure that it is doing that tota

[2018-05-10 13:54] gkirtzou commented on #35
@mhabsaoui when you start running another experiment let me know, so I will keep an eye of what's going on.

[2018-05-10 13:59] gkirtzou commented on #27
Yes an appropriate workflow that a non expert user could run your component. Thanks

[2018-05-10 15:11] mhabsaoui commented on #35
@gkirtzou

We thought output corpus results were automatically registered so as to reuse them as input... It would have been interesting.

Yes, we could give it a try for now. It could work better...
But I think we will have to register a dedicated corpus with one (txt or xmi) file.

Cheers

[2018-05-10 15:19] mhabsaoui commented on #35
@gkirtzou

We edited the existing TermsuiteExtractorWorkflow to add the preprocessor component in the pipeline.

So job running =>  jobId 7d7fc88f-d013-496f-996e-619ea18f37b7

Edit :  `There was a problem running the application. Try again in a while. (final workflow state is in error)`

Galaxy error logs ?

Edit2: testing simple text file as input for Extractor to check if it's better (suspecting

[2018-05-10 15:57] AndreLamurias commented on #32
I have uploaded the component: https://services.openminted.eu/landingPage/component/32dd1eb5-ae53-4e97-8cb7-b7bb5849c5cb

Here is the workflow using the component: https://services.openminted.eu/landingPage/application/4e806362-fb26-403f-ae9e-9716fa5f2cef I have not made it public yet in case there's some issue with the metadata:
[4e806362-fb26-403f-ae9e-9716fa5f2cef.zip](https://github.com/openmi

[2018-05-11 07:45] gkirtzou commented on #35
@mhabsaoui I found both your attempts from yesterday, and both of the gave the same log when they
reached your component

Probably something is wrong configured/register to the way your component is called.

[2018-05-11 07:51] gkirtzou commented on #35
Does your workflow contain both termsuite preprocessing and termsuite extractor?

[2018-05-11 08:34] mhabsaoui commented on #35
@gkirtzou

I tried both, with / without preprocessing  component.

Normally, the Extractor should have successfully processed the simple text corpora. We don't see why it wouldn't.  Can you reset or clear the Pending jobs, so as to avoid side effects ? And then I will give it a retry...

Cheers

[2018-05-11 08:42] gkirtzou commented on #35
If you see any pending job especially really old one, it is a bug between the communication of registry and workflow engine. It has no effect on the execution. If you want you can retry running again your workflow. But do take into consideration the log that I showed you above. It seems that you have not define correctly your components in order to be invoked.

Let me know if you rerun, so I could

[2018-05-11 09:08] dumitrescustefan commented on #33
@gkirtzou I am first trying to create an app on the test. server. I edited the metadata with all the above pointers, landing page is:
https://test.openminted.eu/landingPage/application/0c07c957-b001-4bde-8347-b3eec6c89ecb
The app is private so I can edit the metadata, can you see it?

I tried to run it a couple of times, but says : "running" for some time (though for 2 pdfs it should finish in ~1

[2018-05-11 09:24] gkirtzou commented on #33
I cannot see it since it is private. Could you please send me here the xml with the metadata from your app, so I could check them?

I check the workflow engine and I found three successful run from your workflow. Did you get the final output in the UI? Each experiment took ~10 minutes.
A question:  your workflow consists of omtdImport -> PDFReader -> UPFMT component, correct?

You mean that you ma

[2018-05-11 09:48] dumitrescustefan commented on #33
Here is the xml zipped:
[0c07c957-b001-4bde-8347-b3eec6c89ecb.zip](https://github.com/openminted/Open-Call-Discussions/files/1994773/0c07c957-b001-4bde-8347-b3eec6c89ecb.zip)

Regarding the workflow, I have the **omtdImporter** linked to the **PdfReader** then to the **UPFMT** component (the last version, updated one), exactly as you specified. However, on the UI, I get three "Running" tasks.

Las

[2018-05-11 09:51] greenwoodma commented on #33
@dumitrescustefan yes, the inability to change parameter values on a workflow that you have previously created is a known bug which we are looking into (it's a bug in Galaxy which they are investigating). Currently the only option is to remove the component you want to edit and then re-add it. Sorry about that, I'm aware just how annoying that specific bug is.

The hidden status of the dataset sho

[2018-05-11 09:55] gkirtzou commented on #32
@AndreLamurias A few comments

**For the component**
I notice that the image your register is the following andrelamurias/bolstm:omtd-v1, correct? Also in the versionInfo you had declare as version 1.0.0. This is a bit inconsistent. Which is the correct version? omtd-v1 or 1.0.0 ? I am sorry that I didn't mentioned it earlier. I just noticed it. Could you change it? I can ask to delete your compon

[2018-05-11 10:43] AndreLamurias commented on #32
Ok I have uploaded a new component using andrelamurias/bolstm:omtd-v1.0.0 to keep things consistent: https://services.openminted.eu/landingPage/component/f2ef9b8f-d4bf-4cdd-8380-c7e63f1a0dc2

Do you mean the deliverables of the open tender? I can upload those documents to the repo if that's what you mean.

I'll wait for you to delete the previous component to update the workflow so that I don't us

[2018-05-11 10:45] gkirtzou commented on #33
@dumitrescustefan I checked the application metadata and I have the following comments/suggestion

- You could add your self as a resourceCreator for provenance and citation reasons
- Concerning the relation with UPFMT component you have declared as  `resourceIdentifierSchemeName="URL"` , thus the `schemeURI` should not be completed. schemeURI must be completed only when you declare as `resourceId

[2018-05-11 11:10] gkirtzou commented on #31
Please, when you upload your component and you create an application so that a non-expert user could run it, please keep it private and send me the metadata here, so I could check them.

Also, you could add the deliverable from the tender call to your git-hub repository (if you have) and add them as documentation to the metadata of your software.

Thanks.

[2018-05-11 11:16] gkirtzou commented on #30
Please, when you upload your applications, please keep them private and send me the metadata here, so I could check them.

Also, you could add the deliverable from the tender call to your git-hub repository (if you have) and add them as documentation to the metadata of your software.

Thanks.

[2018-05-11 11:17] gkirtzou commented on #29
Please, when you upload your component and you create an application so that a non-expert user could run it, please keep them private and send me the metadata here, so I could check them.

Also, you could add the deliverable from the tender call to your git-hub repository (if you have) and add them as documentation to the metadata of your software.

Thanks.

[2018-05-11 11:18] gkirtzou commented on #27
Please, when you create an application so that a non-expert user could run it, please keep itprivate and send me the metadata here, so I could check them.

Also, you could add the deliverable from the tender call to your git-hub repository (if you have) and add them as documentation to the metadata of your software.

Thanks.

[2018-05-11 11:40] dumitrescustefan commented on #33
Okay, thank you.
I added the resourceCreator info.
I changed the relation for the component to the OpenMinTeD Id. I also removed the PDF Reader relation for now. Even if everything is in test., I added the ID for the UPFMT that's in the services. server because it's one less thing to remember when I move everything to services.

I would like to try to add the app in the services. server, but for s

[2018-05-11 12:56] mattshardlow commented on #37
I've now updated the UIMA versions throughout my components and released new artefacts to maven central. (I'm waiting for them to filter through).

I've updated the metadata of my component using the form at test.openminted.eu. However,changing the location under the 'distribution' section has only affected the componentInfo->distributionInfos->componentDistributionInfo->distributionLocation field

[2018-05-11 13:03] abravo84 commented on #27
Ok! So, the component is ok and then I can create the application

[2018-05-11 13:49] gkirtzou commented on #32
- The old version of the component has been deleted, so you can update the workflow.
- Yes I am talking about the deliverables of the open tender. You can add them to the repo and use this information as extra documentation in the metadata description of the component.
 - One small suggestion to the corpus. Can you just in the description that the corpus is already annotated at the terms level, it

[2018-05-11 13:52] gkirtzou commented on #33
Ok no problem. Could you send me the metadata, just to be sure?

Yes, I will check and see what going on and let you know.

[2018-05-11 14:01] gkirtzou commented on #27
Yes you can proceed creating an application. Could you please send the metadata description of the app, so that I could provide feedback?  Also, could you run with some input and verify that you get what is  expected?

Since your component consumes xml files, it would be good to provide a corpus for testing. Please send me the metadata for the corpus as well.

Please keep everything private until

[2018-05-11 14:04] gkirtzou commented on #37
I think that you need to re-register components from scratch in order to retrieve the new maven project, generate the docker image and the respective galaxy wrappers.

[2018-05-11 14:18] dumitrescustefan commented on #33
Here is the zip with the app's metadata:
[0c07c957-b001-4bde-8347-b3eec6c89ecb (2).zip](https://github.com/openminted/Open-Call-Discussions/files/1995598/0c07c957-b001-4bde-8347-b3eec6c89ecb.2.zip)

[2018-05-11 14:19] dumitrescustefan commented on #33
I forgot to pretty-print it, here it is again:
[0c07c957-b001-4bde-8347-b3eec6c89ecb (2).zip](https://github.com/openminted/Open-Call-Discussions/files/1995608/0c07c957-b001-4bde-8347-b3eec6c89ecb.2.zip)

[2018-05-11 14:29] gkirtzou commented on #33
A few comments, minor corrections:
- in `publicationIdentifier`  since `publicationIdentifierSchemeName="URL"` there is no need for `schemeURI`, you can remove it. The same login as I mentioned earlier applies here as well
- In  resourceCreator.personIdentifier you can change the `personIdentifierSchemeName` from "other" to "URL", I think it is more appropriate

I will let you know,when I figure o

[2018-05-11 15:10] mattshardlow commented on #37
ok, will give it a go

[2018-05-11 15:15] dumitrescustefan commented on #33
Hi, for the personIdentifier I can choose between: ORCID, INSI, ResearcherID, ScopusID and other. There's no URL, I would have chosen that. Are any of these better than "other"?

[2018-05-11 15:22] mattshardlow commented on #37
Tried that, but it says 'already added'. Does this mean that it's not possible to upload a new version of a component to the framework if an older version has already been registered?

[2018-05-11 15:25] mattshardlow commented on #37
ah, ok maybe I misinterpreted the message. Apparently it's added it to the 'my components' section (3 times!)

[2018-05-11 15:46] mattshardlow commented on #37
I've now registered the component. But when I try to create a new workflow, I don't have the option to create a workflow using v2. There is a button in the galaxy interface to switch to version 0.0.2, but this doesn't appear to do anything. Is it disabled? One option would be to delete v0.0.1. Is that the right way to go about this?

[2018-05-11 16:10] mattshardlow commented on #37
I tried deleting the older version from 'my components' and runnning an updated workflow with the new version, but it errored again. Please can you send me the log, in case there's anything helpful in there. Any support you can offer to get this running is appreciated (especially given the short deadline to the launch).

[2018-05-11 18:45] gkirtzou commented on #37
Here is the log from your component
[code]

I am not sure where exactly are you looking. Could you please about which button are you talking about?

[2018-05-11 19:15] mattshardlow commented on #37
There was a button in the Galaxy interface to switch from v0.0.1 to v0.0.2, although I didn't screenshot it and it has disappeared since I deleted the older version of the component.

It looks from the log (and from a conversation I just had with Mark on Skype) like the old version of the component was still running. We've cleared out the old version of the component and I've set a new workflow ru

[2018-05-12 14:55] mattshardlow commented on #37
It's still running, which I assume means the workflow is hanging. I don't have any info to debug with. Any thoughts on what the problem might be @gkirtzou or @galanisd ?

[2018-05-12 17:33] greenwoodma commented on #37
@mattshardlow I've just had a look and I can see the new wrokflow and that it called v0.0.2 correctly. From the galaxy logs it appears that the workflow completed successfully, although strangely I can't see any output having been produced. Does it still show as running in the UI? Does your component write out the XMI files when it's finished?

[2018-05-13 08:53] mhabsaoui commented on #35
@gkirtzou Can you give us the **Full** logs returned by the workflow, with the _`Galaxy command =>....`_ line that is logged before the _`Usage: termsuite ....`_ ?

[2018-05-14 06:08] gkirtzou commented on #37
Here is the log from the latest run of your component. The image has finished without an error, but it seems that no input has been provided. Your component consumes XMI files, right? Have you created a workflow where you used TIKA or PDFReader to generate xmi from pdf files?
You can check here for information how you can build a workflow in OMTD : https://openminted.github.io/releases/workflow-ed

[2018-05-14 08:34] abravo84 commented on #27
Hi! I am trying to upload the corpus, but I always receive:
**Error uploading Corpus (Server responded: undefined)**

I have attached the corpus.
[plos_one.zip](https://github.com/openminted/Open-Call-Discussions/files/1999931/plos_one.zip)

[2018-05-14 08:39] mhabsaoui commented on #35
@gkirtzou @galanisd Can you remove/pull docker image (updated minute ago), before I can relaunch a new workflow start ?

[2018-05-14 08:53] mattshardlow commented on #37
See image of my workflow attached. I'm very surprised that it didn't find any input.

My component is a standard UIMA Analysis Engine, so the docker wrapping process should configure it correctly right?

It's not clear to me why the application didn't show that it had finished? It still says that it is running in the 'my operations' section. Is this a known bug?

<img width="698" alt="screen shot

[2018-05-14 08:55] greenwoodma commented on #37
Not a known bug but I can guess what's happened. Essentially the workflow service waits for the final job to be finished and then waits for the output to appear. Given there is no output I'm guessing it's still sat waiting. I'll have a look and see if I can find a solution (the problem of spotting a workflow having finished is awkward via the API and hence we were relying in part on outputs being

[2018-05-14 08:58] mattshardlow commented on #37
Thanks Mark.

I've tried to run the application with a few other corpora (a brand new testing corpus by penny, Named Entity Recognition Corpus for Social Science Publications) - but in both cases I got an error, the first one saying that the corpus could not be found and the second one saying that the corpus was empty. I'll keep looking for a solution.

[2018-05-14 09:07] mattshardlow commented on #37
see:
<img width="1213" alt="screen shot 2018-05-14 at 10 06 42" src="https://user-images.githubusercontent.com/19781776/39988175-9a64e2d8-575e-11e8-8d06-54210e895fbc.png">

[2018-05-14 09:20] mattshardlow commented on #37
I changed the TIKA pattern from **/*.pdf to *\*/*.* as it says in the documentation at: https://openminted.github.io/releases/workflow-editor/1.0.0/workflow

This is now running - however I have no way to tell whether it is running and has completed with no output.

On a separate note, I don't seem to be able to edit the parameters of components when I return to a workflow. See attached image, wit

[2018-05-14 09:22] greenwoodma commented on #37
that's a known bug in Galaxy which we hope will be fixed soon. See issue #10 for all the gory details. The current workaround is to delete and re-add the component you want to edit.

[2018-05-14 09:26] AndreLamurias commented on #32
@gkirtzou
| One small suggestion to the corpus. Can you just in the description that the corpus is already annotated at the terms level, it that correct?

The only place to add this information is in the description, right? I was looking for a specific field in the form but couldn't find it.

I've added the deliverables to the github repo and I will add it as documentation when I upload a new vers

[2018-05-14 09:27] mattshardlow commented on #37
Thanks Mark. Good to know.

[2018-05-14 09:32] greenwoodma commented on #37
Not sure if it's an error in copy-paste or not but to select PDF files you need the pattern `**/*.pdf` your example misses the * after the /. In the same way to select all files I would assume you need `**/*` or more likely `**/*.*`.

I've had a look at the logs and on this occasion it failed when running the omtdImporter suggesting something wrong with the corpus, although I can't see what exactl

[2018-05-14 09:37] mattshardlow commented on #37
Yeah, that's an issue with the markdown swallowing some of the characters. It should read

I originally had the **/*.pdf, but changed it following the docs at https://openminted.github.io/releases/workflow-editor/1.0.0/workflow, which say:

I'll try a few other patterns to see if that's the issue

[2018-05-14 09:43] greenwoodma commented on #37
Hmm, that Tika pattern looks like a typo. It would mean that the directory had to end with a literal * which makes no sense.

@galanisd, I think you wrote the Tika converter, so should the docs for that read `**/*.*`  instead of `*\*/*.*`

[2018-05-14 09:49] reckart commented on #37
Now that you mention it, I think @pennyl67 asked me to check that pattern before converting the adoc into HTML and to do a proper escaping... so I guess it is my fault.

[2018-05-14 09:53] greenwoodma commented on #37
I just know that for once it't not my fault :rofl:

[2018-05-14 09:55] reckart commented on #37
Should be fixed by this commit (https://github.com/openminted/openminted.github.io/commit/d127bda28997ad3b5b9b3749c5f84db8da9c7604) and that should be live on the website in a jiffy.

[2018-05-14 09:57] reckart commented on #37
@greenwoodma btw, the Tika converter is probably this one: https://dkpro.github.io/dkpro-core/releases/1.9.1/docs/format-reference.html#format-Tika123

[2018-05-14 10:00] greenwoodma commented on #37
@reckart oh yes, I forgot we were using that, I just remember @galanisd talking about the wrapper for Galaxy.

[2018-05-14 10:06] joancf commented on #29
I have uploaded both components
-https://services.openminted.eu/landingPage/component/6958ed38-4494-4af2-953a-d78c35454257
-https://services.openminted.eu/landingPage/component/42c463b4-2d8b-4125-adc4-93f89918ce09
I can't create a corpus
I can't create a workflow (the components just uploaded do not appear in the list of selectable components)

[2018-05-14 10:08] mattshardlow commented on #37
So I currently have a workflow set up with omtdImporter -> PDFReader and nothing after that. So, as far as I uderstand it, the output from the pdf reader (e.g. the serialised cas xmi) should become the output of the workflow. However, having run that workflow a few times, I am getting the same issue as when I had my component in there (e.g., nothing happening). Any thoughts on this? If the very ba

[2018-05-14 10:12] greenwoodma commented on #37
@mattshardlow can you give us the OMTD ID (that long alphanumeric string from the bottom of the landing page) for the PDFReader workflow. There is clearly something odd going on that we need to solve

[2018-05-14 10:16] mattshardlow commented on #37
@greenwoodma it's: 0931732053353301-7bdad7b1-673f-4007-a02b-e476fa01aa1a

My thought is that it might be an issue with the corpus. I have been trying to use the Chebi 2 pdf corpus - test 2 (a24f49a0-ade4-4df7-ab03-8086f93a7235). But this one always seems to fail. I've also tried a few other corpora, but with varying errors (see my post above).

Thanks for having a look at this. I've had a look thr

[2018-05-14 10:20] greenwoodma commented on #37
I think almost every workflow that's been built and tested so far uses the PDFReader component. As you say I think the problem is going to be with the corpus. Why not upload a couple of PDF files that are relevant to your use case and create your own test corpus? Just remember when you upload a zip file the documents need to be in the `fulltext` folder and not in the root of the zip file.

[2018-05-14 10:25] mattshardlow commented on #37
I can give it a go. My use case is fairly flexible (as a journalist might be interested in any scientific domain). So I'll try a few of the other domain specific corpora first.

[2018-05-14 10:41] pennyl67 commented on #27
Hi @abravo84
I have reported this to the tech team and let you know

[2018-05-14 10:48] mattshardlow commented on #37
I've uploaded a couple of pdfs and I'm now running both workflows on this new corpus.

I also tried to use the corpus builder. But the corpora seem to get stuck in the 'under construction' phase. (I tried one from OpenAire and one from CORE). I got 'success' emails for both with link(s): https://test.openminted.eu/landingPage/corpus/b42a3789-933a-4813-b0e9-89bfa75a827c

But the 'my corpora' page s

[2018-05-14 12:01] galanisd commented on #37
Hi Matt,

- I am trying to create an app for your workflow (omtdImporter -> PDFReader -> Text Mining For Journalism Application (V2)) so that I can test, however, I am getting a "Error saving application (undefined)" message. It seems that is an AAI issue that causes various problems in the Registry
but not sure that it is one of them.
@courado @antleb are looking into the problem.
When everything

[2018-05-14 12:14] galanisd commented on #35
Pulled latest version of visatm/termsuite-omtd (visatm/termsuite-omtd:latest) in all nodes of the cluster.

[2018-05-14 12:28] mattshardlow commented on #37
@galanisd Yes, I originally had the Segmenter in as well, but I then deleted it from the workflow to simplify it. Looking at it now, it appears that change wasn't reflected when I saved the workflow previously. I've tried deleting it again and saving it, but the openNLPSegmenter still reappears. Is this a known issue? There is no message to indicate that the save failed.

Thanks for having a look

[2018-05-14 12:29] mhabsaoui commented on #35
@galanisd  Job running => jobId 2a464ed3-a810-4ab5-8907-9407266b566c

![image](https://user-images.githubusercontent.com/18755135/39997463-54e4d90a-5783-11e8-8028-c4a3cc857b7a.png)

Cheers

[2018-05-14 12:42] galanisd commented on #35
I see an output in Galaxy
[TermExtractTSV.tsv.zip](https://github.com/openminted/Open-Call-Discussions/files/2000683/TermExtractTSV.tsv.zip)

So, I expect that you will get a result.

[2018-05-14 12:46] mhabsaoui commented on #35
@galanisd

Yes, that's the expected output file name.

But why is the process still showed as running ? Ah you mean it's still running... and not finished yet ??

[2018-05-14 12:58] gkirtzou commented on #37
I have a suspicion (I didn't have time to verify it) that when there is a workflow with multiple steps (eg 4 step) and an error occurs in one of the inner steps (eg the 2nd), then the workflow engine is not able to understand that something went wrong and propagate the error to the registry correctly.

In general when the error occurs in the final step, the UI shows the "An error occured" message.

[2018-05-14 13:02] greenwoodma commented on #37
I agree @gkirtzou it appears that way but.... I specifically updated the workflow service a couple of weeks ago to handle this case. It now scans each step, not just the last, for the error state and should report the error in all cases. I'm wondering if the workflow service on test hasn't been updated properly. @antleb do you know when the workflow service was last updated on test and if it's usi

[2018-05-14 13:09] galanisd commented on #35
Galaxy takes some time to notify Registry (via workflow-service) that a workflow is finished and outputs are available. Did you got a result?

[2018-05-14 13:23] gkirtzou commented on #29
@joancf
There is an issue with the AAI and for the moment you cannot create a corpus or a workflow. I will let you know, when the issue is resolved.

Question what do you mean here? I can see the components in the workflow editor.

[2018-05-14 13:23] mhabsaoui commented on #35
@galanisd  I assume I didn't/can't get/see the result as I didn't stood on the process running page (with 3 squares) and went to my operations page... So have to wait for it to be refreshed.
If for you the Galaxy process is finished, then it's ok.
Can we have the galaxy logs ?

[2018-05-14 13:33] gkirtzou commented on #32
In the metadata model, we have a model for both raw and annotated corpora, but for the moment from the UI when we create a corpus either from the platform or when we upload on, we make the hypothesis that the corpus is raw, so the metadata for raw corpus is provided in the forms.

New version from the metadata perspective you mean?

Ok, that's weird. I checked and you are right. I does not availab

[2018-05-14 13:39] gkirtzou commented on #35
You can check the process of an operation under the "My operations" menu. When the corpus is made available back to the registry from the engine, you will be able to see under this menu. If it still doesn't shown up, let us know. Maybe something else went wrong.

[2018-05-14 13:51] gkirtzou commented on #33
@dumitrescustefan You are right, there is not URL in person identifier scheme name. I got confused with the generic one that we have in the metadata schema, I am sorry for that.

If you have an ORCID that would be nice to add. If you want to use the url page to your linkedin account, then the "other" value is more appropriate.

[2018-05-14 14:28] ludovicwalle commented on #12
I never used Jenkins. So I just followed instructions of the preceding comment, pushed a dummy commit, and clicked on the "Test service" button, which showed me a _Okay, the test payload is on its way_ message. Is it enough ?

[2018-05-14 14:58] joancf commented on #29
ok, I was creating an application
also I don't understand why the  workflow indicates:
component_InputFiles: Data input 'component_InputFiles' (pdf)

[2018-05-14 15:25] galanisd commented on #35
Given that the workflow was executed in Galaxy and we got the results from your component then I assume that any integration issues that we had were solved. The problems (if any) seem to be in other parts of the platform and are probably common with the rest of components/apps (e.g. workflow completion notification).

Is it possible to make your app public so that I can test it again when everythi

[2018-05-14 15:28] galanisd commented on #35
I assume that you also checked the content.

[2018-05-14 15:59] AndreLamurias commented on #32
I meant new version of the docker image, but if you think it's worth submitting a new version just to include that update to the metadata I can do it

[2018-05-14 17:45] gkirtzou commented on #29
Where do you see that? I am not sure I understand.

On Mon, 14 May 2018, 17:58 Joan Codina, <notifications@github.com> wrote:

[2018-05-14 17:48] gkirtzou commented on #32
If you want to add the deliverables in the metadata as documentation you
would need to re-register. But it is not mandatory.

When you say a new image you mean with the same tag, right? If that's the
case let me know when you change the image, to repull it.

On Mon, 14 May 2018, 18:59 André Lamúrias, <notifications@github.com> wrote:

[2018-05-14 18:01] joancf commented on #29
when creating a workflow
![image](https://user-images.githubusercontent.com/2848623/40014733-a1742aa4-57b1-11e8-8f97-1fe32eeb1462.png)

[2018-05-15 07:22] greenwoodma commented on #10
This is now fixed on test.openminted.eu thanks to some work from the Galaxy devs. The changes are checked in to our galaxy editor branch so should go live on services.openminted.eu next time that is updated.

[2018-05-15 07:22] #10 closed, assigned to antleb, greenwoodma, courado

[2018-05-15 07:38] mhabsaoui commented on #35
@gkirtzou   It shows as still running... Maybe we have to stay on the running process once launched to avoid this bug ? Do we have togive it another try ?

![image](https://user-images.githubusercontent.com/18755135/40043072-a8d8c3e6-5823-11e8-93bb-54a47647e161.png)

@galanisd Sorry didn't saw your posts until now.

Once the components are set and running as expected, yes.

Yes, it is OK.

Cheers

[2018-05-15 08:15] mhabsaoui commented on #35
@gkirtzou @galanisd

Unfortunately, as Penny already mention we do not support yet the import of ancillary resources in the workflow, but we plan to do so in the future. Thus we are currently asking all users to put them inside the docker image.

BTW, Can you tell if we can directly reuse output results (that are automatically registered on omtd) as input files for workflows tests ??

Where the us

[2018-05-15 08:44] galanisd commented on #35
I tried another application. It is stuck in "RUNNING" even though the workflow has finished correctly.
From the logs it seems that there is a bug in the Registry. We will try to solve it ASAP.

[2018-05-15 09:47] gkirtzou commented on #35
Currently, the output results of a workflow cannot be further used for processing. But you can always create a bigger workflow that would contains your initial workflow and then the next step that you want to further process the output.

When a component is registered, in its metadata record are declared what type of output is generating. If more than one type is declared, then the assumption is t

[2018-05-15 10:06] gkirtzou commented on #29
@joancf Oh I see. Yes, this is a small bug from our side not rendering correctly the input information in the metadata record of the component. For the moment please ignore it.

[2018-05-15 10:53] Aequivinius commented on #34
Perfect, thanks!

[2018-05-15 11:53] mattshardlow commented on #37
@galanisd have you been able to test the component? Is there anything more I can do from my side? I don;t want to run more tests if they might interfere with your results? Let me know.

[2018-05-15 12:00] mhabsaoui commented on #35
@gkirtzou

what a shame, it would have made sense... :cry:

That's still OK (as TermSuite is able to produce the 3 possible formats at a time).
Then, what's the input/output format parameter for, as this info from Galaxy is (obviously) already known by the Component/App ?

OK. But, what type of parameter to use in case of an ancillary resource that is registered in omtd (resource file can be a .ja

[2018-05-15 12:04] mhabsaoui commented on #35
@gkirtzou

_Edit for last question :_

Ah sorry, ok we forget the registration. Only in docker image OR on URL access...

Cheers

[2018-05-15 12:08] galanisd commented on #37
Currently there are two issues in the Registry and it is not possible to test the app that I created.
Waiting fixes for both of them.

However, locally in my laptop I tested your component using the UIMA executor script that is also used in OMTD platform. As input I used two random XMI files. It finished successfully so I expect the same to happen and in the platform when the issues that I mention

[2018-05-15 12:13] gkirtzou commented on #35
@mhabsaoui  is input format parameter is a parameter declared in your metadata record? or are you referring to the inputResourceInfo description the element dataFormat? Sorry I am a little bit confused.

Depends. If the ancillary resource is also provided via the docker image of your component, then a full path to the resource in the docker image is sufficient to retrieve it and use it, eg full pa

[2018-05-15 12:22] mhabsaoui commented on #35
@gkirtzou

No. I am referring to output dataFormats but for outputResourceInfo (which I presumed would be corresponding to --output-format parameter)...

 		<ns0:outputResourceInfo>
			<ns0:processingResourceType>lexicalConceptualResource</ns0:processingResourceType>
			<ns0:dataFormats>
				<ns0:dataFormatInfo>
					<ns0:dataFormat>http://w3id.org/meta-share/omtd-share/Tsv</ns0:dataFormat>
				</

[2018-05-15 12:38] mattshardlow commented on #37
Thanks Dimitris, that's excellent news. Yes, those look like the right type of output annotations in the xmi. Is there any time scale on the fixes? Will they be ready before the launch?

My understanding is that the annotation viewer is currently not working on the platform? Is this likely to be resolved before the launch? If not, I will need to think of another way to show the results of my workf

[2018-05-15 13:10] AndreLamurias commented on #32
case let me know when you change the image, to repull it.

no, I meant a new image with a tag like v1.0.1 or v1.1.0., otherwise I would have to submit the component again and ask you to remove the previous version

[2018-05-15 13:14] mhabsaoui commented on #35
@gkirtzou

From the HowTo for Docker:

`there must be` => they are generated by Galaxy I presume ?
`which indicates which input/output format to use.` => Only one format ? Seems opposite to having to produce **all** declared formats at a time... Right ?

[2018-05-15 14:42] gkirtzou commented on #35
@mhabsaoui Ok, now I understand what you are saying. The script that generates how to invoke the docker image correctly by default adds the --input and --output parameters, all the parameters that you have configured in the workflow editor. If you what to have --input-format and/or output-format you could declare them in the metadata record. This way, they will be available in the workflow editor

[2018-05-15 14:55] mhabsaoui commented on #35
@gkirtzou @pennyl67

Isn't the `dataFormats` listed inside `outputResourceInfo` the corresponding declaration ?

Until now, I am trying to add the 3 possible formats as 3 parameters. As following... But I don't know how to let the user to choose at least one of the three optional output formats (At least one required though). It seems we can't deactivate an optional parameter (once declared in xml

[2018-05-15 15:06] pennyl67 commented on #34
@Aequivinius I have a question; in your proposal and the description of the application, you mention the Bio Term Hub, and I'm trying to understand the relation between the two. When you say that the OGER is built on top of the BTH, you mean that you use the terminologies from the reference databases? And this aggregation of terminologies is already in the docker image you have provided? Or should

[2018-05-15 15:39] Aequivinius commented on #34
@pennyl67 No, there will be no further components or applications.

BTH is an aggregator of terminologies and produces a unified
terminology. The terminology created in this way can be used by OGER.
However, the two components can also be used independently. The term
list provided by BTH could be used for other purposes; and OGER can be
provided with a term list obtained from other sources.

We su

[2018-05-15 15:53] pennyl67 commented on #34
Thanks for the explanations. It's clear now!

Given that your application is already uploaded and public in the platform, if you agree, I will close this issue.

[2018-05-15 23:32] jakelever commented on #30
@gkirtzou I uploaded the OMTD-SHARE files to the main platform (https://services.openminted.eu) but forgot that the "Make Public" flag is in the XML file. So I've inadvertently made both applications public and didn't make the suggested edits. I'm working on getting the ADAPT document finished so would attach that later. Is there any way they could be made private again?

Ab3P with PubRunner: http

[2018-05-16 07:21] gkirtzou commented on #30
@jakelever Unfortunately, you cannot revert them to private once you went public. I can try to contact the tech team of the registry and delete them, so you could reupload them as private. I will let you know when this is done.

Please if you adapt the documents with the suggestions, do send them to check independently whether the previous versions are still registered.

[2018-05-16 09:33] #34 closed, assigned to gkirtzou, galanisd

[2018-05-16 09:53] pennyl67 commented on #19
Closing the issue: application public in services and tested with Chebi corpus

[2018-05-16 09:53] #19 closed, assigned to greenwoodma

[2018-05-16 10:47] gkirtzou commented on #30
@jakelever the suggestions I have proposed (language and add the deliverables as an extra documentation source) are optional. Do you want them to add them? If yes, let me know so I could ask to remove the apps. Otherwise, the are in good status and I was able to ran them perfectly in the platform. Let me know how you want to processed.

[2018-05-16 11:52] gkirtzou commented on #29
@joancf the problem with had with AAI has been resolved. You can process creating the application(s) so that non tdm expert could use your components. Please not my suggestions above and keep the app(s) private until the are tested and their metadata are approved. When you are ready, please do send me the metadata, so I could check them.

[2018-05-16 12:07] mhabsaoui commented on #35
@gkirtzou @pennyl67 @galanisd

So, we will set only one output format JSON as it is the native one.

Now remains this problem about parameters:

- how the user is supposed to choose/select one or more among the available optional input parameters (once declared in xml record) from the Workflow Editor ?

- Are all declared optional parameters positioned by default , i.e. passed automatically to gal

[2018-05-16 12:16] gkirtzou commented on #32
@AndreLamurias I believe that your component now appears in the workflow editor. I would suggest editing the application so that you would add correctly the component that now has appeared in editor. Please keep the app private until you have fully tested.

Also add in the app metadata yourself as resourceCreator, as I suggested previously. Let me know how it goes.

[2018-05-16 12:19] gkirtzou commented on #27
@abravo84 the problem with the AAI has been resolved. Could you please upload now your corpus and test that your component works as expected, Please keep everything private until you are sure that they work perfect.

[2018-05-16 12:45] mhabsaoui commented on #35
@galanisd

The annoying problem of TermSuiteExtractorWorkflow  workflow modifications not being saved is back (of course even after deleting and re-registering it). Maybe again those old galaxy wrappers to be deleted ?

Cheers

[2018-05-16 12:45] stephane54 commented on #12
Dear @antleb, I have questions about how to automatically forward a corpus to omtd (initial step before running a workflow on this corpus)
Is there a solution for an application:
- to simply push a corpus, using a Rest service instead of the omtd GUI.
- ask omtd to use a search API (like Istex API) for build and pull a corpus, such a service could consume a search query and a database url for inst

[2018-05-16 13:11] gkirtzou commented on #35
@mhabsaoui

what you declare in the `dataFormats` in the `outputResourceInfo` is what data format are the possible output files that your component generates.

If you want to limit your component into generating only one of them, then you need to define the  --output-format parameter in the metadata record of your component appropriately and handle it accordingly. Each parameter declare in the met

[2018-05-16 13:14] galanisd commented on #35
Another one open call participant has noticed this issue. I have already reported it (along with some others) and I am waiting for a fix.

[2018-05-16 13:24] mhabsaoui commented on #35
@galanisd

BTW, docker image updated. you can delete and pull on your side...

[2018-05-16 13:37] gkirtzou commented on #31
@Erechtheus I took the initiative and create an application to test your component. In the attachement you can find the output from your component. Can you verify that is what you expect?

[37873e4d-3a56-4021-b4be-bf93c573bd82.zip](https://github.com/openminted/Open-Call-Discussions/files/2009331/37873e4d-3a56-4021-b4be-bf93c573bd82.zip)

[2018-05-16 13:38] gkirtzou commented on #35
@mhabsaoui the docker image has been pulled.

[2018-05-16 13:41] mhabsaoui commented on #35
@gkirtzou

Ok, so only for info purpose. Not directly related to --i/o params...

I was speaking generally, now we can forget about the I/O format problem and focus on params.
To make it clearer, our Component can handle required / optional parameters passed to it through CLI, but only those that are explicitly passed to it !
Now the problem is that Galaxy is passing ALL declared parameters into x

[2018-05-16 13:48] gkirtzou commented on #35
@mhabsaoui galaxy is passing all parameters with a declared value. If you do not declare a value, it won't be passed. Is that clearer?

[2018-05-16 14:06] mhabsaoui commented on #35
@gkirtzou

A bit clearer yes!  Well, it's very subtle and definitely needs to be added to  howto...

I find it weird though (imagine 20 or 30 parameters dispalyed) !!
I mean a listbox for selecting and adding manually any optional parameter would have been more intuitive...

Then, what about, for example, the boolean params are logically set to false state by default by galaxy (I assume without ad

[2018-05-16 14:09] AndreLamurias commented on #32
@gkirtzou I got "There was a problem running the application. Try again in a while. (final workflow state is in error)"
this is the corpus: https://services.openminted.eu/landingPage/corpus/472a3e95-31c3-43b6-9ade-48edd75db377
application: https://services.openminted.eu/landingPage/corpus/472a3e95-31c3-43b6-9ade-48edd75db377

the workflow only has two components (omtd importer and bolstm) since th

[2018-05-16 21:46] jakelever commented on #30
@gkirtzou . It's fine. I'm happy with the status of the applications. If we have to make any updates in the future, I can add the metadata then.

[2018-05-17 08:08] gkirtzou commented on #30
@jakelever As you wish. Your app have correct metadata and can run in the platform successfully. So I am closing the issue. Cheers.

[2018-05-17 08:08] #30 closed, assigned to gkirtzou, galanisd

[2018-05-17 08:20] mhabsaoui commented on #35
@galanisd

- docker image updated. you can delete and pull on your side...
- can you tell if the fix would be deployed today ?

Thanks.

[2018-05-17 08:55] gkirtzou commented on #32
1) The metadata of your application are almost ok. Just change the value of identifier to the BOLSTM component in the `hasPart` relations to "f2ef9b8f-d4bf-4cdd-8380-c7e63f1a0dc2".  (That is the correct one, it can be found in the url of the component).

2) I couldn't find any log from your run. It seems that it didn't run at all. So I tried once myself. I created an application (omtdImporter + BO

[2018-05-17 09:09] gkirtzou commented on #35
@mhabsaoui The image has been updated in the engine.
@antleb When are we expecting the fix so that people could test their applications?

[2018-05-17 09:27] gkirtzou commented on #31
@Erechtheus I reran your component with another corpus that contained biological papers, and I saw fimda annotations. I consider the experiment successful. I made my application public so that non-tech users could run your component. No further things are requires. Thus I am closing the issue.

Cheers.

[2018-05-17 09:27] #31 closed, assigned to galanisd

[2018-05-17 10:27] joancf commented on #29
ok  @gkirtzou  I did it,
it says running, since yesterday...

[2018-05-17 10:47] gkirtzou commented on #29
1) I cannot anything that shows that your components were executed. Could you please tell me how you created your workflow? What components did you use? Maybe a screenshot would be easier.
2) Also could you send me the metadata of your app(s) to check them?

[2018-05-17 11:03] joancf commented on #29
![image](https://user-images.githubusercontent.com/2848623/40173225-66e0bbe2-59d1-11e8-99d0-a25116b393c7.png)
https://services.openminted.eu/landingPage/corpus/72b93a62-d82d-45c6-acac-82ab4d32e58c

but the process looks a bit strange
![image](https://user-images.githubusercontent.com/2848623/40173510-666b761a-59d2-11e8-8020-00cb9a7499f5.png)

and this is the workflow
![image](https://user-images.g

[2018-05-17 11:17] gkirtzou commented on #29
Ok the workflow is not according to the OMTD specifications, thus it appears to run, but actually it
cannot run.

The first component you are using is not the correct one. You must use the omtdImporter (under DataImport). If I remember correctly, UIMA takes as input XMI, right? If that's the case the you need to use a converter, such as PdfReader to convert data from pdf to xmi. For more informati

[2018-05-17 11:32] AndreLamurias commented on #32
Sorry, it was expecting "params" instead of "param". I've fixed it now and pushed to the same tag. I think there's no point in keeping the old version since it just doesn't run on OMTD.

[2018-05-17 11:50] gkirtzou commented on #32
Ok. When you fix the image, reuploaded to the same tag and let me know when it is up, so I re-pull it. Then you can test again.

[2018-05-17 13:51] AndreLamurias commented on #32
@gkirtzou I've reuploaded to the same tag, so let me know if your test goes well and then I'll try again with the application I created

[2018-05-17 14:19] gkirtzou commented on #32
Ok, I have pull the new image. I ran the test correctly and I got the attached results.
1) could you verify the output?
2) Could you also run with your own application? (let me know when you set it to run)
[full_model_tmpresults.txt.zip](https://github.com/openminted/Open-Call-Discussions/files/2013512/full_model_tmpresults.txt.zip)

[2018-05-17 14:38] AndreLamurias commented on #32
1. the OP is correct
2. I was able to run my application, but I can't download the output. this is the lexical resource produced: https://services.openminted.eu/landingPage/lexical/371bf7ac-7898-4e64-b65b-eaeacbb32005 there's no download button. is this on purpose?

[2018-05-17 14:56] gkirtzou commented on #32
For the moment yes. We are looking into change that policy. So we have a
successful run. If you make the suggestions to the metadata you could make
it public.

On Thu, 17 May 2018, 17:38 André Lamúrias, <notifications@github.com> wrote:

[2018-05-17 19:29] mattshardlow commented on #37
@galanisd any update on fixing the issues in the registry? I'd like to have a go with the component soon so as I can make the video for the presentation. Do you think I'll be able to do this by the start of next week?

[2018-05-18 07:54] gkirtzou commented on #32
Here is the results from your experiment as well. As I said yesterday, please proceed fixing the suggestions I made to the metadata of the application and corpus and then make them public. Let me know when you are done.

[full_model_tmpresults.zip](https://github.com/openminted/Open-Call-Discussions/files/2015968/full_model_tmpresults.zip)

[2018-05-18 07:56] gkirtzou commented on #29
@joancf were you able to update the workflow according to the provided specs? Let me know if you need any help.

[2018-05-18 07:59] gkirtzou commented on #27
@abravo84 I am taking the initiative to create a workflow for testing your component. I will let you know how that goes.

[2018-05-18 08:05] joancf commented on #29
@gkirtzou no couldn't
I added an impoter, i saved the application, an it says I have an input dataset, i rut and it keeps running.
Can you try it,  with the simple workflow  that you have in the image above ?

[2018-05-18 08:57] gkirtzou commented on #27
The metadata of your component are perfect. Could you please make it public?

[2018-05-18 09:22] abravo84 commented on #27
@gkirtzou Sorry for my delay, I've been pretty busy this week. I have now tried to upload the corpus, but I get the same error. I have attached the screenshot of my error.

Now, my component is publicly available.

Best,

[Screenshot from 2018-05-18 11-15-56.png.zip](https://github.com/openminted/Open-Call-Discussions/files/2016226/Screenshot.from.2018-05-18.11-15-56.png.zip)

[2018-05-18 09:39] gkirtzou commented on #29
Where does it say " I have an input dataset," ?

Ok, I will try to make the applications for you and let you know how that goes.

[2018-05-18 10:05] galanisd commented on #37
I have just run a test @ test.openminted.eu. Selected a random corpus + the journalism app that I have created.

![matt](https://user-images.githubusercontent.com/10739759/40228718-b0dfd43e-5a9a-11e8-804f-83f299b6ac75.png)

The workflow is this.

![matt](https://user-images.githubusercontent.com/10739759/40228944-58c8de3e-5a9b-11e8-9733-83054e5d5cc7.png)

The workflow has finished successfully.  I

[2018-05-18 10:09] mattshardlow commented on #37
Thanks for testing this Dimitris, that's good to hear. Does that mean that the output won't be available in the registry whilst the issue with the execution not flagging as finished persists.

My understanding is that this occurs because Galaxy isn't picking up any output from the workflow. If I put an extra component on the end that outputs a file, then would this circumvent the problem for now?

[2018-05-18 10:12] pennyl67 commented on #28
closing - all components and apps added at services (two apps are still private but I'm waiting for a fix to make them public)

[2018-05-18 10:12] #28 closed, assigned to galanisd

[2018-05-18 10:16] galanisd commented on #37
No the issue as I said is in Registry.

One solution is to register your component @ services.openminted.eu; no issues there when a workflow finishes as far as I know. Please keep the component private, download the metadata and send them to us. Katerina (@gkirtzou ) will check them and if required she will suggest some modifications. Then you will be able to make the component public create a wor

[2018-05-18 10:21] AndreLamurias commented on #32
Here's the metadata of the application and corpus, I updated the description of the corpus to include the information about the annotations, and correct component ID on the application metadata.
[corpus-472a3e95-31c3-43b6-9ade-48edd75db377.zip](https://github.com/openminted/Open-Call-Discussions/files/2016433/corpus-472a3e95-31c3-43b6-9ade-48edd75db377.zip)
[application-4e806362-fb26-403f-ae9e-971

[2018-05-18 10:30] gkirtzou commented on #27
I have created an application for your component which runs as expected. You could find it here:
https://services.openminted.eu/landingPage/application/91ea0d94-7657-4cc9-9846-29b54cf047bf

[2018-05-18 10:48] gkirtzou commented on #27
@abravo84 Ok, I cannot understand what might the error be. Does the corpus have the expected structure? That is create a zip file that contains at least one publication.The zipped file should include a:
- the "fulltext" folder, that will contain all publications  - mandatory,
- the "metadata" folder, that will contain the metadata records of each file - not mandatory
- the "license" folder, that c

[2018-05-18 10:56] abravo84 commented on #27
@gkirtzou Yes! I attached the sample some messages before, and this file is the same in the text platform.

[2018-05-18 11:02] gkirtzou commented on #27
Ok,. I would send a message to the tech team to check what could go wrong.

As a solution I propose this : I have also uploaded the sample you have provided with the 3 xml files, and I had no problem doing so. We could make public this one, I just need to verify what licence should be paired with.

[2018-05-18 11:13] gkirtzou commented on #32
Perfect! We have the component, the corpus and the app in the registry public with good metadata. The apps runs perfectly, so there is nothing else to do. So I am closing the issue. Cheers!

[2018-05-18 11:13] #32 closed, assigned to gkirtzou

[2018-05-18 12:11] gkirtzou commented on #29
Ok I have create an app for the freeling component. In the attachement you can find the metadata of the app and the output. Could you check if they are ok?
[e1181e93-dcd6-43c5-bf50-da28ba5e7a78.zip](https://github.com/openminted/Open-Call-Discussions/files/2016760/e1181e93-dcd6-43c5-bf50-da28ba5e7a78.zip)
[FreelingApp.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/2016770/Freel

[2018-05-18 13:07] gkirtzou commented on #29
@joancf I talked with a colleague and he told me that we have a language identification in the test platform. In the attachment you would find the results from the following workflow  : pdfReader->LanguageIdentifier->freeling->babelnet

Could you check that they what you expect? If they are ok, i could try to add that component to the service and create a workflow for babelnet as well.
[babelnet_o

[2018-05-18 13:13] gkirtzou commented on #35
@mhabsaoui I think that you could start testing again in the test platform. Let me know when you do so I could keep track of the logs.

[2018-05-18 13:14] gkirtzou commented on #33
@dumitrescustefan We figure out what went wrong and we are trying to fix it. I will let you know as soon as we are good to go. Sorry about the trouble.

[2018-05-18 13:18] mhabsaoui commented on #35
@gkirtzou @galanisd  I don't see the right component (no params appearing) in the Workflow, wheras it has been updated...

[2018-05-18 13:19] abravo84 commented on #27
Ok! Thanks! It is a Creative Commons Attribution 4.0. But my sample contains 5 xml files.

[2018-05-18 13:20] reckart commented on #27
@abravo84 CC-BY is great for resources, but it is not suitable for software. A "comparable" alternative for software would be e.g. the Apache license (i.e. liberal with an attribution clause).

[2018-05-18 13:22] gkirtzou commented on #35
Are parameters declared in the metadata record?

[2018-05-18 13:24] mhabsaoui commented on #35
@gkirtzou Yes of course. The right component doesn't show up  in Editor...

[2018-05-18 13:25] gkirtzou commented on #27
@abravo84 for some reason I kept only 3 xml. I downloaded again from here, I will try to uploaded and send you the metadata to check if they are ok the info.

[2018-05-18 13:30] gkirtzou commented on #35
Could you send me the metadata please?

[2018-05-18 13:39] mhabsaoui commented on #35
There it is.

[2a43965f-1a76-407f-8012-ee39877e68e0.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/2017090/2a43965f-1a76-407f-8012-ee39877e68e0.xml.zip)

I have just tried with deleting/registering it. Same...

[2018-05-18 13:53] gkirtzou commented on #35
Could you delete the previous one also?

[2018-05-18 14:13] mhabsaoui commented on #35
@gkirtzou

Which one are you speaking ?

[2018-05-18 14:16] gkirtzou commented on #27
@abravo84 Could you check the metadata of the corpus? If you are ok, I could make it public as well
[Alex_Corpus.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/2017227/Alex_Corpus.xml.zip)

[2018-05-18 14:18] gkirtzou commented on #35
@mhabsaoui  I am asking if you could delete the old term extractor component and keep only the latest one.

[2018-05-18 14:24] mhabsaoui commented on #35
@gkirtzou

I have only one extractor component !   ==>  TermSuiteExtractor | 5/18/2018

Other one I got is an **Application** that is not existing even if showing on UI, according to @galanisd  ==>  TermSuiteExtractor | 4/19/2018

[2018-05-18 14:28] gkirtzou commented on #35
Ok, could you delete the TermSuiteExtractor application? Since you see it in the UI, some of its trace could be the blocking element here.

[2018-05-18 14:30] mhabsaoui commented on #35
I already tried, but we got an error :cry:

=>  `System error deleting the selected application (Server responded: all shards failed)`

[2018-05-18 14:31] gkirtzou commented on #35
ok, let me check...

[2018-05-18 14:48] abravo84 commented on #27
YES! I is correct :)

[2018-05-18 14:55] dumitrescustefan commented on #33
No problems, I'm standing by. Thank you very much!

[2018-05-21 12:19] gkirtzou commented on #27
@abravo84
Here is your sample corpus public : https://services.openminted.eu/landingPage/application/91ea0d94-7657-4cc9-9846-29b54cf047bf
and here is an application (public) for testing your component : https://services.openminted.eu/landingPage/application/91ea0d94-7657-4cc9-9846-29b54cf047bf

There is nothing else to do here. So I am closing the issue.

Cheers

[2018-05-21 12:19] #27 closed, assigned to greenwoodma, gkirtzou, mandiayba

[2018-05-21 12:24] gkirtzou commented on #29
@joancf Could you validate the results I have sent if is what you are expecting? I need this in order to complete the registration of your component and creating the correct applications.

[2018-05-21 12:29] gkirtzou commented on #37
@mattshardlow Could you proceed registering your component to services? Please register it as private, and send me the metadata, so I could provide you feedback.

[2018-05-21 12:59] mattshardlow commented on #37
@gkirtzou Have uploaded. See metadata attached. I checked for consistency with the component on test, so it should be ok. I'll put together an application too and test + send you the metadata.

[89c0fd9d-7f2e-4fe9-9565-39e6de7b05fa.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2022575/89c0fd9d-7f2e-4fe9-9565-39e6de7b05fa.xml.txt)

[2018-05-21 13:15] mattshardlow commented on #37
metadata for the test corpus:
[10358254-c42e-4850-8918-5c0b16a7cb22.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2022629/10358254-c42e-4850-8918-5c0b16a7cb22.xml.txt)

and for the application:
[ec177220-f05c-4131-987a-f83003b4315e.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2022632/ec177220-f05c-4131-987a-f83003b4315e.xml.txt)

I've set the application

[2018-05-21 13:48] mattshardlow commented on #37
It appeared that the workflow was not stopping as in test. I created a new version with the same config, apart from 2 modifications: 1) I clicked the star next to the output which indicates that the output is a workflow output. 2) I set it to notify me when the application finished via email. I just recieved an email, and indeed the application appears to have finished.

However, although I can se

[2018-05-21 13:52] greenwoodma commented on #37
Damn it, I thought I'd completely disabled the ability to fill in the e-mail notification field (no guarantee it will work). @mattshardlow  can you point me at where you managed to fill this in --  a screenshot would be helpful.

As to marking the output by clicking the star I don't think this should make any difference as we don't really look at the history to get the output files we instead look

[2018-05-21 14:04] gkirtzou commented on #37
@mattshardlow For the component metadata:

- You have set `inputContentResourceInfo.AnnotationType` to `Lemma`, but if I remember correctly you are not expecting an already annotated corpus at the lemma level. If that's the case, please remove the `annotationType` in the input.
- Could you please add some `documetationResource` ? It would be useful to people how are willing to use your component.

[2018-05-21 14:05] mattshardlow commented on #37
Yeah, I didn't think it would make a difference. But I've ran the same workflow on the same corpus with and without these changes and it only finished with the changes applied. So I don't know what's going on underneath the hood there. I also tried it with 2 different corpora (chebi and one I made myself), and it only finished with the one I made myself via the platform.

Looking at the email I re

[2018-05-21 14:07] greenwoodma commented on #37
@mattshardlow is this on test.openminted.eu or services.openminted.eu?

[2018-05-21 14:07] mattshardlow commented on #37
@greenwoodma services

[2018-05-21 14:08] greenwoodma commented on #37
@mattshardlow phew. That explains why the e-mail option is still visible as I did that on test and services hasn't yet been updated. I was worried for a moment I'd screwed something up

[2018-05-21 14:11] mattshardlow commented on #37
Sorry! I'll try to stop causing a panic.

[2018-05-21 14:18] mattshardlow commented on #37
@gkirtzou

re. lemma annotation - I don't have the option to delete this via the editor. Can you enable this? If not, is it possible to delete it without a reupload?

re. documentation, I have added a link to the github page - that's the best we've got for now.

updated workflow descriptor:
[73535fb2-2680-4514-a8ea-053ccf0dad87.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/202

[2018-05-21 14:35] gkirtzou commented on #37
@mattshardlow
For the component metadata, you could declare the `function` to `"NamedEntityRecognizer"`, I think that is more appropriate than `"Annotator"`.

For the corpus metadata just in the `sizeUnit` change it to `articles`, I think it is more appropriate

For the application metadata, as you are using both the pdfReader and your component you could add the following relations:
- `RelationTy

[2018-05-21 14:40] gkirtzou commented on #37
Unfortunately, I cannot enable this nor delete the specific element. You would need to delete and reupload the component.

Ok, no problem.

[2018-05-21 14:43] mattshardlow commented on #37
Ok, I've updated the application metadata.
The corpus metadata won't update via the editor it brings up an error saying

Which I assume is an internal issue.

re. component metadata. I'd really prefer not to have to delete and reupload. It's unclear to me why that annotation is there in the first place as I did not specify it.

[2018-05-21 15:11] mattshardlow commented on #37
@gkirtzou is it possible to view the completed xmi through the annotation viewer that Jacob built? Currently I don't have a way of viewing the output of my (completed) workflow to check it is sane.

[2018-05-22 08:20] gkirtzou commented on #37
@mattshardlow

I will inform the tech team responsible to the registry, to see why this happens

How did you register your component to the services.openminted.eu? Via the OMTD editor? Via xml registration form? or via the maven coordinates form? We need to figure out why this happens.

Jacob's annotation viewer can be used to view only annotated corpora with **XMI** files. Your component declares

[2018-05-22 08:42] gkirtzou commented on #29
@joancf Could you please validate the results? We need to proceed with the publications of the apps ASAP!

[2018-05-22 08:55] mhabsaoui commented on #35
@gkirtzou @galanisd  Sorry to ask, but any improvements ?

I just checked, Editor only shows the Preprocessor component and doesn't provides the Extractor (as  if non existing in Registry), wheras it is available on UI.

![image](https://user-images.githubusercontent.com/18755135/40352509-47c5a90c-5daf-11e8-8972-b6237ae78ee7.png)

[2018-05-22 09:09] gkirtzou commented on #35
@mhabsaoui I have been looking into this and one of the problem is that you have both the new and the old version of the component into the registry, which generate two galaxy wrappers with the same tool name. The galaxy wrapper is a file that is being generated by the registry and it is used by the galaxy editor in order to list the available components.

I have tried removing manually the galaxy

[2018-05-22 09:24] mhabsaoui commented on #35
@gkirtzou

I just have retried delete/re-register  Extractor Component : itis back on Editor, but seems it still  doesn't provide the latest (instead we got the old one ?).
BTW I have no older version of Extractor component on my UI, only the latest one(and an old App).

![image](https://user-images.githubusercontent.com/18755135/40353713-718f3610-5db2-11e8-9ae5-77251622904c.png)

![image](https:/

[2018-05-22 09:32] gkirtzou commented on #35
@mhabsaoui How did you re-register the component? Could you send me the metadata as well?

[2018-05-22 09:42] mhabsaoui commented on #35
@gkirtzou
- simply by deleting it and re-uploading the xml record throug dedicated menu for docker components...
- already sent it to you previously on Friday, look previous post. But here it is

[fc7f1a71-f223-48c4-9682-1524d46e9f66.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/2025987/fc7f1a71-f223-48c4-9682-1524d46e9f66.xml.zip)

[2018-05-22 09:49] gkirtzou commented on #35
Ok, would like to ask you to delete again the component. So I could try re-register myself and checking the logs at the same time and see what's going on the process.

[2018-05-22 09:50] mhabsaoui commented on #35
@gkirtzou
` Component was deleted successfully `.  There you go.

[2018-05-22 10:44] joancf commented on #29
@gkirtzou, Kateria (first of all, sorry for the delay, yesterday was Holiday and today I was in a meeting till now)
In any of the files you sent me I can't see the output of the freeling/babelnet processing.

[2018-05-22 10:49] joancf commented on #29
So I don't know how to proceed right now.
For me the simplest way is to have a workflow that accepts xmi, and produces xmi,
with the xmi files I have for testing.
maybe they are not correct, I upload here the file I used,
[fulltext.zip](https://github.com/openminted/Open-Call-Discussions/files/2026240/fulltext.zip)

[2018-05-22 11:00] joancf commented on #29
and here is the output I get when processing with Freeling first
[freeling_out.zip](https://github.com/openminted/Open-Call-Discussions/files/2026283/freeling_out.zip)

and BabelNet just next
[Babelnet_out.zip](https://github.com/openminted/Open-Call-Discussions/files/2026284/Babelnet_out.zip)