[2018-05-22 11:08] gkirtzou commented on #29
Xmmm, maybe the files I tested (a small corpus created by the OMTD platform) didn't have the terms you are looking for. I will try with the corpus you send me, but I think it would be nice to be able to run with publications from the omtd platform. Maybe the publications from biological domain is not the right one. Could you think a domain where we could search and build a corpus based on what ter

[2018-05-22 11:22] joancf commented on #29
I don't think this is the problem.Because Freeling should generate at least tokens, and it seems it does not do nothing
Do you have the output produced by freeling (or babelnet) when you processed these files?

[2018-05-22 11:39] gkirtzou commented on #29
In the attachement you would find the output of the following steps (which is input to the next step)
1) Language Identification
2) Freeling
3) Babelnet
[test2.zip](https://github.com/openminted/Open-Call-Discussions/files/2026384/test2.zip)

[2018-05-22 12:00] gkirtzou commented on #35
With the help of Dimitris we figured out what's the problem with the component. In your metadata, you are defining two **obligatory** parameters ( disable-gathering and post-filter-top-n) with **no Default value**. This had the effect of not loading the component into the editor.

You have two options here: either make the parameters optional or declare a default value. Then re-register your compo

[2018-05-22 12:14] mhabsaoui commented on #35
@gkirtzou I will see what's better for three params we have.
BTW, the optional/not optional parameter on register form isn't clearly expressed, it had been inverted on what we wanted...

Why is the old deprecated App still listed on UI, still a Registry issue ?

TermSuiteExtractor | 4/19/2018
-- | --

[2018-05-22 12:16] mattshardlow commented on #37
Via the maven coordinates. Having had a look back at the component, I tihnk this is a problem with the omtd share annotations I had put in (due to a misunderstanding on my part).

Ok, is there a supported way of exporting to XMI from a workflow? Or would I have to create + upload my own component? I have a component for summarising annotations from the CAS and writing them out to a file. I'll uplo

[2018-05-22 12:18] gkirtzou commented on #37
@mattshardlow  what browser you were using when you tried to change the metadata in the corpus?

[2018-05-22 12:18] reckart commented on #37
@mattshardlow if you add a basic UIMA component to a workflow, @galanisd wrapper implicitly adds a XmiReader and XmiWriter before/after it. So normally nothing special needs to be done to produce XMI.

[2018-05-22 12:20] mattshardlow commented on #37
@reckart thanks. That was what I originally thought. I'll change the metadata to reflect that. Although my understanding is that the annotation viewer still won't be available.

@gkirtzou Firefox Quantum 59.0.2

[2018-05-22 12:20] gkirtzou commented on #37
@mattshardlow given what @reckart said, then you only need to change what you declare that you consume/produce in the metadata record, ie change it to XMI.

[2018-05-22 12:22] mattshardlow commented on #37
@gkirtzou I will give it a go. My understanding is that @antleb + @greenwoodma  are working on getting the viewer intergated. Will it be ready for the launch?

[2018-05-22 12:40] gkirtzou commented on #37
@mattshardlow could you also check to edit the corpus metadata again? I could try and look at the log to see why this could happening. We could not reproduce your error.

[2018-05-22 12:44] mattshardlow commented on #37
@gkirtzou Yes, it appears to work.

I've had a look and I think what was happening before was that I was (accidentally) trying to edit the metadata of the output of one of my workflows (similarly named to the corpus itself). When I try to edit the workflow output corpus, I get the error as in the screenshot below:

<img width="1438" alt="screen shot 2018-05-22 at 13 43 44" src="https://user-images

[2018-05-22 12:49] gkirtzou commented on #37
@mattshardlow So you edited the metadata of your raw corpus without a problem, but when you edit (by mistake) the metadata of an annotated corpus you get that error. I got the same error with an annotated corpus. I will inform the tech team to check it out. Thanks!

[2018-05-22 13:00] gkirtzou commented on #35
Yes, it is not totally clear the phrase. I will inform people to see if we could make it even clearer.

If you haven't deleted the app, it is normal to remain there, but it contains dead links to the old component. You would to delete it or update it to contain the new correct component.

[2018-05-22 13:03] mattshardlow commented on #37
@gkirtzou Yep exactly, apologies for the prior confusion.

I have now edited the workflow metadata to indicate it outputs xmi. I have rerun it, but no annotation viewer. I assume this is because the viewer is disabled on the platform?

[2018-05-22 13:06] gkirtzou commented on #37
@mattshardlow yes because the viewer is not fully integrated into the platform.
Could you send me again the metadata of app and corpus and component (if you change them), to just verify them?

[2018-05-22 13:08] mattshardlow commented on #37
@gkirtzou Yep, will do. Any idea if the viewer will be fixed in time for the launch? If not, I will have to use some other method to show the output of my workflow

[2018-05-22 13:12] gkirtzou commented on #37
@mattshardlow I am not sure, @antleb is the correct person to ask your question. I would propose to find also another solution for the launch event, just to be safe.

[2018-05-22 13:12] mattshardlow commented on #37
@gkirtzou - yep, ok will do.

[2018-05-22 13:16] mattshardlow commented on #37
@gkirtzou
application metadata:
[application.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2026801/application.xml.txt)

component metadata:
[component.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2026804/component.xml.txt)

corpus metadata:
[corpus.xml.txt](https://github.com/openminted/Open-Call-Discussions/files/2026805/corpus.xml.txt)

[2018-05-22 13:17] mhabsaoui commented on #35
I have set 1 param as mandatory with default value, and 2 params as optional also with a default value.

Registered it and still the component not poping on Editor !
Here the modified xml record, tell me if it's ok.

[fc7f1a71-f223-48c4-9682-1524d46e9f66.xml.zip](https://github.com/openminted/Open-Call-Discussions/files/2026806/fc7f1a71-f223-48c4-9682-1524d46e9f66.xml.zip)

[2018-05-22 13:30] gkirtzou commented on #35
I can see it in the editor...

![screenshot at 2018-05-22 16-29-30](https://user-images.githubusercontent.com/8426223/40365492-5ab48442-5ddd-11e8-8485-b7a1381e609e.png)

Can you?

[2018-05-22 13:30] mhabsaoui commented on #35
No, I cannot...

![image](https://user-images.githubusercontent.com/18755135/40365575-2336788e-5dd5-11e8-8e3b-2ff00bac31aa.png)

![image](https://user-images.githubusercontent.com/18755135/40365598-30fa92d4-5dd5-11e8-884d-d606ccea33a9.png)

[2018-05-22 13:41] gkirtzou commented on #37
For the _app_, please add the following relations

-  `RelationType=hasPart`, `name='PDFBox PDF Reader"`, `identifier="2246ecfb-ceb5-4fcf-a3f1-35027785329d"` with `  ResourceIdentifierSchemeName="Openminted Id"`
- `RelationType=hasPart,` `name='Text Mining For Journalism Component"`,` identifier="89c0fd9d-7f2e-4fe9-9565-39e6de7b05fa"` with  `ResourceIdentifierSchemeName="Openminted Id" `

For the

[2018-05-22 13:46] gkirtzou commented on #35
Ok the red one should be the old component, that you deleted from the registry but the workflow still has it. Please also don't always count on the search box to find the component. Sometimes it fails to match the component in request. If you search manually the list under docker you would find it (is towards the end)

[2018-05-22 13:54] gkirtzou commented on #35
@mhabsaoui just for the record in the boolean elements in the metadata forms, ticked declares true, while not ticked declares false.

[2018-05-22 14:02] mattshardlow commented on #37
@gkirtzou The application descriptor that I sent you contains the following:

[code]

The component descriptor contains the following block:

[code]

Please let me know if there is an issue with either of these.

[2018-05-22 14:07] gkirtzou commented on #37
You are absolutely right. I was confused. The metadata are perfect. If you are able also to run the application and get the expected results, you could proceed and make them public as well.

[2018-05-22 14:08] mhabsaoui commented on #35
@gkirtzou

Manually checked and the component is available, with latest version.

![image](https://user-images.githubusercontent.com/18755135/40366987-b222ddaa-5dd8-11e8-91e2-ae04d4992a78.png)

I just started a process (jobId 8b4417b2-ad07-4d87-b90b-e34eb40ee95e), ignore it as it failed.

Rather, check this one **jobId c108b5d9-023f-48e9-af96-44fd37b3009c**

PS :  BTW, how to cancel  a running pro

[2018-05-22 14:12] gkirtzou commented on #35
There is no way to cancel  a process.

[2018-05-22 14:13] mhabsaoui commented on #35
@gkirtzou
Ok. Can I have the  jobId c108b5d9-023f-48e9-af96-44fd37b3009c  logs ?

Thanks

[2018-05-22 14:15] gkirtzou commented on #35
@mhabsaoui could you given the omtd id of the workflow? It is shown at the bottom of the landing page

[2018-05-22 14:19] mhabsaoui commented on #35
Identifiers
    OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

[2018-05-22 14:22] gkirtzou commented on #35
@mhabsaoui the workflow contains the omtdImporter + the TermsuiteExtractor, riight? Have you connect them using the noodle functionality of the galaxy editor?

Moreover your input is a corpus with 3 txt and 2 xmi files, right?

[2018-05-22 14:32] mhabsaoui commented on #35
@gkirtzou  Right, right and right :+1:

[2018-05-22 14:58] reckart commented on #39
I seem to be unable to run workflows on `test.openminted.eu`. The docker logs for the PDFReader step show that some odd identifier is used instead of the class name:

[code]

[2018-05-22 15:02] greenwoodma commented on #39
That's the OMTD id for the workflow, no idea why that's being used instead of the class name.

[2018-05-22 15:02] reckart commented on #39
Btw. the odd identifier is the registry ID of the PDF reader. Maybe the OMTD UIMA wrapper tries to pick up the class name from the wrong identifier? There are two in the OMTD-SHARE file:

[code]

[2018-05-22 15:06] galanisd commented on #39
For UIMA/GATE wrapper generation we get the first resourceIdentifier. When it was developed there was only one resourceIdentifier.

The OMTD resourceIdentifier was added by you or it was added automatically from the Registry?

[2018-05-22 15:09] reckart commented on #39
It was added by the registry.

Btw, where is the UIMA wrapper code? I don't find the github repo anymore.

[2018-05-22 15:10] reckart commented on #39
@galanisd the class name should be picked up from ` <ns1:command>de.tudarmstadt.ukp.dkpro.core.io.pdf.PdfReader</ns1:command>` not be parsed out of the Maven identifier, no?

[2018-05-22 15:13] gkirtzou commented on #39
It must have been added by the registry. Every resource should have a
unique omtd Id within the platform.

On Tue, 22 May 2018, 18:06 Dimitrios Galanis, <notifications@github.com>
wrote:

[2018-05-22 15:24] galanisd commented on #39
https://github.com/openminted/omtd-component-executor/tree/master/omtd-component-galaxy

I will update the code to use the maven  resourceIdentifier ASAP. I didn't know that this part has changed.

We parse the maven id. There was no command when the code was written. It will not make any difference. Command element also is not very useful in the case of UIMA/GATE since the command that we use in

[2018-05-22 15:26] reckart commented on #39
@galanisd IMHO the command would be a convenient way to get the class name without having to parse identifiers.

[2018-05-22 15:34] reckart commented on #39
@galanisd anyway, so should the OMTD-SHARE Maven plugin omit the `command` element?

[2018-05-22 15:35] reckart commented on #8
I think I am having some issues here again...

On `services.openminted.eu`, I am unable to register the latest builds of DKPro Core 1.9.2-SNAPSHOTs. I have made some modifications to the metadata (e.g. of the PdfReader component), but when I try to register it, I am always confronted with previous metadata which does not include my changes. The up-to-date JARs with the proper metadata are present

[2018-05-22 17:11] galanisd commented on #39
Yes it is a little bit easier to use command than parsing the resourcedID. The only issues I see with that is
a. that UIMA/GATE-component command is different thing than  Docker-component  command in OMTD-SHARE (java class vs. the name of an executable).
b. we put the same info (java class) in various points (distributionLocation, command, resourceIdentifier).

No problem to keep it. @pennyl67 @gr

[2018-05-22 17:27] joancf commented on #29
Hi, I took your data (from language identification) and I could process it with the dockers (the same same version that is uploaded in hub.docker)
the results I obtained are these ones:
Freeling output
[fr_out.zip](https://github.com/openminted/Open-Call-Discussions/files/2027829/fr_out.zip)

Babelnet output
[bl_out.zip](https://github.com/openminted/Open-Call-Discussions/files/2027831/bl_out.zip)

[2018-05-22 18:09] galanisd commented on #39
Fixed. Updated tests.opneminted.eu.
Tested with mvn:de.tudarmstadt.ukp.dkpro.core:de.tudarmstadt.ukp.dkpro.core.io.bincas-asl:1.9.1-SNAPSHOT#de.tudarmstadt.ukp.dkpro.core.io.bincas.BinaryCasReader

2 resourceIDs in OMTD-SHARE (download from My Components).

`<ms:resourceIdentifiers>
<ms:resourceIdentifier resourceIdentifierSchemeName="OMTD">92325c88-9601-4be6-800b-7409d69f281c</ms:resourceIdentifi

[2018-05-22 19:05] reckart commented on #39
I tried re-running (since the fix is in the wrapper, I assume that I do not have to re-upload or re-build anything) my application but the failure persists on test.openminted.eu:

[code]

Maybe it is because you are caching the Docker images? Can you flush them?

[2018-05-22 19:07] reckart commented on #39
Btw: `node2` ID `mesos-f5a9d178-5fca-4974-a360-212d93ab4664`

[2018-05-22 19:24] galanisd commented on #39
Nope.

I assume that it has to do with the components that were registered when then code was generating
"wrong" wrappers. The change I did does not solve the problem for them.

The solution is

- to delete the components (the respective wrappers will be deleted)
- re-register the components.
- recreate the workflow.

[2018-05-23 08:16] mhabsaoui commented on #35
@gkirtzou

- Any logs provided on given jobId ?

- Also, I am trying to register a new Corpora of only xmi format files (to test Extractor with xmi corpus), but when processed got this new error message `This corpus has no valid archiveId (Server responded: Error)`. Even with right file structure (fulltext with xmi files, and licence/metadata are empty)

Identifiers
    OMTD: 1415b62b-4c09-4025-9a

[2018-05-23 08:22] reckart commented on #39
@galanisd ok, I have re-uploaded the components and re-created the workflow.

I can see in the docker logs that all the components of the workflow have completed. However, the workflow is still listed as "running" even after several minutes of waiting. Mind that the workflow processed only 2 PDFs.

Any way to figure out where it is stuck now?

[2018-05-23 08:46] gkirtzou commented on #29
Ok, I see that indeed the results are different. Two thing come to my mind, why the Freeling fails to generate tokens in the input:

1. Whether the language parameter has an effect. So what language have you used for the Freeling component?
2. Whether have you update the image within the last couple of weeks? Because that's when we last pull the image in the infrastructure.

[2018-05-23 08:50] reckart commented on #39
@gkirtzou @galanisd I can also see in the Galaxy UI of `test.openminted.eu` that the workflow has completed over 30 minutes ago, but in the registry it still shows as "running" :(

[2018-05-23 09:08] gkirtzou commented on #39
@reckart check your email

[2018-05-23 09:21] gkirtzou commented on #39
@reckart  the registry  keeps the operation of a workflow to the "running" status, even though the workflow has successfully finished in the workflow engine, due to a bug in the registry side. The registry fails to register the new annotated corpus, and thus stalling the update of the operation as well.
@antleb already knows this, and a fix is being expected.

[2018-05-23 09:24] reckart commented on #39
@gkirtzou ok, thanks :) Is this bug being tracked somewhere and can be watched?

[2018-05-23 09:30] gkirtzou commented on #39
@reckart I forgot to create an issue in redmine. I will create one there and I will add you as watcher.

[2018-05-23 09:54] reckart commented on #39
Finally, I have been able to run CoreNLP NER with a custom model :) (although I could only verify it through hidden channels because of the "running" bug).

So, this can be closed now. Next: preparing DKPro Core 1.9.2 release and registering some components on the OMTD production platform.

[2018-05-23 09:54] #39 closed, assigned to reckart

[2018-05-23 09:55] reckart commented on #39
@gkirtzou @galanisd @greenwoodma Thanks for all the support!

[2018-05-23 10:35] joancf commented on #29
I did some changes to manage the language,
I ran the docker with language="en" but now I tried it with language "auto" and with the image uploaded two weeks ago it fails, the current one works.

[2018-05-23 10:43] gkirtzou commented on #29
Ok, I had tried with language="auto". I will retry with language="en". I will also repull the image to be on the same page. Note that since your images are big, the platform is not pulling it every time, but only once in the registration. The idea is not to image does not change since registration to verify reproducibility.

[2018-05-23 10:50] joancf commented on #29
yes images are huge ;-)  include all the Freeling, but i did not increase the version till it has proven to work

[2018-05-23 10:51] gkirtzou commented on #29
Ok, but just let me know that you change the image, because due to size the pulling is done manually. So next time just let me know :-)

[2018-05-23 12:25] gkirtzou commented on #29
@joancf I have tested the updated image, with language='en' for the Freeling parameter. In the attachement you can find the results of both steps of the workflow (your components). It looks more similitar with the one you have sent me but, there are some differences (it contain also some extra tags). Could you verify if there as expected?

[MyTest2.zip](https://github.com/openminted/Open-Call-Disc

[2018-05-23 13:09] joancf commented on #29
Yes, this data is correct!!  :-)

[2018-05-23 13:17] gkirtzou commented on #29
Perfect! Then I can create a similar workflow to the services.openminted.eu. I will let you know how it goes.

[2018-05-23 13:38] gkirtzou commented on #29
@reckart Could you please upload to the services.openminted.eu the UIMA language identification, so i could create a correct application for @joancf ? Thanks!

[2018-05-23 13:46] joancf commented on #29
another option is to check why my files fulltext.zip are not working...

[2018-05-23 13:50] gkirtzou commented on #35
@mhabsaoui Sorry for my late response. I found your workflow in the galaxy engine, and it seems to have stack at the second step (the TermsuiteExecutor). I tried to look into the slaves where the docker images run, and I cannot find a container of your image for the past 24 hours (in order to check the log). It seems that it didn't run.

I re-pulled the image (just to be safe). I would suggest to

[2018-05-23 13:51] gkirtzou commented on #29
What do you mean your fulltext.zip files are not working?

[2018-05-23 14:03] mhabsaoui commented on #35
@gkirtzou @galanisd
Thanks for your answers.
Please delete/pull updated docker image. Thanks.

Cheers

[2018-05-23 14:32] gkirtzou commented on #35
@mhabsaoui The image has been re-pulled.

[2018-05-23 14:33] mhabsaoui commented on #35
Is there any platform redeploy occurring ?  Got access problems.

`
System error retrieving user tools/services (Server responded: undefined)
HTTP Status 500 – Internal Server Error
`

[2018-05-23 14:42] gkirtzou commented on #35
@mhabsaoui it seems so. I have no idea what happen. @antleb any help here?

[2018-05-23 14:50] joancf commented on #29
I uploaded some test files as an input corpus (the fulltext.zip)
 I did an application, and the application whith that corpus as input,
The application never ended,

[2018-05-23 14:57] gkirtzou commented on #29
@joancf what is the other identifier of your application? (shown at the bottom of the page of the landing page). Also approximately when did you run the app? two hours ago?

[2018-05-23 15:14] gkirtzou commented on #35
@mhabsaoui I think that now it is ok.

[2018-05-23 17:54] joancf commented on #29
I run it some days ago, today I tried it again (only once) but it appears that there are several processes running... I don't know... but none of them has ended
![image](https://user-images.githubusercontent.com/2848623/40442048-ff209206-5ec2-11e8-9ae1-bce89ffdf221.png)
these are the Identifiers
    OMTD: 328ef54b-4c6b-4a14-905d-06d2a0e04698
    OTHER: 0931731504677607-75ba0ebd-c7a2-436d-9f47-8f16

[2018-05-24 07:07] mhabsaoui commented on #35
@gkirtzou @galanisd

OK. I retried and still got this weird error related to my XMI test corpus...

![image](https://user-images.githubusercontent.com/18755135/40469751-d352d674-5f31-11e8-8260-47e914c16750.png)

Thanks

[2018-05-24 07:30] mhabsaoui commented on #35
@gkirtzou

jobId 49a0374e-f997-4341-8a9c-6f04ab5a8e17  running, testing with another existing corpus having TXT/XMI files. Will see if any result...

==> Well failes `There was a problem running the application. Try again in a while. (final workflow state is in error)`. Please the logs...

[2018-05-24 07:50] gkirtzou commented on #29
@joancf ok the old ones that say "Running" probably have either failed or successed but due to the bug that exists at the platform at the time, the registry has been able to update correctly. I was able to run your component successfully, I wonder why you cannot. Could you send me a screenshot of the workflow from the workflow editor to check its structure? And what data does the freeling_test cor

[2018-05-24 08:12] gkirtzou commented on #35
@mhabsaoui For the XMI corpus, are you sure that it has been uploaded correctly? Can you try downloading it and browsing it in the UI?

[2018-05-24 08:14] gkirtzou commented on #35
@mhabsaoui jobid tells me nothing useful, I cannot see it. If you want you could send me the identifiers of the workflow that you would find and the bottom of the landing page of the workflow. Thanks!

[2018-05-24 08:26] mhabsaoui commented on #35
@gkirtzou

Yes correctly uploaded. download is ok and shows correct fulltext content. Browsing is ok too (2 xmi files displayed as xml structure on right panel). Will delete/register it though...

Identifiers
    OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

[2018-05-24 08:28] gkirtzou commented on #35
Don't delete it. Let me find the log and see what happened.

[2018-05-24 08:31] mhabsaoui commented on #35
No I won't delete anything, I let you have a look at it.

[2018-05-24 08:41] gkirtzou commented on #35
Ok, that's a bit weird. I found the workflow in the galaxy engine, but I don't see any docker component for your image. Just to be sure I repulled your component to the slaves.  Could you please try once again know? Just to be sure. And let me know that you started another run?

[2018-05-24 08:48] mhabsaoui commented on #35
@gkirtzou  running...

![image](https://user-images.githubusercontent.com/18755135/40474771-2ae45c6a-5f40-11e8-98b2-0c491ac5cc74.png)

=> failed again `There was a problem running the application. Try again in a while. (final workflow state is in error)`

BTW, I have no problem on seeing components on Editor

![image](https://user-images.githubusercontent.com/18755135/40474945-8f259306-5f40-11e8-9

[2018-05-24 08:50] gkirtzou commented on #29
For some reason that is not clear to me at all, I cannot find anything in the slaves. It seems like your component never run. Could you please try once again now? Let me know when you do, so I could keep an eye in the logs

as for the multiple instances, probably you pressed the button "Run" more than once, and you didn't even notice.

[2018-05-24 09:28] gkirtzou commented on #35
@mhabsaoui We get a runtime exception, that's why it fails to run your workflow ( I created a similar workflow and I got the same error). I am looking into it to see why.

[2018-05-24 09:40] galanisd commented on #35
@gkirtzou

Runtime exception in workflow-service? Error message?

[2018-05-24 09:48] gkirtzou commented on #35
@galanisd check your skype. I am looking into it with @saxtouri

[2018-05-24 09:50] greenwoodma commented on #35
Can someone send me the stacktrace as well so I can have a look please

[2018-05-24 10:03] galanisd commented on #35
[code]

We will run an already tested workflow to see if the problem is generic OR has to do with the specific one.

[2018-05-24 10:11] greenwoodma commented on #35
so that's not a problem with the workflow service itself, it's just reporting that one of the steps of the workflow in galaxy is in the error state, meaning processing will never continue any further.

To find out what went wrong you'd need to look at the invocation to find which step failed and hence which job to get the command line, and that might then let you find the actual error in the docke

[2018-05-24 10:16] greenwoodma commented on #35
I've just pushed a couple of changes that should make the error messages more helpful. As well as distinguishing between checks on the last step or any step, I've also added to the end of the messages the string workflowID/invocationID/stepID/jobID which should make it trivial to go right to the correct place in the logs to find the actual error

[2018-05-24 10:28] galanisd commented on #35
We suspect that the problem is in the names of the parameters; I checked the Galaxy log.
It seems that Galaxy can't handle "-" in parameter names.  @gkirtzou is creating a version where "-" are replaced with "_" and she will test if it works.

[2018-05-24 11:05] joancf commented on #29
I'll do it in the afternoon now I'm in a meeting

[2018-05-24 11:29] gkirtzou commented on #35
Ok, after changing the '-' to '_' we were able to invoke your component through the galaxy workflow engine, as @galanisd  suspected.

@mhabsaoui could you please delete your termsuite extractor component and re-register but make sure that the parameters' names **does not** contain dash '-' . You could replace them to lower dash '_' or camelCase names.  Please also verify that the docker image is c

[2018-05-24 11:54] mhabsaoui commented on #35
@gkirtzou well, I guess we have no choice in applying this patch-fix... I'll let U know of update asap.

And what about the problem for the **TermeSuiteTestCorpusXmi** ?

Identifiers
    OMTD: 1415b62b-4c09-4025-9afb-47bf54bba27d
    OTHER: ff645a19-71eb-4389-93ae-15817c8df581

[2018-05-24 12:02] gkirtzou commented on #35
@mhabsaoui ok I will look to see what's going on with the corpus as well

[2018-05-24 13:24] mhabsaoui commented on #35
@gkirtzou  You can delete/pull updated docker image

[2018-05-24 13:35] gkirtzou commented on #35
@mhabsaoui I pulled the update docker image. Please delete the old component, and re-register the new one with the correct parameters' names.

[2018-05-24 13:36] mhabsaoui commented on #35
@gkirtzou I have just edited the parameters name directly from Form. Is that OK ?

[2018-05-24 13:37] gkirtzou commented on #35
@mhabsaoui did you save it? Let me check if the galaxy wrapper is updated as expected.

[2018-05-24 13:40] mhabsaoui commented on #35
@gkirtzou Saving after Form editing?, yes.
If you mean in Editor, it triggered the message about parameters with default values, so it seems detected, right

jobId 49a0374e-f997-4341-8a9c-6f04ab5a8e17 running...

[2018-05-24 13:48] gkirtzou commented on #35
@mhabsaoui Ok, I would feel more comfortable if you deleted the component and re-register it. Anyway the galaxy wrapper has been updated. Could you send me the identifiers of the component as shown in the landing page? I just want to verify something.

[2018-05-24 13:53] mhabsaoui commented on #35
@gkirtzou OK.

- TermSuiteExtractor

Identifiers
    OMTD: bc9346a3-ea16-486e-bab5-6e1a84aee583
    OMTD_DOCKER: fr.univnantes.termsuite.tools.TerminologyExtractorCLI

- TermSuiteExtractorWorkflow

Identifiers
    OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

[2018-05-24 13:55] gkirtzou commented on #35
Thanks! Please go and test your workflow.

[2018-05-24 14:02] mhabsaoui commented on #35
@gkirtzou
jobId 49a0374e-f997-4341-8a9c-6f04ab5a8e17 running :crossed_fingers:

[2018-05-24 14:15] gkirtzou commented on #35
@mhabsaoui I see the workflow in the galaxy engine but it seems to have failed even loading the data. I would suggest to delete both your component and the workflow and create a new one from scratch.

Also, when you update the component metadata apart from the parameters did you change anything else? Eg did you delete the openminted identifier?

[2018-05-24 14:18] joancf commented on #29
I'm late to do it today,  let's do it tomorrow morning, it's ok at 10:00 AM (GMT+2 Barcelona time) for you?

[2018-05-24 14:39] gkirtzou commented on #29
Yes please, let's do the testing tomorrow. I also have to leave now.

On Thu, 24 May 2018, 17:18 Joan Codina, <notifications@github.com> wrote:

[2018-05-24 14:41] mhabsaoui commented on #35
@gkirtzou

OK.

no, only modified parameters name ( _ instead of -).

[2018-05-24 14:50] mhabsaoui commented on #35
@gkirtzou

Deleted Workflow+component and reuploaded xml records. Process running (jobId 2bbf6174-2b22-45f6-889c-12874336e9e0)...
BTW, now deleting deprecated (old versions) of components works well now.

[2018-05-25 07:03] mhabsaoui commented on #35
@gkirtzou @galanisd

Job finished? with `System error getting execution status (Server responded: undefined)`. It seems still running? `5/24/2018 | Running`

@stephane54 also tried to register a new corpus (xmi files), and he got the error `This corpus has no valid archiveId (Server responded: Error)`.

[2018-05-25 07:07] gkirtzou commented on #29
@joancf I am available, let me know when you start a new run.

[2018-05-25 07:28] joancf commented on #29
@gkirtzou  Katerina  maybe we can contact by a chat channel while we do it. maybe using skype my user is joancf

[2018-05-25 08:02] gkirtzou commented on #35
@mhabsaoui As I told you before the access to the platform I have, jobId is not useful. It does not help me finding which executed experiment is your in the galaxy engine. I need the workflow's identifiers (you can find the in it landing page).

I found two last workflow in the engine that could be yours.

1. Workflow 0931732138536875-f714ae88-0d9e-4479-8583-9ce24707c88f with Corpus :: 3d1d994e-9b

[2018-05-25 08:11] gkirtzou commented on #29
@joancf  You can find me at skype under gkirtzou

[2018-05-25 08:20] mhabsaoui commented on #35
@gkirtzou

My apps:

- **TermSuitePreprocessorWorkflow** :

Identifiers
    OMTD: 329ae20d-8f08-4749-bedc-e22948e89899
    OTHER: 0931732081731845-36c62926-779e-43e9-acef-2c2d3b2488c8

- **TermSuiteExtractorWorkflow** :

Identifiers
    OMTD: b29c0f99-0117-4d60-bcff-c7abace5d04e
    OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

![image](https://user-images.githubusercontent.com/187

[2018-05-25 08:36] mhabsaoui commented on #35
@gkirtzou
Test running...

TermSuiteExtractorWorkflow Identifiers:

OMTD: b29c0f99-0117-4d60-bcff-c7abace5d04e
OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

Corpus OMTD: b1519777-d702-4c97-a697-28351a4cced8

BTW, Any news about Bugs on registering Corpora ?

[2018-05-25 08:39] mhabsaoui commented on #35
@gkirtzou  @galanisd

Well, now it seems OK.

![image](https://user-images.githubusercontent.com/18755135/40534891-c0744cbe-6007-11e8-9353-adb8005102d4.png)

**But when acessing the result corpora => error message** `System error loading corpus (Server responded: Resource Not Found)`

PS: Please, can I have the logs, so to see what parameters/values are passed from Galaxy !!

[2018-05-25 08:56] gkirtzou commented on #35
For the TermSuiteExtractorWorkflow the input was a corpus of 3 txt and 2 xmi files, correct?
The results is in the attachement.
[TerminologyExtractor.json.txt](https://github.com/openminted/Open-Call-Discussions/files/2038696/TerminologyExtractor.json.txt)

Ok, I have an idea why you couldn't get the results. Could you check if you find the output also under my annotation resources?

For the corpu

[2018-05-25 09:00] mhabsaoui commented on #35
@gkirtzou

Yes, right !  And the output result seems ok...

Is this what you meant ?

![image](https://user-images.githubusercontent.com/18755135/40535905-cb03ff46-600a-11e8-8d55-879769f2c783.png)

Let us know...

[2018-05-25 09:03] gkirtzou commented on #35
That could be as well. You could find it also under your name->my annotation resources

[2018-05-25 09:13] mhabsaoui commented on #35
Ah oki, got it :+1:  It's a `lexical/conceptual resource`

Then, normally this result corpus should be downloadable as a zip file too, right ?

[2018-05-25 09:18] gkirtzou commented on #35
I think yes, but an exact policy is under design with collaboration with our law experts. So we have a successful run of your component, correct?

[2018-05-25 09:22] mhabsaoui commented on #35
We really need to have the test corpus registering to be working (without `This corpus has no valid archiveId` error), so as to make various tests...

We could say yes for now.
We really need to get both the Galaxy Logs (Termsuite messages logged on Galaxy) + Output corpus zip file to validate it's OK.

[2018-05-25 12:10] gkirtzou commented on #35
For the moment the component worked with a corpus. I believe that no other testing is required, since the component can successfully run in the OMTD platform.

If I understand correctly, you would like also to test the component with your corpus, right? Why do you think that this is necessary?  As for your corpus, unfortunately, the registry has a problem with the some corpora. The problem has bee

[2018-05-25 12:18] mhabsaoui commented on #35
The corpus tested until now were very basic content. We need to test with different contents to see the behaviour...

Well, let's hope it's back for next Monday...

It would have been very useful and saved a lot of time to have it from the start for debugging during Hackathon...

Well I will try to test a workflow with both components.

[2018-05-25 12:29] gkirtzou commented on #35
Let me know, so I could check the logs.

[2018-05-25 12:36] mhabsaoui commented on #35
@gkirtzou

First, I wanted to test the TermSuitePreprocessorWorkflow on xmi format corpus.

Identifiers
OMTD: 329ae20d-8f08-4749-bedc-e22948e89899
OTHER: 0931732081731845-36c62926-779e-43e9-acef-2c2d3b2488c8

Execution and expected results are OK :+1:

PS: When browsing the result on OMTD UI, the viewing o f Annotations seems still not working, right ?
![image](https://user-images.githubuserconten

[2018-05-25 12:39] gkirtzou commented on #35
Yes this is the annotation viewer. @antleb it seems that the annotation viewer does not work as expected in the test.openminted.eu

[2018-05-25 12:42] mhabsaoui commented on #35
Now, we test both components (Preprocessor + Extractor). I just modified the existing TermSuiteExtractorWorkflow to add the Preprocessor component...

Identifiers
OMTD: b29c0f99-0117-4d60-bcff-c7abace5d04e
OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

BTW, can you give me a copy of the logs for ExtractorWorkflow, so that I can see how are the Galaxy parameters passed ?

[2018-05-25 12:51] gkirtzou commented on #35
Here is the log from  visatm/termsuite-omtd image

[code]

[2018-05-25 13:04] mhabsaoui commented on #35
@gkirtzou

 Workflow with both components (Preprocessor + Extractor) is executing OK. We just need you give us the output zip to check...

I need the logs for the Extractor too (you gave the Preprocessor). Thanks !

[2018-05-25 13:16] gkirtzou commented on #35
@mhabsaoui Here is the log for the extractor as well

[code]

[2018-05-25 13:18] gkirtzou commented on #35
@mhabsaoui could you give me the identifiers of the workflow? From the landing page? So I could get the results from the galaxy engine

[2018-05-25 13:18] mhabsaoui commented on #35
@gkirtzou

OK for the logs.

TermSuiteExtractorWorkflow Identifiers:

OMTD: b29c0f99-0117-4d60-bcff-c7abace5d04e
OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

[2018-05-25 13:22] gkirtzou commented on #35
Here is the output of both of your components from the workflow. Is it ok? As expected?
[Visatm.zip](https://github.com/openminted/Open-Call-Discussions/files/2039448/Visatm.zip)

[2018-05-25 13:31] mhabsaoui commented on #35
@gkirtzou

Yes it is :+1:

Now I will have to retest this same TermSuiteExtractorWorkflow, now with modifying params... So I will need the same when it finishes : logs + zip file

Identifiers:
OMTD: b29c0f99-0117-4d60-bcff-c7abace5d04e
OTHER: 0931732081731845-63cce6db-f4d0-4ca0-9e28-2561327193fa

Ps: A question about ancillary resources. After the user has registered any resource on omtd ==> is it

[2018-05-25 13:48] mhabsaoui commented on #35
Go for logs+zip

[2018-05-25 14:00] gkirtzou commented on #35
[Visatm.zip](https://github.com/openminted/Open-Call-Discussions/files/2039604/Visatm.zip)
In the attachement you would find the output form both components.
And here is the log for preprocessor

[code]

and for Extractor

[code]

As I have told you before, unfortunately, we have not implement a way to use the ancillary resources that are registered within our platform in the workflow editor. It i

[2018-05-25 14:18] mhabsaoui commented on #35
@gkirtzou  OK I'll switch to services site to register Apps/Compos as private.

Can I use the xml records from test site  to register all on services ?

[2018-05-25 14:42] gkirtzou commented on #35
You can use the xml record from test for the register the components, just make sure that the public element is set to false. For the workflow you would need to make one from scratch within the new environment. Also keep it private at first until we verify the metadata and you have tested.

When you registered them in the services, do send me the metadata, please.

[2018-05-25 14:48] mhabsaoui commented on #35
@gkirtzou

here are the components xml records from Services site.

[Components_services.zip](https://github.com/openminted/Open-Call-Discussions/files/2039786/Components_services.zip)

I tried to process a corpora, but that "no archive id" error stops the process...

cheers

[2018-05-28 07:42] mhabsaoui commented on #35
@gkirtzou @galanisd

Is it ok for testing corpora without bugs ?

Thanks

[2018-05-29 09:37] gkirtzou commented on #37
@mattshardlow since your component, along with an application that make your component available to non-technical users and a corpus that used to test the application successfully are now publicly available in the services, no open issue remains. I am closing the issue.

Cheers.

[2018-05-29 09:37] #37 closed, assigned to nobody

[2018-05-29 11:23] gkirtzou commented on #35
@mhabsaoui In the services, I tried two run with different type of corpora (one uploaded by me and one created in the platform) and I had no problem running a service. Could you also check for your corpus? If you meet any problem let's know.

[2018-05-31 07:19] mhabsaoui commented on #35
@gkirtzou  I deleted/registered our Test corpora on Services site, and relaunched the TermSuiteExtractorWorkflow  (having the two components : Preprocessor + Extractor)=> it's OK now (really faster than on test).

PS: When clicking on big blue square to see the output result, you get a `System error loading corpus (Server responded: Resource Not Found)` message. We know the generated lexical/conce

[2018-05-31 07:40] mhabsaoui commented on #35
@gkirtzou

The second tested corpora  (with same workflow having the two components : Preprocessor + Extractor) ) => OK. We will need the output zip file, as we can't access them ! And also please put the logs in a text file and share it here...

BTW, when editing the lexical/conceptual annotation resources, we can see as following the direct download link of it on OMTD. Of course tested and doesn

[2018-05-31 07:50] gkirtzou commented on #35
@mhabsaoui In the attachment you can find the output results from both your tests (test1 and test2).
[results.zip](https://github.com/openminted/Open-Call-Discussions/files/2057246/results.zip)

I have reported the error with the broken link of the output in the operation page (It makes the assumption that the output of an application is always a corpus, but in your case is a lexical conceptual re

[2018-05-31 11:06] gkirtzou commented on #29
@joancf I am trying to create an application using both the freeling and the babelnet component as I did in test.openminted.eu. The application rfinished correctly, but while the babelnet component runs the following exception occurs (note that both components are updated to the latest image of v1.0 with docker pull) :

[code]
Any idea what could be going wrong? I am attaching the files as given b

[2018-05-31 13:22] joancf commented on #29
Hi
The files are correct,
about the error, is inside a try/catch so the program continues. It happens because there is a token with no POS tag.

[2018-06-01 10:39] gkirtzou commented on #29
@joancf Ok, I got confused for a moment there. Anyway, I create an application that uses both your component, which is available here https://services.openminted.eu/landingPage/application/6a9ce7dc-aa6f-4119-a8f7-5a0e260c2b44, and it runs as expected.

There is nothing else to do from our part. So I am closing the issue.

Cheers

[2018-06-01 10:39] #29 closed, assigned to gkirtzou, galanisd

[2018-06-01 12:11] gkirtzou commented on #33
@dumitrescustefan We finally resolved the problem we had with the component's registration. I took the liberty and created an application to make your component available to the non-tdm users of OMTD platform. You can find the application here :

https://services.openminted.eu/landingPage/application/6aea5b89-e857-4c47-b111-81c441e7a741

The app runs correctly. Since everything works perfectly and

[2018-06-01 12:11] #33 closed, assigned to gkirtzou, galanisd

[2018-06-01 14:26] #41 closed, assigned to nobody

[2018-06-05 08:36] stephane54 commented on #12
Dear @antleb, can you tell me about some progress in istex connection work : particulary concerning Spring layer implementation and authentication token transmission via the interface. I wonder if you are waiting for informations from us?

[2018-06-05 12:42] mandiayba commented on #12
Thanks @stephane54 by asking these questions, I'm also interested to know. @greenwoodma or @galanisd, may be you know if remote access by API is possible ?

[2018-06-06 08:01] #40 closed, assigned to nobody

[2018-06-07 15:40] mhabsaoui commented on #35
Hi @gkirtzou

Can you give us the last output result zip (on Services), for processing the following corpora + app (and the logs too) thanks... (seems the ouputed lexical resources are still not downloadable).

 **corpora** :  windenergyEnTxt

Identifiers
    OMTD: 4bca546c-1d0c-4851-83e8-ac07e0bb4485
    OTHER: 84cb88b8-a3c6-4f54-88af-0e00eab1f190

App. :  TermSuiteExtractorWorkflow

Identifiers

[2018-06-08 06:53] stephane54 commented on #35
Please  @gkirtzou  and the result of the one too, processed on services plateform   :

Thanks

[2018-06-08 09:16] gkirtzou commented on #35
@mandiayba I am attaching the output of your complete application. Unfortunately, I didn't find any log, due to restart of the platform where old docker logs are lost.

[TerminologyExtractor.json.zip](https://github.com/openminted/Open-Call-Discussions/files/2083730/TerminologyExtractor.json.zip)

Since your application has successfully being integrated with the OMTD platform (it is running withou

[2018-06-08 09:18] gkirtzou commented on #35
@stephane54 could you send me the identifiers of the application you ran? and when you approximately run it? Note that I cannot guarantee that I will find it.

[2018-06-08 13:43] stephane54 commented on #35
Dear @gkirtzou, here is all the identifiers  :

INPUT CORPUS:
Identifiers
OMTD: 869d6f0a-1803-4f80-b680-ee0e8b28a9cb
OTHER: 08cc4dd5-17aa-4d91-98aa-8d9159b7e0e3

APP :
OMTD: 4d06f311-f63e-4c13-95d2-374806d2ca36
OTHER: 0931732138536875-b2890b6d-ce5e-4bc0-a699-3763612cab78

OUTPUT :
18ca196f-961e-45ae-9699-f7a3468b2552

[2018-06-08 14:15] gkirtzou commented on #35
@stephane54 There you are
[TerminologyExtractor.json.zip](https://github.com/openminted/Open-Call-Discussions/files/2084695/TerminologyExtractor.json.zip)

@mhabsaoui Could you please make the whole content you uploaded to OMTD platform (component/app and corpus if you used your own to test them) public?

Thanks!

[2018-06-11 06:53] stephane54 commented on #35
Dear @gkirtzou,  It is done. Now, I wonder if I can use my components in a third part application? Indeed, I would like to call a TermSuite Workflow in a remote way, order omtd to process this workflow on a specific corpus previously pushed on the plateform and get the result. Does omtd offer this kind of service now,  using a API Rest service for example ? Is there any documentation about such a

[2018-06-11 11:48] gkirtzou commented on #35
@mhabsaoui I saw that you made public your two components. Could you make public as well the complete workflow that takes as input pdf files using the PDF Reader component, along with your two components, so that they are available for non-tdm expert to use out of the box?
Not that in the PDF Reader you need to set the patterns parameter to "**/*.pdf"

Thanks!

[2018-06-11 11:55] gkirtzou commented on #35
@mhabsaoui  Don't for get to let me know also with which corpus you tested the complete workflow. Thanks!

[2018-06-11 12:32] galanisd commented on #35
I know that OMTD Registry which is the entry point for everything offers a REST API; this is the API that also used from OMTD Registry UI. So, I assume that there is a way to call a workflow from your code (if you have an API key or something similar). For more info you should ask @antleb.

[2018-06-11 16:02] stephane54 commented on #35
Dear @gkirtzou,  so I try with a PDF corpus and I get an error :

I must say that the corpus is private.

CORPUS : Aging ISTEX - 8 PDF
Identifiers :
OMTD: 194e796e-402d-482c-8b37-8c7ef207f29f
OTHER: 5f1dac7e-ebab-4680-83c1-fc5d418a3925

APPS :
Identifiers :
OMTD: 4d06f311-f63e-4c13-95d2-374806d2ca36
OTHER: 0931732138536875-b2890b6d-ce5e-4bc0-a699-3763612cab78

[2018-06-12 02:30] jakelever opened #43 "Downloading lexical/conceptual resource"
Hi, our applications give output as lexical/conceptual resources. When I run the tool on a corpus and look at the output, I'm unable to download the files. This means the output is inaccessible as the result is not a corpus that can be viewed using the viewer. Is there any way to download the files?

For instance I ran:

Corpus: Variable Detection and Linking Corpus
https://services.openminted.eu/

[2018-06-12 07:47] gkirtzou commented on #35
@stephane54 I cannot see any application with that identifiers in the services. Could you send me its landing page?

[2018-06-12 07:55] gkirtzou commented on #35
@stephane54 Also could you tell me the structure of the workflow? Of which components is it composed? Their order? Did you set their parameters? With what values?

[2018-06-12 08:06] stephane54 commented on #35
In fact, I deleted this WF.  I realized that we couldn't modify the composition of a WF (even if no public status) ?  So my  WF was not  adapted for PDF documents because  my modification was not taken into account.
I'm  building and executing a new one on the same corpus
Identifiers
OMTD: 40680c20-a1b3-4ffc-8692-8fd3a8e06188
OTHER: 0931732138536875-228f429d-968d-416f-82bf-32f5d52eb2fa
You can hav

[2018-06-12 08:14] gkirtzou commented on #35
@stephane54
1) What do you mean you couldn't modify the composition of a WF, even if it was private. You can modify the workflow when it is private.

2) Could you please verify that the newly created application do follow the OMTD specs https://openminted.github.io/releases/workflow-editor/1.0.0/workflow ?
Because I can see it the the workflow engine as a history, but not even the omtdImporter has

[2018-06-12 08:40] pennyl67 commented on #43
Hi @jakelever
Indeed this is something we're working on and will be soon resolved.

In the meantime, I'm attaching herewith the output of this process.
[abbreviations.zip](https://github.com/openminted/Open-Call-Discussions/files/2093233/abbreviations.zip)

Shall I use the same corpus for running the OpenSesamIE application and send you the output?

[2018-06-12 08:56] jakelever commented on #43
Thank you but that's not necessary. Good to know it's being worked on.

Cheers, Jake

[2018-06-12 09:04] stephane54 commented on #35
Yes, I confirm that I could not modify a WF :
1 : edit a WF => 2 : delete a component => 3 : save => 4 : just register again the metada => 5 : edit again ====> The WF is in the same state that in stage 1

So , I build a new WF and It seems to work well. May I have my result  ?
CORPUS :
OMTD: 194e796e-402d-482c-8b37-8c7ef207f29f
OTHER: 5f1dac7e-ebab-4680-83c1-fc5d418a3925
WF Identifiers :
OMTD: 9d0

[2018-06-12 09:35] gkirtzou commented on #35
@stephane54 ok I will  report the issue of not being able to save the workflow after changes to the tech team.

The new workflow you created is **OMTD compliant** and it was able to run correctly. In the attachment you could find the results.

A few comments for the metadata of the worfklow:
- Please add yourself or the appropriate person/group/organization as resourceCreator for documentation rea

[2018-06-12 11:42] stephane54 commented on #35
Dear @gkirtzou,
I built two differents apps , one for French and the other for English (because we can not pass language as a parameter in a application, correct ?).
FR  :
OMTD: 9d00aca1-ddac-48dc-a153-28aed55f3cee
OTHER: 0931732138536875-f207154a-9921-4b85-bd49-f40fca645498
EN :
OMTD: 0a307354-8267-486f-b9df-b4768a90ea2e
OTHER: 0931732138536875-7fbb4684-dba8-4595-9f9e-3f4713638ab4

I have achieve

[2018-06-12 11:52] gkirtzou commented on #35
Correct, the applications are immutable items, that users cannot configure. So all required parameters must be defined by the TDM expert appropriately.

Here is the results from the two apps.
[Results.zip](https://github.com/openminted/Open-Call-Discussions/files/2093843/Results.zip)

Are they ok? Did you added the metadata that I suggested to the workflows?

[2018-06-12 13:46] stephane54 commented on #35
@gkirtzou, yes I do , you can check it now.  is it correct ?

[2018-06-12 13:51] gkirtzou commented on #35
@stephane54 yes I think the metadata of the apps are perfect. Could you make them public?

[2018-06-12 13:56] stephane54 commented on #35
It's already been done.  Everything seems to be under control. Now, can conclude we that this work is finished ?! (oufff).
Thanks to you, @gkirtzou and the others for your support.
Now, it could be great if we could use ours WFs in some others outside applications, with the possiblity to push a ISTEX corpus too by program. It was really very important for us.
Thanks  @gkirtzou (katerina).
@mhabsao

[2018-06-12 13:59] gkirtzou commented on #35
Ok perfect! The integration of your components to the OMTD platform is completed. Nothing is left, so I am closing the issue!

Cheers!

[2018-06-12 13:59] #35 closed, assigned to antleb, galanisd, mandiayba

[2018-06-20 14:00] martavillegas opened #44 "Problems when deploying web service (NLprot)"
We have deployed a WS as wrapper for a command line tool (NLProt) that reads PDF and returns a JSON (we understood that XMI was recommended but not compulsory).

you can run it:
curl -F cas=@input-test.pdf inb.bsc.es/service/openminted/process

[input-test.pdf](https://github.com/openminted/Open-Call-Discussions/files/2119601/input-test.pdf)

When running the app in test.openminted we get the foll

[2018-06-20 14:24] gkirtzou commented on #44
@martavillegas
the error you have mentioned is a know issue in the test.openminted.eu for the software that is registered as application (and is reported to the responsible tech team in the redmine, see issue 840)

Independent of that, we need first to insure that the software you provide is OMTD compliant to the specifications and guidelines for web services. The OMTD specifications and guideline

[2018-06-20 14:35] martavillegas commented on #44
Thanks! just two questions:

- we understood that apps differ from components in that they did not to consume/return XMI. Is this right? (that's why we changed to app)

- can we consume PDF files directly?

[2018-06-21 09:54] gkirtzou commented on #44
@martavillegas  To answer your first question what is the difference between a component and an application and what an application or a component can consume/produce, the OMTD interoperability specification say that :

In general, both components and applications can consume/produce whatever they want. For the components it is advisable to offer other components converters (readers/writers from/t

[2018-07-06 14:48] martavillegas commented on #44
Hi Katerina, we are back....

Our NLProt service reads and delivers MXI with DKPro Core type system. in this case do we need to uoload the typesystem (we understand it is already uploaded).

Thanks!

[2018-07-09 08:15] gkirtzou commented on #44
@martavillegas

That's great! In order to be compliant you need to update the metadata of the application/component by adding the typesystem details, as the guidelines mention:

Then you could try again to call you web service and see whether it works as expected.

[2018-07-11 11:00] martavillegas commented on #44
Sorry Katerina, but in case we use default type system, namely:

xmlns:type="http:///de/tudarmstadt/ukp/dkpro/core/api/metadata/type.ecore"
xmlns:type2="http:///de/tudarmstadt/ukp/dkpro/core/api/segmentation/type.ecore"

do we need to upload it in Maven?

[2018-07-11 11:18] reckart commented on #44
The DKPro Core type system is split over various "API" artifacts on Maven: http://search.maven.org/#search%7Cga%7C1%7Cde.tudarmstadt.ukp.dkpro.core.api

[2018-07-11 11:28] galanisd commented on #44
@reckart just said the one thing that I wanted to say

The typesystem that you use is already uploaded to maven central.  So you have just specify in the metadata its coordinates.  E.g. like

a. chebi web service

https://services.openminted.eu/landingPage/application/11dc2e5e-1cd8-40bf-a46f-df17664b3c77
->
**mvn:uk.ac.nactem.uima:ChebiCurationTypeSystem:0.1**

https://mvnrepository.com/artifact/u

[2018-07-11 14:01] martavillegas commented on #44
Thanks guys with the types!!

I updated the metadata with types (two coordinated from maven) but now when I try to run the application I get the following error message:

System error executing service (Server responded: #: 2 schema violations found)

[2018-07-12 06:50] gkirtzou commented on #44
@martavillegas Would be possible to send the xml file of the metadata with us, to check them?

[2018-07-12 08:34] martavillegas commented on #44
Sure!
[2c448b7c-6fe2-451f-b9d3-1426330251ef (2).zip](https://github.com/openminted/Open-Call-Discussions/files/2187774/2c448b7c-6fe2-451f-b9d3-1426330251ef.2.zip)

[2018-07-12 10:34] galanisd commented on #44
We have checked the workflow engine (Galaxy); it seems that the Galaxy wrapper that is required has been generated as it should.  The wrapper contains the command that will be executed from the generic web service executor that we have designed. The command seems correct and the executor was designed to support more that one typesystems. I remember also that I have tested it in such a case and it

[2018-07-12 11:25] martavillegas commented on #44
I registered the tool in services. When I run it I get:

There was a problem running the application. Try again in a while. (Unable to locate named workflow)

[2018-07-12 13:38] gkirtzou commented on #44
@martavillegas This is an know problem that used to be in test platform, maybe has been moved in the services as well (see here : http://redmine.openminted.eu/issues/840)

You can avoid this, if you register your software as a component and create a simple workflow using the workflow editor by adding the omtd_importer and the pdf reader (with parameter pattern="**/*.pdf"). In other words, by creat

[2018-07-13 10:22] martavillegas commented on #44
Ok, I registered the service as a component. When I go to galaxy editor I have one problem:
When I search for NLProt I get one result ("NLProt by kat") but if I browse I find three NLProts, the  'one by kat' and two identical NLProts (mine I guess)

[2018-07-13 10:55] martavillegas commented on #44
I created a workflow, with PDFreader and NLProt.
When I go to apps to run it I find two NLProt applications....

I tried to run the first one and got the message:
_There was a problem running the application. Try again in a while. (Unable to locate named workflow)_
I received an email message with a link. When I follow the link I get a white screen with this message:
_{"url":"http://services.openm

[2018-07-13 11:06] gkirtzou commented on #44
@martavillegas I have delete my private NLprot component ("NLProt by kat") so that you don't get confused.

I don't know what is causing this error. I would suggest to report it to the redmine, so that someone could have a look at it

I found a workflow with nlprot in the webservice engine, but it hasn't load any documents. Are you sure you followed the guidelines I sent you? Meaning is the **firs

[2018-07-13 12:53] martavillegas commented on #44
Hi,

sorry I'm afraid the initial workflow was wrong... I edited it again (following your instructions) and I get this message, thanks:

There was a problem running the application. Try again in a while. (a workflow state is in error: b445e1e784215eb6/a4128fc2307c4024/f44bd52ac458d92a/5c4779f75d735313)

[2018-07-13 13:04] gkirtzou commented on #44
@martavillegas did you initialize the parameter patterns with _**/*.pdf_ in the PDFreader? Because I found the workflow, but the PDFReader produced zero xmi files.

[2018-07-13 13:33] martavillegas commented on #44
![image](https://user-images.githubusercontent.com/6735707/42694171-c639a6b4-86b1-11e8-8f7b-ee3bfec90157.png)

I get the same error.....

[2018-07-13 13:44] gkirtzou commented on #44
The log from pdf reader shows that the pattern is patterns="**/.pdf", not **/*.pdf. Thus zero files matched the pattern and the workflow ended up with an error. Maybe you added it, but sometimes, galaxy editor/registry don't save it correctly. Could you verify by opening the workflow that the pattern is set correctly? And try again?

[2018-07-13 13:54] martavillegas commented on #44
I cannot edit the parameters. When I try to edit the workflow, galaxy does not display the parameters on the right panel. What I do is to delete the pdfreader and add another one, then I can edit. The screenshot shows the empty pannel....

I'm gona delete this workflow and create a new one ...

![image](https://user-images.githubusercontent.com/6735707/42695094-9ebb8d48-86b4-11e8-923a-91c1a63065c1

[2018-07-13 14:04] martavillegas commented on #44
I sent you the wrong schreenshot... the thing is that when I try to edit an existing workflow I get nothing on the right panel....

[2018-07-13 14:06] martavillegas commented on #44
Sorry, it failed again with the newly create workflow. I got this message:

There was a problem running the application. Try again in a while. (a workflow state is in error: 5b590cfdc83940a2/c5e4e2683b6e9022/d6f6ae8e19773cf9/349ddf9556a98b88)

[2018-07-13 14:17] gkirtzou commented on #44
PDF reader worked this time, so it produced XMI files from the PDFs. Below you would find the log from the omtd-webservice client. It seems that there is a problem with the webservice URI. It is correct?
[code]

[2018-07-13 14:24] martavillegas commented on #44
will check with Miguel.... thanks!

[2018-07-17 12:57] martavillegas commented on #44
Hi, I'm here again ....
Miguel, fixed the "not absolute URIs" problem but it seems something is wrong. I just run the application and I get an error:

There was a problem running the application. Try again in a while. (a workflow state is in error: 5b590cfdc83940a2/358acff37bc4d34d/6ef404cf6a7da0be/8b6129c80e356c68)

[2018-07-19 13:15] martavillegas commented on #44
@gkirtzou could you check our previous post? thanks!

[2018-07-20 07:06] gkirtzou commented on #44
@martavillegas Sorry I didn't see your comment on time. In the workflow service engine, I found that you tried to run your workflow 2 days again and the workflow seems to have stacked  at the NLProt component. Unfortunately, I couldn't find any log in the workflow engine slaves, that the docker (OMTD web service client) actually ran. Could you please give it another try to today and let me know, s

[2018-07-20 14:05] martavillegas commented on #44
Hi @gkirtzou thanks. I changed the URL and deleted the workflow just in case. When the workflow editor is back I'll build a new workflow and try again n(. Let you know... Thanks

[2018-07-24 15:04] martavillegas commented on #44
Hi @gkirtzou ,still getting the "Sorry, our editor is down at the moment, please try again later." message when trying to build a workflow. Did I miss anything?

[2018-07-25 07:03] gkirtzou commented on #44
@martavillegas  I confirm that the workflow editor is down. I have no  idea why it is not working. Please contact @antleb who is responsible for setting up the production site.

[2018-07-25 07:34] martavillegas commented on #44
@antleb it seems the workflow editor is down (has been down since last Friday). Thanks

[2018-07-25 07:35] antleb commented on #44
We are looking into it. I’ll let you know when it’s back online.

[2018-07-25 07:41] galanisd commented on #44
The Galaxy editor instance is up.
I think it has to do with the communication between Registry & Editor instance.

[2018-07-25 07:54] martavillegas commented on #44
@galanisd @antleb I still get the same error message (at 09:53)

_Sorry, our editor is down at the moment, please try again later._

[2018-07-25 08:05] greenwoodma commented on #44
Could it be that someone has started implementing the proxy rules to block access to the rest of the Galaxy instance and the editor has been accidentally included? This would explain why it's up but not embedded in the UI.

[2018-07-31 07:21] martavillegas commented on #44
Hi, I still get the same error message when trying to use the galaxy editor: "Sorry, our editor is down at the moment, please try again later.".